html {
    height : 100%;
}
body {
    margin           : 0;
    padding          : 0;
    font-size        : 90%;
    font-family      : sans-serif;
    background-color : white;
    height           : 100%;
    min-height       : 100%
}
pre {
    font-family : sans-serif;
    padding     : 0;
    margin      : 0 0 10px 0;
}
div, p, ul, ol, h1, h2, h3, h4, h5, h6 {
    padding : 0;
    margin  : 0;
}
a {
    text-decoration : none;
    color           : #3366ff;
    outline         : 0;
}
a:hover {
    color : #0000cc;
}
noscript p {
    display          : block;
    text-align       : center;
    font-size        : 100%;
    font-weight      : bold;
    color            : red;
    padding          : 10px;
    margin           : 30px 0 10px 30%;
    width            : 400px;
    background-color : #ffff99;
    border           : 1px solid red;
    border-radius    : 5px;

}
input {
    width     : 300px;
    height    : 25px;
    font-size : 20px;
}
form > div {
    margin  : 15px 0 3px 0;
}
form > div:last-child {
    margin  : 20px 0 10px 0;
}
form > div div:first-child {
    margin : 0 0 3px 0;
}
form label {
  font-weight : bold;
  font-size   : 85%;
}
form fieldset {
    border        : none;
    border-top    : 1px dotted grey;
    border-bottom : 1px dotted grey;
    width         : 150px;
    padding : 0 0 10px 0;
    margin  : 15px 0 15px 0;
}
form fieldset > div {
    margin  : 15px 0 3px 0;
}
form fieldset > div div:first-child {
    margin : 0 0 3px 0;
}
form input {
    width     : 300px;
    height    : 20px;
    font-size : 15px;
}
form textarea {
    width:     300px;
    height:    50px;
    font-size: 15px;
}
form select {
    width:         300px;
    font-size:     15px;
    margin:        0;
    padding:       4px;
    border:        1px solid #93b7cd;
    border-radius: 4px;

}
form button {
    margin : 10px 0;
}
table {
    border-collapse : collapse;
    border-spacing  : 0;
}
header {
    font-weight : bold;
}

#userpane {
    padding       : 10px 15px 10px 0;
    margin        : 0 22px 0 22px;
    border-bottom : 2px solid grey;
}
#userpane #logo {
    font-family      : Arial;
    font-size        : 20px;
    color            : white;
    background-color : #5c9ccc;
    margin           : 0;
    padding          : 5px;
    border-radius    : 5px;
}
#userpane #logo span {
    font-size   : 70%;
    font-family : monospace;
    color       : #ccc;
}
#userpane #top-navy-menu {
    clear       : both;
    list-style  : none;
    margin      : 0 0 0 0;
    padding     : 0 0 10px 0;
    font-family : sans-serif;
    position    : absolute;
    top         : 10px;
    right       : 10px;
}
#userpane #top-navy-menu > li {
    display     : inline;
    text-align  : center;
    margin      : 0 3px 0 0;
    padding     : 0;
    float       : left;
    border      : 1px solid white;
}
#userpane #top-navy-menu > li a {
    display      : block;
    font-weight  : bold;
    color        : black;
    padding      : 5px 10px 5px 10px;
}
#userpane #top-navy-menu > li a:hover {
    color            : white;
    background-color : #3366cc;
    font-weight      : bold;
    padding          : 5px 10px 5px 10px;
    border-radius    : 5px;
}

#userpane #top-navy-menu .selected {
    background-color     : #5c9ccc;
    color                : white;
    font-weight          : bold;
    border-radius        : 5px;
}
#userpane #top-navy-menu .selected a {
    color : white;
}
#userpane #top-navy-menu .dropmenu {
    background-color : #3366cc;
    position   : absolute;
    display    : none;
    min-width  : 210px;
    list-style : none;
    margin     : 3px 0 0 0;
    padding    : 5px 0 5px 0;
    text-align : left;
}
#userpane #top-navy-menu .dropmenu-down {
    display : block;
    z-index : 1000;
    -moz-border-radius-topleft     : 0px;
    -moz-border-radius-topright    : 5px;
    -moz-border-radius-bottomright : 5px;
    -moz-border-radius-bottomleft  : 5px;
    border-top-left-radius         : 0px;
    border-top-right-radius        : 5px;
    border-bottom-right-radius     : 5px;
    border-bottom-left-radius      : 5px;
}
#userpane #top-navy-menu .dropmenu li {
    padding : 0 5px 0 5px;
}
#userpane #top-navy-menu .dropmenu li a:hover {
    background-color : #f33;
}
#userpane #top-navy-menu .hover-item {
    background-color               : #3366cc;
    padding                        : 0 0 5px 0;
    -moz-border-radius-topleft     : 5px;
    -moz-border-radius-topright    : 5px;
    -moz-border-radius-bottomright : 0px;
    -moz-border-radius-bottomleft  : 0px;
    border-top-left-radius         : 5px;
    border-top-right-radius        : 5px;
    border-bottom-right-radius     : 0px;
    border-bottom-left-radius      : 0px;
}
#userpane #top-navy-menu .hover-item:hover {
    background-color : #3366cc;
}
#userpane #top-navy-menu .hover-item a {
    color : white;
}
#userpane #top-navy-menu .hover-item > a:hover {
    background-color : #3366cc;
}
#userpane #top-navy-menu #username {
    margin  : -3px 0;
}
#userpane #top-navy-menu #username img {
    float   : left;
    border  : 1px solid grey;
    margin  : 0;
}
#userpane #top-navy-menu #username a {
    displat : block;
    float   : right;
    margin  : 3px 4px 0 5px;
}

#footer {
    font-size  : 80%;
    clear      : both;
    height     : 30px;
    width      : 100%;
    border-top : 2px solid #ccccff;
    position   : relative;
    bottom     : 0px;
    text-align : center;
    margin     : 50px 0 0 0;
}
#footer div {
    padding : 7px;
}
#footer a {
    margin : 0 5px 0 5px;
}


.left {
    float : left;
}
.red {
    color : red;
}
.bold {
    font-weight : bold;
}
.font85 {
    font-size : 85%;
}
.hidden {
    display : none;
}
.nobr {
    white-space : nowrap;
}

.tbl {
    width: 100%;
    white-space: normal;
    border: 1px solid #99f;
    margin: 5px 0 5px 0;
}
.tbl caption {
    text-align: left;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.tbl thead tr {
    background-color: #5c9ccc;
}
.tbl thead tr th {
    font-size: 80%;
    text-align: left;
    padding: 5px 25px 5px 5px;
    color: black;

    background: #ccf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccf', endColorstr='#99f');
    background: -webkit-gradient(linear, left top, left bottom, from(#ccf), to(#99f));
    background: -moz-linear-gradient(top,  #ccf,  #99f);
}
.tbl tbody tr {
    border: 1px solid #99f;
    margin: 5px 0 0 0;
}
.tbl tbody tr td {
    text-align: left;
    padding: 5px 5px 3px 5px;
    font-size: 80%;
    height: 25px;
}
.tbl tbody tr td img {
    margin: 0;
    padding: 0;
    border: none;
}
.tbl tbody tr td pre {
    margin: 0;
}
.tbl tbody tr td input[type=checkbox] {
    width: 15px;
    padding: 0;
    margin: 0;
}
.tbl tbody tr td ul {
    display: block;
    list-style: none;
}
.tbl tbody tr td ul li span {
    float: right;
}
.tbl tbody .hl-row {
    background-color : #ffff66;
}
.tbl tbody .hl-red-row {
    background-color : #f88;
}
.tbl tbody tr td a {
    color: #36f;
}
.tbl-cols th,
.tbl-cols td {
    border-right: 1px solid #99f;
}
.active-tbl tbody tr:hover {
    background-color: #ffff99;
    cursor: pointer;
}
.user-tbl tbody tr td:first-child {
    width : 30px;
}
.user-tbl .control {
    text-align : right;
}
.user-tbl tbody tr td:first-child img {
    border : 1px solid #99f;
}
.events-tbl {
    margin-bottom: 15px;
    width:         auto;
}
.events-tbl caption {
    display: none;
}
.events-tbl thead tr th:first-child {
    width: 110px;
}
.events-tbl .hl-event-row {
    background-color: #dfb;
}
.events-update {
    padding: 0 0 15px 0;
}
.after-table-note {
    padding: 3px 0 0 0;
    font-size: 90%;
}

.to-button {
    cursor:         pointer;
    padding:        5px 13px 5px 13px;
    font-size:      90%;
    font-weight:    bold;
    font-family:    sans-serif;
    color:          #2b2b2b;
    border:         1px solid #3366cc;
    border-radius:  5px;
    background:     #ccf;
    filter:         progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbf', endColorstr='#99f');
    background:     -webkit-gradient(linear, left top, left bottom, from(#bbf), to(#99f));
    background:     -moz-linear-gradient(top,  #bbf,  #99f);
    border:         1px solid #999;
}
.to-button:hover {
    color:       #2b2b2b;
    background:  #ccf;
    filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#99f', endColorstr='#bbf');
    background:  -webkit-gradient(linear, left top, left bottom, from(#99f), to(#bbf));
    background:  -moz-linear-gradient(top,  #99f,  #bbf);
    border:      1px solid #999;
}
.red-button {
    background:     #f88;
    filter:         progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88', endColorstr='#f55');
    background:     -webkit-gradient(linear, left top, left bottom, from(#f88), to(#f55));
    background:     -moz-linear-gradient(top, #f88,  #f55);
}
.red-button:hover {
    filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55', endColorstr='#f88');
    background:  -webkit-gradient(linear, left top, left bottom, from(#f55), to(#f88));
    background:  -moz-linear-gradient(top, #f55,  #f88);
}
.block-button {
    display: block;
    margin:  0 0 25px 0;
}

.dev-button {
    display          : inline;
    margin           : 0 5px 0 0;
    padding          : 7px 12px;
    font-size        : 100%;
    color            : white;
    background-color : #5c9ccc;
    font-weight      : bold;
    border           : 1px solid #3366cc;
    border-radius    : 5px;
    cursor           : help;
    position         : relative;
}
span.dev-button .tooltip {
    display       : none;
    visibility    : hidden;
    padding       : 10px 13px;
    margin-top    : -60px;
    z-index       : 100;
    min-width     : 300px;
    position      : absolute;
    font-size     : 80%;
    background    : black;
    border-radius : 8px;
    box-shadow    : 1px 1px 10px rgba(0, 0, 0, 0.5);
    color         : #fff;
    transition    : all 0.4s ease-in-out;
}
span.dev-button:hover .tooltip {
    display    : block;
    visibility : visible;
    opasity    : 1;
}
span.dev-button .tooltip span {
    display : block;
}
.message {
    font-weight      : bold;
    color            : red;
    background-color : #ffff99;
    padding          : 10px;
    margin           : 30px 0 10px 0;
    width            : 400px;
    text-align       : center;
    border           : 1px solid red;
    border-radius    : 5px;
}
.neutral-message {
    font-weight      : bold;
    color            : #3366cc;
    background-color : #ccff99;
    padding          : 10px;
    margin           : 15px 0 15px 0;
    width            : 400px;
    text-align       : center;
    border           : 1px solid grey;
    border-radius    : 5px;
}
.neutral-message p {
    padding : 3px;
}
.small-message {
    color            : #333;
    background-color : #ccf;
    padding          : 5px;
    margin           : 10px 0 10px 0;
    text-align       : center;
    border           : 1px solid #36c;
    border-radius    : 5px;
}
.global-message {
    color            : black;
    background-color : #ccff99;
    padding          : 10px;
    margin           : 15px 0 0 20px;
    width            : 700px;
    text-align       : center;
    border           : 1px solid grey;
    border-radius    : 5px;
}
.note {
    color            : black;
    background-color : #ccf;
    padding          : 5px;
    margin           : 10px 0 10px 0;
    text-align       : center;
    border           : 1px solid #36c;
    border-radius    : 5px;
    width            : 450px;
}
.notfound {
    min-height : 520px;
    margin     : 25px;
    padding    : 0;
}
.notfound div {
    margin : 10px 0 0 0;
}
img.inline-preloader {
    display : inline-block;
    margin  : 0 5px -2px 0;
}

span.default-tooltip {
   cursor : help;
}
span.default-tooltip::after {
    font-size     : 80%;
    background    : rgba(0, 0, 0, 0.8);
    border-radius : 8px;
    box-shadow    : 1px 1px 10px rgba(0, 0, 0, 0.5);
    color         : #fff;
    content       : attr(data-tooltip);
    margin-top    : -24px;
    opacity       : 0;
    padding       : 5px 13px;
    position      : absolute;
    visibility    : hidden;
    transition    : all 0.4s ease-in-out;
}
span.default-tooltip:hover::after {
    opacity    : 1;
    visibility : visible;
}

.selected {
    color: red;
    font-weight: bold;
}
.form-error {
    color     : red;
    margin    : 0 0 0 5px;
    display   : block;
    font-size : 80%;
}
.payments-servers-tbl {
    width     : 100%;
    font-size : 80%;
    margin    : 10px 0 10px 0;
}
.payments-servers-tbl caption {
    text-align  : left;
    font-weight : bold;
    padding     : 0 0 5px 0;
}
.payments-servers-tbl thead tr th {
    text-align : left;
}
.payments-servers-tbl tbody tr td {
    padding : 3px 0 3px 0;
}
.payments-servers-tbl tbody tr:hover {
    background-color : #ff9;
}
.payments-servers-tbl tbody tr td:first-child {
    width : 230px;
}
.payments-servers-tbl thead tr th:last-child {
    text-align : right;
    width      : 100px;
}
.payments-servers-tbl tbody tr td:last-child {
    text-align : right;
}
.payments-servers-tbl .th-time {
    width : 150px;
}
.payments-servers-tbl .th-right {
    text-align : right;
    width : 110px;
    padding-right : 25px;
}
.payments-servers-tbl .td-right {
    text-align : right;
    padding-right : 25px;
}
.payments-servers-tbl tbody tr:last-child {
    border-top : 1px solid grey;
}
.payments-servers-tbl tbody tr:last-child td:last-child {
    font-weight : bold;
}

.payments-disks-tbl {
    width     : 100%;
    font-size : 80%;
    margin    : 10px 0 10px 0;
}
.payments-disks-tbl caption {
    text-align  : left;
    font-weight : bold;
    padding     : 0 0 5px 0;
}
.payments-disks-tbl tbody tr:hover {
    background-color : #ff9;
}
.payments-disks-tbl thead tr th {
    text-align : left;
}
.payments-disks-tbl tbody tr td {
    padding : 3px 0 3px 0;
}
.payments-disks-tbl tbody tr td:first-child {
    width : 230px;
}
.payments-disks-tbl thead tr th:last-child {
    text-align : right;
    width      : 100px;
}
.payments-disks-tbl tbody tr td:last-child {
    text-align : right;
}
.payments-disks-tbl .th-time {
    width : 150px;
}
.payments-disks-tbl .th-right {
    text-align    : right;
    width         : 110px;
    padding-right : 25px;
}
.payments-disks-tbl .td-right {
    text-align    : right;
    padding-right : 25px;
}
.payments-disks-tbl tbody tr:last-child {
    border-top : 1px solid grey;
}
.payments-disks-tbl tbody tr:last-child td:last-child {
    font-weight : bold;
}

.payments-tbl-total {
    font-weight : bold;
}
.payments-tbl-total span:last-child {
    float : right;
}

.destroy-button {
    font-size        : 90%;
    padding          : 7px 12px 7px 12px;
    color            : white;
    background-color : #f44;
    font-weight      : bold;
    border           : 2px solid #f66;
    border-radius    : 5px;
}
.destroy-button:hover {
    border-color : red;
    text-shadow : #f22 1px 1px 1px;
    cursor : pointer;
}
.destroy-button-disabled,
.destroy-button-disabled:hover {
    background-color : #ccc;
    color            : grey;
    border-color     : #999;
    text-shadow      : none;
}

.small-button {
    font-size : 90%;
    font-weight : bold;
    background-color : #ccf;
    color : #333;
    padding : 5px 10px 5px 10px;
    border  : 1px solid grey;
    border-radius         : 5px;
}
.small-button:hover {
    background-color : #aaf;
    color : #4d4d4d;
}


.lab-invoices-tbl {
    width : 100%;
    margin : 0 0 25px 0;
}
.lab-invoices-tbl caption {
    text-align  : left;
    font-weight : bold;
    padding     : 3px;
    margin      : 0 0 10px 0;
    border      : 1px solid #ccf;
    background-color : #ccf;
}
.lab-invoices-tbl thead {
    display : none;
}
.lab-invoices-tbl tbody tr td:nth-child(2) {
    text-align : right;
}
.lab-invoices-tbl tbody tr td:last-child {
    text-align : right;
    width : 120px;
}
.lab-invoices-tbl td {
    padding : 3px;
}
.lab-invoices-tbl tr:hover {
    background-color : #ff9;
    cursor: pointer;
}
.invoice-body {}
.invoice-body .prices {
    margin : 15px 0 5px 0;
    font-size : 90%;
}
.invoice-body .prices h4 {
    margin : 0 0 5px 0;
    padding : 0;
}
.invoice-body .prices table {
    width : 300px;
}
.invoice-body .invoice-tbl {
    width : 100%;
    margin : 25px 0 10px 0;
    padding : 0;
    font-size : 90%;
}
.invoice-body .invoice-tbl caption {
    text-align : left;
    font-weight : bold;
    padding : 0 0 5px 0;
}
.invoice-body .invoice-tbl .th-price,
.invoice-body .invoice-tbl .td-price {
    text-align : right;
    width : 100px;
}
.invoice-body .invoice-tbl thead tr {
    border : 1px solid #99f;
    background : #ccf;
}
.invoice-body .invoice-tbl thead tr th {
    text-align : left;
    padding : 3px;
}
.invoice-body .invoice-tbl tbody tr td {
    padding : 3px;
}
.invoice-body .invoice-tbl .th-left {
    width : 100px;
}
.invoice-body .invoice-tbl .th-right {
    text-align : right;
    width : 100px;
    padding : 0 35px 0 0;
}
.invoice-body .invoice-tbl .td-right {
    text-align : right;
    padding : 0 35px 0 0;
}
.invoice-body .invoice-tbl .time {
    width : 145px;
}
.invoice-body .invoice-tbl-total {
    font-weight : bold;
    padding : 3px;
    padding : 0 0 100px 0;
}
.invoice-body .invoice-tbl-total dl {
    width : 280px;
    float : right;
}
.invoice-body .invoice-tbl-total dl dt {
    float          : left;
    width          : 200px;
    padding        : 4px 0 4px 0;
    vertical-align : top;
    font-weight    : bold;
}
.invoice-body .invoice-tbl-total dl dd {
    margin  : 2px 0 2px 0;
    padding : 2px 0 2px 0;
    text-align : right;
}
.invoice-body .invoice-tbl-total dl dd:last-child {
    border-top : 1px solid grey;
}

.base-dl {
    font-size : 80%;
}
.base-dl dt {
    float          : left;
    width          : 100px;
    padding        : 4px 0 4px 6px;
    vertical-align : top;
    font-weight    : bold;
}
.base-dl dd {
    width   : 60px;
    margin  : 4px 0 4px 100px;
    padding : 4px 4px 4px 10px;
}


.unit-dl {
    margin    : 0 0 25px 0;
    font-size : 80%;
}
.unit-dl dt {
    display        : inline-block;
    float          : left;
    width          : 125px;
    padding        : 4px 0 4px 0;
    vertical-align : top;
    font-weight    : bold;
}
.unit-dl dd {
    display : block;
    margin  : 4px 0 4px 125px;
    padding : 4px 0 4px 0;
}
.unit-dl dd pre {
    margin : 0 0 0 100px;
}


div.plans {
    margin : 10px 0 0 0;
}
div.plans div.plan {
    float : left;
}
div.plans ul.notes {
    clear         : both;
    width         : 500px;
    padding       : 5px 0 5px 20px;
    margin        : 5px 0 5px 0;
    border        : 1px solid #aaf;
    border-radius : 5px;
    background-color : #ccf;
    font-family      : sans-serif;
}
div.plans div.personal-plan {
    clear     : both;
    font-size : 80%;
}

div.plan {
    text-align    : center;
    font-family   : Geneva, "MS Sans Serif", sans-serif;
    width         : 155px;
    min-height    : 240px;
    padding       : 5px;
    border        : 1px solid white;
    margin        : 0 0 15px 0;
    border-radius : 5px;
    background    : #ccf;
}
div.plan h4 {
    padding : 5px;
    min-height : 40px;
}
div.plan ul {
    list-style : none;
    border-radius : 5px;
    background-color : white;
}
div.plan ul li {
    padding       : 5px;
    margin        : 5px;
    border-bottom : 1px dashed #ccc;
}
div.plan ul li:last-child {
    border-bottom : none;
}
div.plan a {
    display : block;
    padding : 5px;
    margin  : 15px 3px 7px 3px;
    border           : 1px solid #66f;
    border-radius    : 5px;
    color            : black;
    font-weight      : bold;
    font-size        : 90%;
    background-color : #77f;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccf', endColorstr='#88f');
    background: -webkit-gradient(linear, left top, left bottom, from(#ccf), to(#88f));
    background: -moz-linear-gradient(top,  #ccf,  #88f);
}
div.plan span {
    display     : block;
    padding     : 5px;
    margin      : 15px 3px 7px 3px;
    color       : black;
    font-weight : bold;
    font-size   : 90%;
}
div.plan a:hover {
    background-color : #77f;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88f', endColorstr='#ccf');
    background: -webkit-gradient(linear, left top, left bottom, from(#88f), to(#ccf));
    background: -moz-linear-gradient(top,  #88f,  #ccf);
}

div.file {
    padding : 10px 0 10px 0;
}
div.file header {
    font-size : 90%;
    padding   : 3px;
}
div.file pre {
    background-color : #ccf;
    border-radius    : 3px;
    padding          : 10px;
    width            : 330px;
}
div.file pre code {
    margin : 0;
    padding : 0;
}


#show-server ul.small-buttons-pane {
    list-style:  none;
    overflow:    hidden;
    margin:      10px 0 10px 0;
}
#show-server ul.small-buttons-pane li {
    float:            left;
    padding:          5px 10px 5px 10px;
    margin:           0 -1px 0 0;
    border:           1px solid #66f;
    cursor:           pointer;
    font-weight:      bold;
    font-size:        80%;
    color:            #333;
    background-color: #aaf;
}
#show-server ul.small-buttons-pane li:hover {
    background-color: #88f;
}
#show-server ul.small-buttons-pane .disabled,
#show-server ul.small-buttons-pane .disabled:hover {
    background-color: #ddd;
    color:            #666;
}
#show-server div.server-mount-dialog .mount-tbl {
    margin : 0 0 20px 0;
}
#show-server div.server-mount-dialog .mount-tbl tbody tr td:first-child {
    width : 10px;
}
#show-server div.server-mount-dialog .mount-tbl tbody tr td:last-child {
    width: 70px;
}

.message-block {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    width: 500px;
    background-color: #ccff99;
}
.message-block h4 {
    text-align: center;
    color: #36c;
}
.message-block ul {
    margin: 15px 0 0 0;
    padding: 5px;
    list-style: disc inside;
}

