.content {
    margin: 20px 22px 0 22px;
    min-height: 600px;
}

.h-tbl {
    font-size : 85%;
}
.h-tbl caption {
    text-align  : left;
    font-weight : bold;
    margin      : 0 0 10px 0;
    padding     : 0 0 0 1px;
}
.h-tbl tbody tr td {
    padding        : 5px 25px 5px 0;
    vertical-align : top;
}
.h-tbl tbody tr td:first-child {
    font-weight : bold;
}

.short-lab-info {
    clear   : both;
    width   : 50%;
    border  : 1px solid grey;
    margin  : 0 0 10px 0;
    padding : 0 10px 35px 10px;
    border-radius : 5px;
}
.short-lab-info h3 {
    padding : 0;
    margin  : 10px 0 15px 0;
}
.short-lab-info .info {
    padding : 0 0 25px 0;
}
.short-lab-info .info img {
    border  : 1px solid grey;
    float   : left;
    margin  : -5px 5px 0 0;
}
.short-lab-info .info p {
    font-size : 80%;
}
.short-lab-info .join-link {
    font-weight : 600;
    font-size   : 120%;
    float       : right;
    margin      : -90px 0 0 0;
}
.short-lab-info .action-list {
    list-style : none;
    float      : right;
    margin     : -17px 0 0 0;
    padding    : 0;
}

.destroy-block {
    display: none;
    margin: 25px 0 0 0;
    padding: 13px 5px 13px 5px;
    width: 400px;
    text-align: center;
    border: 1px solid red;
    background-color: #ffff99;
    border-radius: 5px;
}
.destroy-block span {
    font-weight: bold;
}
.destroy-block > div {
    padding: 10px 0 0 0;
}

.widget {
    border    : 1px solid grey;
    margin    : 5px 5px 15px 0;
    font-size : 80%;
}
.widget h4 {
    border-bottom    : 1px solid grey;
    text-align : left;
    padding    : 5px 25px 5px 5px;
    margin     : 0;
    color      : #333;

    background: #ccf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccf', endColorstr='#99f');
    background: -webkit-gradient(linear, left top, left bottom, from(#ccf), to(#99f));
    background: -moz-linear-gradient(top,  #ccf,  #99f);
}
.widget h4 span {
    float   : right;
    margin  : 0 -20px 0 0;
}
.widget ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
}
.widget ul li {
    padding : 5px;
    margin  : 0;
}
.widget ul li:hover {
    background-color : #ff9;
}
.widget table {
    width  : 100%;
    margin : 0;
    white-space : normal;
}
.widget table .hl-row {
    background-color : #ff6;
}
.widget table tbody tr td {
    padding : 3px;
    margin  : 0;
}
.widget table tbody tr td:first-child {
    width : 35px;
}
.widget table tbody tr td:first-child img {
    border : 1px solid grey;
}
.widget table tbody tr:hover {
    background-color : #ff9;
}

#lab-header {
    margin : 0 0 30px 0;
    clear  : both;
}
#lab-header h2 {
    margin  : 0;
    padding : 0;
    float   : left;
}
#lab-header div.days-remained-info {
    clear   : both;
    float   : left;
    color   : #f33;
    padding : 0;
    margin      : -25px 0 0 0;
    font-size   : 80%;
    font-weight : bold;
}
#lab-header div.days-remained-warning {
    clear       : both;
    float       : left;
    color       : #111;
    background-color : #f99;
    border-radius    : 5px;
    border           : 1px solid #f44;
    padding     : 10px;
    margin      : -25px 0 10px 0;
    font-size   : 80%;
    font-weight : bold;
}
#lab-header div.lab-limit {
    float     : right;
    width     : 200px;
    max-width : 200px;
    border    : 1px solid white;
    border-top-left-radius  : 5px;
    border-top-right-radius : 5px;
}
#lab-header div.lab-limit:hover {
    background-color: #cf9;
    border: 1px solid #333;
}
#lab-header div.lab-limit h4 {
    text-align : center;
    color      : #333;
    font-size  : 75%;
}
#lab-header div.lab-limit > p {
    background-color : white;
    border        : 1px solid black;
    border-radius : 5px;
    min-height    : 10px;
    margin        : 2px;
    padding       : 0;
}
#lab-header div.lab-limit p span {
    background-color : blue;
    display          : block;
    min-height       : 10px;
    border-radius    : 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd', endColorstr='#f44');
    background: -webkit-gradient(linear, left center, right center, from(#fdd), to(#f44));
    background: -moz-linear-gradient(left,  #fdd,  #f44);
}
#lab-header div.lab-limit div.info {
    display  : none;
    position : absolute;
    z-index  : 1000;
    width    : 210px;
    padding  : 2px;
    margin   : 0;
    color    : black;
}
#lab-header div.lab-limit:hover div.info {
    background-color : #cf9;
    display : block;
    width   : 196px;
    border-left   : 1px solid #333;
    border-right  : 1px solid #333;
    border-bottom : 1px solid #333;
    border-bottom-left-radius  : 5px;
    border-bottom-right-radius : 5px;
    margin : 0 0 0 -1px;
    font-family   : Geneva, "MS Sans Serif", sans-serif;
    font-size   : 80%;
    font-weight : bold;
    color       : #111;
}
#lab-header div.lab-limit:hover div.info dl dt {
    width : 75px;
    float : left;
}
#lab-header div.lab-limit:hover div.info dl dd {
    text-align : left;
}
#lab-header .verify-block {
    clear         : both;
    float         : left;
    margin        : -25px 0 5px 0;
    padding       : 10px 15px 10px 15px;
    color         : #111;
    width         : 280px;
    text-align    : center;
    background-color : #f99;
    border-radius    : 5px;
    border           : 1px solid #f44;
}
#lab-header .verify-block div {
    margin      : 0 0 5px 0;
    font-weight : bold;
}
#lab-header ul {
    clear   : both;
    margin  : 0;
    padding : 7px 5px 5px 5px;
    border  : 1px solid #99f;
    border-radius : 5px;
    background    : #ccf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccf', endColorstr='#99f');
    background: -webkit-gradient(linear, left top, left bottom, from(#ccf), to(#99f));
    background: -moz-linear-gradient(top,  #ccf,  #99f);
}
#lab-header ul li {
    font-size: 90%;
    font-weight: bold;
    display: inline;
    padding: 5px 13px 5px 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#lab-header ul li #waiting-to-be-approved {
    font-size        : 90%;
    font-weight      : bold;
    background-color : #f55;
    opacity          : 0.9;
    color            : white;
    padding          : 2px 6px 2px 6px;
    margin           : 0;
    border-radius : 100px;
}
#lab-header ul li a {
    color : black;
}
#lab-header ul li:hover {
    margin: 0;
    background-color: white;
    color: black;
    border-bottom: 1px solid white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#lab-header ul li:hover a {
    color: black;
}
#lab-header ul .selected {
    margin: 0;
    border-top: 1px solid #99f;
    border-left: 1px solid #99f;
    border-right: 1px solid #99f;
    border-bottom: 1px solid white;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#lab-header .selected a {
    color : black;
}

#index > h4 {
    margin: 0 0 10px 0;
}
#index #my-lab-short-info {
    margin: 0 0 30px 0;
    width: 450px;
    overflow: hidden;
}
#index #my-lab-short-info h4 {
    padding: 0;
    margin: 0 0 8px 0;
}
#index #my-lab-short-info > div {
    border: 1px solid #999;
    padding: 6px;
    margin: 0 0 7px 0;
    border-radius: 3px;
    min-height: 70px;
}
#index #my-lab-short-info > div > h4 {
    padding: 5px;
    border-bottom: 1px dotted grey;
}
#index #my-lab-short-info > div > h4 span {
    font-weight: 100;
}
#index #my-lab-short-info > div > div img {
    padding: 0;
    margin: 0;
    float: left;
}
#index #my-lab-short-info > div > div a {
    display: block;
    overflow: hidden;
    padding: 15px 5px 5px 5px;
    min-height: 35px;
}
#index #my-lab-short-info .no-labs {
    text-align: center;
    padding: 13px 0 0 0;
}
#index #my-lab-short-info .no-labs a {
    display: inline;
    padding: 0;
    margin: 0;
}
#index #index-action-list {
    width: 300px;
    margin: 10px 0 15px 0;
    list-style: none;
    text-align: center;
}
#index #index-action-list li {
    padding: 6px 5px 6px 5px;
    margin: 0 0 5px 0;
    border: 1px solid #ccf;
    border-radius: 3px;

    background: white;
    background: -moz-linear-gradient(top,  #eef,  #ddf);
    background: -webkit-gradient(linear, left top, left bottom, from(#eef), to(#ddf));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef', endColorstr='#ddf');
}
#index #index-action-list li a {
    color: #0066cc;
}
#index #index-action-list li:hover {
    background-color: #ccc;

    background: white;
    background: -moz-linear-gradient(top,  #ddf,  #eef);
    background: -webkit-gradient(linear, left top, left bottom, from(#ddf), to(#eef));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddf', endColorstr='#eef');
}

#my-labs > h3 {
    margin : 0 0 5px 0;
}
#join > h3 {
    margin : 0 0 5px 0;
}

form.new-lab {
    min-height : 300px;
    width      : 450px;
    float      : left;
}
form.new-lab input[type=text] {
    width : 400px;
}
form.new-lab select {
    width : 400px;
}
form.new-lab .trial-info {
    margin           : 10px 0 5px 0;
    padding          : 5px;
    width            : 390px;
    background-color : #f99;
    border-radius    : 5px;
    border           : 1px solid #f44;
    text-align       : center;
}
form.new-lab .trial-info h4 {
    padding    : 0 0 5px 0;
    text-align : center;
}
form.new-lab .trial-info p {
    padding : 0px;
    margin  : 3px 0 3px 0;
}
#show-users #people-list {
    width      : 100%;
    border-top : 1px solid #ccc;
    margin     : 10px 0 0 0;
}
#show-users #people-list .row {
    display  : block;
    width    : 100%;
    overflow : hidden;
    clear    : both;
    margin   : 0 50px 0 0;
    border-bottom : 1px solid #ccc;
}
#show-users #people-list .user {
    width   : 30%;
    height  : 150px;
    padding : 15px 10px 15px 10px;
    margin  : 0;
    float   : left;
    border  : 1px dotted white;
}
#show-users #people-list .user:hover {
    background-color : #ffffcc;
}
#show-users #people-list .user .user-pic {
    float   : left;
    margin  : 0 10px 0 0;
}
#show-users #people-list .user .user-pic img {
    border  : 1px dotted grey;
    margin  : 0;
    padding : 5px;
}
#show-users #people-list .user .user-info {
    margin      : 0 0 0 75px;
    padding     : 0;
}
#show-users #people-list .user .user-info dl {
    height : 65px;
}
#show-users #people-list .user .user-info dl dt {
    float          : left;
    width          : 125px;
    font-weight    : bold;
    font-size      : 80%;
}
#show-users #people-list .user .user-info dl dd {
    margin    : 0 0 0 125px;
    word-wrap : break-word;
}

#show-user #user-profile {
    width   : 45%;
    padding : 10px 0 0 0;
}
#show-user #user-profile h4 {
    padding : 0 0 4px 0;
}
#show-user #user-labs {
    margin : 25px 0 0 0;
}
#show-user #user-labs table {
    width : auto;
}

div.projects-pane {
    margin : 0 0 30px 0;
}
div.projects-pane .projects-aside {
    float  : left;
    margin : 0 5px 35px 0;
}
div.projects-pane .projects-aside > ul:first-child {
    width      : 150px;
    padding    : 0;
    margin     : 0 0 5px 0;
    border     : 1px solid grey;
    list-style : none;
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccf', endColorstr='#99f');
    background : -webkit-gradient(linear, left top, left bottom, from(#ccf), to(#99f));
    background : -moz-linear-gradient(top,  #ccf,  #99f);
}
div.projects-pane .projects-aside > ul:first-child > li {
    padding     : 7px;
    font-weight : bold;
    font-size   : 90%;
    word-wrap   : break-word;
}
div.projects-pane .projects-aside > ul:first-child > li a {
    color : #111;
}
div.projects-pane .projects-aside > ul:first-child > li:nth-child(1) a,
div.projects-pane .projects-aside > ul:first-child > li:nth-child(2) a,
div.projects-pane .projects-aside > ul:first-child > li:nth-child(3) a {
    text-shadow : #cf9 1px 1px 1px;
}
div.projects-pane .projects-aside > ul:first-child > li:hover {
    background-color : #cf9;
}
div.projects-pane .projects-aside .p-pane {
    width   : 150px;
    padding : 0;
    margin  : 0 0 5px 0;
    border  : 1px solid grey;
    color   : #111;
}
div.projects-pane .projects-aside .p-pane > ul {
    list-style: none;
}
div.projects-pane .projects-aside .p-pane > ul li {
    font-weight: normal;
}
div.projects-pane .projects-aside .p-pane > ul li a {
    display: block;
    padding: 5px 5px 5px 5px;
    word-wrap: break-word;
}
div.projects-pane .projects-aside .p-pane a {
    color: #111;
}
div.projects-pane .projects-aside .p-pane > ul > li:hover {
    background-color: #cf9;
}
div.projects-pane .projects-aside .p-pane > ul > li:hover .menu {
    background-color: white;
}
div.projects-pane .projects-aside .p-pane > ul .selected {
    background: #ccf;
    font-weight: normal;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
div.projects-pane .projects-aside .p-pane h4 {
    word-wrap: break-word;
    padding: 7px;
    font-size: 80%;
    font-weight: bold;
    border-bottom: 1px solid grey;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccf', endColorstr='#99f');
    background: -webkit-gradient(linear, left top, left bottom, from(#ccf), to(#99f));
    background: -moz-linear-gradient(top,  #ccf,  #99f);
}
div.projects-pane .projects-aside .p-pane .menu {
    display: none;
    list-style: none;
    font-size: 90%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid grey;
}
div.projects-pane .projects-aside .p-pane > ul :last-child ul {
    border-bottom: none;
}
div.projects-pane .projects-aside .p-pane .menu a {
    margin: 0;
    padding: 5px 5px 5px 15px;
    display: inline-block;
}
div.projects-pane .projects-aside .p-pane .menu .selected {
    background-color: #ddf;
    border: none;
}
div.projects-pane .projects-aside .p-pane .menu li:hover {
    background-color: #cf9;
}
div.projects-pane .projects-aside .my-projects-pane h4:hover {
    background : #cf9;
}
div.projects-pane .pane-content {
    margin : 0 0 0 170px;
}
div.projects-pane .pane-content .project {
    margin        : 0 0 0 0;
    padding       : 10px 0 10px 10px;
    min-height    : 60px;
    border-top    : 1px dotted grey;
    border-left   : 1px dotted grey;
    border-right  : 1px dotted grey;
}
div.projects-pane .pane-content .project:last-child {
    border-bottom : 1px dotted grey;
}
div.projects-pane .pane-content .project-owner {
    float      : right;
    min-height : 45px;
}
div.projects-pane .pane-content .project-owner img {
    float  : left;
    border : 1px solid grey;
    margin : 0 9px 0 0;
}
div.projects-pane .pane-content .project:hover {
    background-color : #ff9;
    cursor           : pointer;
}
div.projects-pane .pane-content .project .desc {
    width : 60%;
}
div.projects-pane .pane-content .project .rel {
    font-size   : 80%;
    font-weight : bold;
    color       : #333;
}
div.projects-pane .pane-content .project-body .join-pane {
    margin : 0 0 0 100px;
}
div.projects-pane .pane-content .project-body .unsubscribe-pane {
    margin : 0 0 0 130px;
}
div.projects-pane .pane-content .project-body .action-list {
    float: right;
    list-style: none;
}
div.projects-pane .pane-content .project-body .action-list li {
    display: block;
    padding: 3px;
    margin: 0 0 2px 0;
    border: 1px solid #ccf;
    border-radius: 3px;
    text-align: center;
    font-size: 90%;

    background: white;
    background: -moz-linear-gradient(top,  #eef,  #ddf);
    background: -webkit-gradient(linear, left top, left bottom, from(#eef), to(#ddf));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef', endColorstr='#ddf');
}
div.projects-pane .pane-content .project-body .project-header {
    margin: 0 0 15px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid grey;
}
div.projects-pane .pane-content .add-members-button {
    margin : 15px 0 15x 0;
}
div.projects-pane .pane-content .members-tbl {
    margin : 15px 0 0 0;
}
div.projects-pane .pane-content .server-info .server-created-by {
    font-size : 80%;
}
div.projects-pane .pane-content .server-info .server-description {
    margin : 10px 0 5px 0;
}
div.projects-pane .pane-content .storage-info .storage-created-by {
    font-size : 80%;
}
div.projects-pane .pane-content .storage-info .storage-description {
    margin : 10px 0 5px 0;
}

#lab-dashboard .widget {
    border    : 1px solid grey;
    margin    : 5px 5px 15px 0;
    font-size : 80%;
}
#lab-dashboard .widget h4 {
    border-bottom : 1px solid grey;
    text-align : left;
    padding    : 5px 25px 5px 5px;
    margin     : 0;
    color      : #333;
}
#lab-dashboard .widget ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
}
#lab-dashboard .widget ul li {
    padding : 5px;
    margin  : 0;
}
#lab-dashboard .widget ul li:hover {
    background-color : #ff9;
}
#lab-dashboard .widget table {
    width  : 100%;
    margin : 0;
    white-space : normal;
}
#lab-dashboard .widget table tbody tr td {
    padding : 3px;
}
#lab-dashboard .widget table tbody tr td:first-child {
    width : 35px;
}
#lab-dashboard .widget table tbody tr:hover {
    background-color : #ff9;
}
#lab-dashboard-members-widget img {
    border : 1px solid grey;
    margin : 1px 3px 1px 1px;
}
#lab-dashboard #lab-dashboard-projects-widget {
    width : 32.8%;
    float : left;
}
#lab-dashboard #lab-dashboard-servers-widget {
    width : 32.8%;
    float : left;
}
#lab-dashboard #lab-dashboard-storages-widget {
    margin : 5px 0 15px 0;
    width  : 32.8%;
    float  : left;
}
.members-widget {
    clear : both;
    width : 32.8%;
}
.members-widget .members-widget-more {
    height : 35px;
}

.add-new-lab-member-form {
    display:        none;
    margin:         20px 0 0 0;
    border:         1px solid #8eff55;
    padding:        0 5px 5px 5px;
    width:          550px;
    background:     #ccf;
    border-radius:  5px;
}

div.server-instruction {
    background-color : #ffffcc;
    float         : right;
    width         : 300px;
    padding       : 5px;
    position      : relative;
    right         : 200px;
    border        : 1px solid black;
    border-radius : 5px;
}
div.server-instruction .intro {
    padding : 5px 0 0 3px;
}
div.server-instruction .shell-cmd,
div.server-instruction .shell-cmd-a {
    font-style:  oblique;
    font-size:   90%;
    font-weight: normal;
    color:       blue;
}
div.server-instruction .email-us {
    text-align : center;
    font-size  : 90%;
}
div.server-instruction h4 {
    text-align : center;
    margin     : 0 0 3px 0;
    padding    : 0 0 3px 0;
    border-bottom : 1px solid grey;
}
div.server-instruction ol {
    padding : 10px 0 10px 30px;
}
div.server-instruction ol li {
    padding : 3px 0 5px 0;
}
div.server-instruction ol li a {
    font-weight : bold;
}

#mount-unmount-table {
    width   : 650px;
    margin  : 0 0 35px 0;
}
#mount-unmount-table tbody tr td:first-child {
    width   : 10px;
    padding : 5px 0 5px 5px;
}
#mount-unmount-dialog .neutral-message {
    margin : 15px 0 15px 0;
}
#mount-unmount-dialog #dialog-mount-button {
    color   : white;
}

#show-server-log #summary {
    font-weight : bold;
}

#destroy-server form {
    width      : 300px;
    margin     : 0;
    padding    : 0;
    text-align : center;
    border     : 1px solid grey;
    border-radius : 5px;
}


#lab-projects #lab-projects-content {
    height    : 500px;
    margin    : 0;
    width     : 100%;
}
#lab-projects #lab-projects-content #lab-projects-aside {
    padding  : 0;
    display  : none;
    overflow : hidden;
}
#lab-projects #lab-projects-content #lab-projects-aside ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
}
#lab-projects #lab-projects-content #lab-projects-aside ul li {
    font-family : Geneva, "MS Sans Serif", sans-serif;
    padding   : 4px;
    font-size : 90%;
}
#lab-projects #lab-projects-content #lab-projects-aside ul li:hover {
    background-color : #ff9;
    cursor           : pointer;
}
#lab-projects #lab-projects-content #lab-projects-aside .hl-button {
    font-weight : bold;
}
#lab-projects #lab-projects-content #lab-projects-aside #create-button {
    border-bottom : 1px solid black;
}
#lab-projects #lab-projects-content #lab-projects-table {
    display : none;
    padding : 0;
}
#lab-projects #lab-projects-content #lab-projects-table > .neutral-message {
    margin : 10px 0 0 10px;
}
#lab-projects .project {
    margin        : 0 0 0 0;
    padding       : 10px 0 10px 10px;
    min-height    : 50px;
    border-top    : 1px dotted white;
    border-left   : 1px dotted white;
    border-rigth  : 1px dotted white;
    border-bottom : 1px dotted grey;
}
#lab-projects .project:hover {
    border           : 1px dotted grey;
    background-color : #ff9;
    cursor           : pointer;
}
#lab-projects .project h4 {
    padding : 0 0 3px 0;
    margin  : 0;
    color   : #36c;
}
#lab-projects .project .project-owner {
    width      : 270px;
    float      : right;
    min-height : 45px;
}
#lab-projects .project .project-owner img {
    float  : left;
    border : 1px solid grey;
    margin : 0 5px 0 0;
}
#lab-projects .project .project-owner p {
    min-height : 47px;
}
#lab-projects #server-storage-map .message {
    margin : 10px 0 0 10px;
}
#lab-projects #server-storage-map .map {
    clear         : both;
    overflow      : hidden;
    padding       : 10px;
    margin        : 0;
    padding       : 10px 10px 10px 10px;
    border-bottom : 1px dotted grey;
}
#lab-projects #server-storage-map .map .server-info {
    float   : left;
}
#lab-projects #server-storage-map .map table {
    float   : right;
    width   : 500px;
    margin  : 0;
    padding : 0;
}
#lab-projects #server-storage-map .neutral-message {
    float   : right;
    width   : 500px;
    margin  : 0;
    padding : 10px 0 10px 0;
}
.project-form {
    padding: 0 0 10px 0;
    margin: 0;
}
.project-form h4 {
    padding: 0;
    margin: 10px 0 5px 0;
}

#delete-project {
    padding : 10px 0 10px 10px;
    margin  : 0;
}
#delete-project div.objs {
    margin     : 0 0 10px 0;
}
#delete-project div.objs ul {
    list-style : none;
}
#delete-project #action-pane {
    margin : 25px 0 0 140px;
}


#lab-updates #content {
    margin : 30px 0 0 0;
}

#storages table {
    margin : 35px 0 0 0;
}

#server-mount table {
    margin : 15px 0 0 0;
}

.dl-list-block {
    float  : left;
    width  : 400px;
    margin : 0 0 15px 15px;
    border : 1px solid #ccf;
    border-radius : 5px;
}
.dl-list-block h4 {
    text-align : center;
    padding : 3px;
    margin  : 0;
    background-color : #ccf;
}
.dl-list-block .block {
    margin  : 0 0 15px 0;
    padding : 10px 0 0 0;
}
.dl-list-block .block dl {
    overflow : hidden;
    padding  : 10px;
    margin   : 0;
}
.dl-list-block .block dl dt {
    float       : left;
    width       : 150px;
    margin      : 0;
    padding     : 4px 0 0 0;
    font-weight : bold;
}
.dl-list-block .block dl dd {
    text-align : right;
    padding    : 4px 0 2px 0;
    margin     : 4px 0 2px 0;
}
.dl-list-block .block .dd-total {
    border-top : 1px solid grey;
}
.dl-list-block .foot-links {
    text-align : center;
}
.dl-list-block .foot-links a {
    display : block;
}
.dl-list-block .dl-active dt {
    cursor : pointer;
}
.dl-list-block .dl-active dd {
   cursor : pointer;
}

.lab-invoices {
    margin : 5px 0 0 0;
    width  : 300px;
}
.lab-invoices h4 {
    margin : 35px 0 0 0;
    padding       : 0 0 5px 0;
    border-bottom : 1px solid grey;
}
.lab-invoices table {
    width : 100%;
    margin : 0 0 10px 0;
}
.lab-invoices table tbody tr:hover {
    background-color : #ff9;
    cursor : pointer;
}
.lab-invoices table tbody tr td:first-child {
    font-weight : bold;
    width       : 80px;
}
.lab-invoices table tbody tr td:nth-child(2) {
    text-align : right;
}
.lab-invoices table tbody tr td:nth-child(3) {
    text-align : right;
}
.lab-invoices table tbody tr td:nth-child(4) {
    text-align : right;
}

.payments-sort-pane {
    list-style : none;
    overflow   : hidden;
    margin     : 0 0 15px 0;
    padding    : 0;
}
.payments-sort-pane li {
    float       : left;
    padding     : 5px 5px 5px 0;
    margin      : 0 5px 0 0;
    font-weight : bold;
    font-size   : 90%;
    text-shadow : white 1px 1px 1px;
}
.payments-sort-pane li:first-child {
    color : black;
}
.payments-sort-pane li a {
    color                 : #333;
    padding               : 5px 11px 5px 11px;
    border-radius         : 5px;
}
.payments-sort-pane .current a {
    background-color : #ccf;
}
.payments-by-project table {
    width     : 100%;
    font-size : 80%;
    margin    : 0 0 120px 0;
}
.payments-by-project table thead tr th {
    text-align : left;
}
.payments-by-project table tbody tr {
    border-top      : 1px solid grey;
    border-bottom   : 1px solid grey;
    border-collapse : collapse;
}
.payments-by-project table tbody tr:hover {
    background-color : #ff9;
    cursor           : pointer;
}
.payments-by-project table thead tr th {
   text-align : right;
}
.payments-by-project table tbody tr td {
    padding    : 5px 0 5px 0;
    text-align : right;
}
.payments-by-project table thead tr th:first-child,
.payments-by-project table tbody tr td:first-child {
    text-align : left;
}
.payments-by-project table tbody tr:last-child td {
    font-weight : bold;
}


.lab-prices {
    float    : right;
    width    : 350px;
    margin   : 0 0 15px;
    padding  : 10px;
    overflow : hidden;
    clear    : both;
    background-color : #ddf;
    border                : 1px solid #99f;
    border-radius         : 5px;
}
.lab-prices > h4 {
    font-size     : 90%;
    padding       : 0 5px 5px 40%;
    margin        : 0 0 10px 0;
    border-bottom : 1px solid black;
}
.lab-prices .block {
    font-size : 90%;
    margin    : 0 10px 0 0;
}
.lab-prices .block dl dt {
    float          : left;
    width          : 293px;
    padding        : 3px 0 3px 5px;
    font-weight    : bold;
    color : #333;
}
.lab-prices .block dl dd {
    margin  : 3px 0 3px 0;
    padding : 3px 0 3px 0;
    color : #0040ff;
    font-weight : bold;
}

.invoice-message {
    color       : red;
    font-weight : bold;
}
.invoice-message:first-letter {
    text-transform : uppercase;
}

.lab-payments-content {
    border-left: 1px solid #f63;
    margin     : 0 0 0 100px;
}

.current-month {
    font-size   : 90%;
    font-weight : bold;
    padding   : 0 0 5px 0;
    margin    : 0 0 15px 10px;
    border-bottom : 1px solid grey;
}
.current-month:first-letter {
    text-transform : capitalize;
}

.lab-payments-info {
    overflow : hidden;
}

.disk-cost {
    float     : right;
    width     : 60%;
    padding   : 5px;
}
.disk-cost p {
    padding : 3px;
}

.server-full-log table {
    width  : 100%;
    margin : 20px 0 0 0;
}
.server-full-log table caption {
    display : none;
}
.server-full-log table thead tr th {
    text-align : left;
}
.server-full-log table tbody tr:nth-last-child(2) {
}
.server-full-log table tbody tr:nth-last-child(2) td {
    padding : 5px 0 0 0;
}
.server-full-log table tbody tr:nth-last-child(2) td:first-child {
    font-weight : bold;
}
.server-full-log table tbody tr:last-child {
    border-top : 1px solid grey;
}
.server-full-log table tbody tr:last-child td:first-child {
    font-weight : bold;
}

.payments-months-bar {
    float        : left;
    width        : 100px;
    height       : 60%;
    border-right : 1px solid #f63;
    margin       : 0 10px 0 0;
}
.payments-months-bar ul {
    list-style : none;
}
.payments-months-bar ul li {
    padding : 5px;
}
.payments-months-bar ul li a {
    color       : #333;
    font-weight : bold;
    font-size   : 85%;
    text-shadow : white 1px 1px 1px;
}
.payments-months-bar ul .current {
    background-color : #ccf;
}
.payments-months-bar ul .now {
    background-color : #f63;
}

.server-mounted-storages {
    width  : 650px;
    margin : 25px 0 25px 0;
}
.server-mounted-storages caption {
    font-size : 80%;
}

.project-disk-info .project-disk-description {
    margin : 10px 0 5px 0;
}
.project-disk-mount-list {
    margin : 0 0 15px 0;
}

.left-bar {
    float        : left;
    width        : 100px;
    height       : 60%;
    border-right : 1px solid #f63;
    margin       : 0 10px 0 0;
}
.left-bar ul {
    list-style : none;
}
.left-bar ul li {
    padding : 5px;
}
.left-bar ul li a {
    color       : #333;
    font-weight : bold;
    font-size   : 85%;
}
.left-bar ul .selected {
    background-color : #ccf;
}
.left-bar ul .not-paid {}

.left-bar ul .border {
    border-bottom : 1px solid #f63;
}
.left-bar-content {
    min-width : 91.5%;
    border-left : 1px solid #f63;
    margin      : 0 10px 0 100px;
    padding     : 0 10px 0 10px;
}

.jui-slider-input {
    background-color : white;
    margin      : 0 0 10px -2px;
    padding     : 0;
    border      : 0;
    color       : #3366ff;
    font-weight : bold;
}
.jui-slider {
    margin : 5px 0 5px 0;
    width : 296px;
}

.storages-lab-limits {
    padding : 5px;
    margin  : 0;
    width   : 170px;
    border  : 1px solid #99f;
    border-radius    : 5px;
    background-color : #ddf;
}
.storages-lab-limits h4 {
    text-align    : center;
    border-bottom : 1px solid #99f;
}
.storages-lab-limits .free-size-dd {
    font-weight : bold;
}
.storages-lab-limits dl dd {
    text-align : right;
}

.servers-lab-limits {
    padding : 5px;
    margin  : 0;
    width   : 170px;
    border  : 1px solid #99f;
    border-radius    : 5px;
    background-color : #ddf;
}
.servers-lab-limits h4 {
    text-align:    center;
    border-bottom: 1px solid #99f;
}
.servers-lab-limits > h4 {
    margin : 0 0 10px 0;
}
.servers-lab-limits dl dd {
    text-align : right;
}

.server-form {
    width:      450px;
    min-height: 650px;
    float:      left;
}

.new-unit-aside-block {
    overflow: hidden;
}

.storage-form {
    width: 450px;
    min-height: 430px;
    float: left;
}
.storage-form #size {
    margin: 0 0 10px -2px;
    padding: 0;
    border: 0;
    color: #3366ff;
    font-weight: bold;
}
#storage-size-slider {
    width: 296px;
}

.lab-databases textarea {
    display : block;
}
.project-databases textarea {
    display : block;
}

.redirect-to-block div {
    width      : 500px;
    text-align : center;
    margin     : 10px;
    padding    : 10px;
}

h4.current-plan {
    width      : 155px;
    text-align : center;
    padding    : 0 0 5px 0;
}

form.upgrade-plan {
    width      : 400px;
    text-align : center;
}

div.lab-payments {}
div.lab-payments .years ul {
    list-style : none;
    margin     : 0 0 20px 0;
    min-height : 20px;
}
div.lab-payments .years ul li {
    padding : 5px 10px 5px 10px;
    margin  : 0 10px 0 0;
    float   : left;
    background-color : #ccf;
    border-radius    : 5px;
    font-weight      : bold;
}
div.lab-payments .years ul li a {
    color : #222;
}
div.lab-payments .years .current {
    background-color : #99f;
}
div.lab-payments .months {
    float  : left;
    margin : 0 10px 0 0;
}
div.lab-payments .months ul {
    list-style    : none;
    width         : 100px;
    border-right  : 1px solid #f63;
}
div.lab-payments .months ul li {
    padding     : 7px;
    color       : black;
    font-weight : bold;
    font-size   : 85%;
}
div.lab-payments .months ul li:hover {
    background-color : #ccf;
}
div.lab-payments .months .current {
    background-color : #99f;
}
div.lab-payments .months .current:hover {
    background-color : #99f;
}
div.lab-payments .months ul li a {
    color : #333;
}
div.lab-payments .plans {
    overflow : hidden;
}

.server-in-dev-tooltip {
    width : 400px;
}


div.vpn-intro {
    margin : 0 0 10px 0;
}
div.vpn-intro abbr {
    font-weight : bold;
}
div.vpn-common {
    border        : 1px solid grey;
    border-radius : 5px;
    width         : 400px;
}
div.vpn-common h4 a {
    color : black;
}
div.vpn-common em {
    color : blue;
}
div.vpn-common h4 {
    text-align : center;
    padding    : 3px;
}
div.vpn-common ul {
    margin  : 0;
    padding : 5px 5px 13px 30px;
}
div.vpn-os-list {
    margin        : 10px 0 10px 0;
    padding       : 10px 0 25px 0;
    border-bottom : 1px dotted grey;
}
div.vpn-os-list ul {
    padding : 10px 0 0 30px;
}
div.vpn-os {
    margin  : 25px 0 0 0;
    padding : 0 0 25px 0;
    border-bottom : 1px dotted grey;
}
div.vpn-os:last-child {
    border : none;
}
div.vpn-os .vpn-os-version {
    margin : 0;
}
div.vpn-os .vpn-os-version > ul {
    list-style : none;
    margin     : 15px 0;
}
div.vpn-os .vpn-os-version > ul > li {
    margin  : 7px 0 7px 0;
    padding : 15px;
    border  : 1px dotted #aaf;
    border-radius    : 5px;
    background-color : #eef;
}
div.vpn-os .vpn-os-version > ul > li p:first-child {
    padding : 0 0 5px 0;
}
div.vpn-os .vpn-os-version > ul > li > ol {
    padding : 0 0 10px 25px;
}
div.vpn-os .vpn-os-version > ul > li em {
    color : blue;
}
div.vpn-os img {
    border        : 1px solid #77f;
    border-radius : 5px;
}

ul.lab-types {
    list-style : none;
    margin     : 0 0 25px 0;
}
ul.lab-types:after {
    content : '';
    display : table;
    clear   : both;
}
ul.lab-types li {
    float   : left;
    margin  : 0;
    padding : 0;
}
ul.lab-types li a {
    font-weight : bold;
    padding     : 0 25px 0 0;
    margin      : 0;
}
ul.lab-types li .selected {
    color : #f33;
}

div.openvpn-ins .openvpn-os-list {
    margin        : 20px 0 20px 0;
    padding       : 0 0 10px 0;
    border-bottom : 1px dotted black;
}
div.openvpn-ins .openvpn-os-list header {
    margin : 0 0 5px 0 ;
}
div.openvpn-ins .openvpn-os-list ul {
    margin : 0 0 0 15px;
}
div.openvpn-ins div.openvpn-block {
    margin           : 10px 0 20px 0;
    padding          : 15px;
    background-color : #eef;
    border-radius    : 5px;
    border           : 1px dotted #aaf;
}
div.openvpn-ins ul.tunnelblick {
    margin : 0 0 0 15px;
}
div.openvpn-ins ul.tunnelblick li strong {
    color : #33f;
}
div.openvpn-ins ul.ins {
    margin     : 10px 0 0 0;
    list-style : none;
}
div.openvpn-ins ul.ins li {
    padding : 10px 0 0 0;
}
div.openvpn-ins ul.ins li p {
    font-weight : bold;
    font-size   : 90%;
}

div.all-labs table tr td:last-child {
    width : 200px;
}
/* */
div.sharing-sections {
    margin-top: -10px;
    padding: 0;
}
div.sharing-sections > ul:first-child {
    margin: 0 15px 0 0;
    list-style: none;
    overflow: hidden;
}
div.sharing-sections > ul:first-child li {
    float: left;
    padding: 5px;
    margin: 0 0 3px 0;
}
div.sharing-sections > ul:first-child li a {
    color: #36f;
    font-weight: bold;
}
div.sharing-sections > ul:first-child li.selected a {
    color: #f33;
}
.sharing-sections .sharing-body {
    overflow: hidden;
    margin: 10px 0 0 0;
    padding: 0;
}
.sharing-sections .sharing-body .neutral-message {
    margin: 0;
}
.sharing-sections .sharing-body table {
    margin: 0;
}
.sharing-sections .sharing-body .nfs-storages tr td:nth-child(2) {
    width: 80px;
}
.sharing-sections .sharing-body .nfs-storages tr td:nth-child(4) {
    width: 100px;
}
.sharing-sections .sharing-body .public-storages tr td:nth-child(1) {
    width: 20px;
}
.sharing-sections .sharing-body .public-storages tr td:nth-child(4) {
    width: 80px;
}
.sharing-sections .sharing-body .public-storages tr td:nth-child(6) {
    width: 50px;
}
.sharing-sections .sharing-body .public-storages tr td:nth-child(7) {
    width: 50px;
}
div.sharing-sections .my-share-block {
    padding:       5px;
    margin:        0 0 7px 0;
    border:        1px solid #9cf;
    border-radius: 3px;
    width:         600px;
}
div.sharing-sections .my-share-block .desc {
    font-size: 80%;
}
div.sharing-sections .my-share-block .size {
    color:       black;
    font-size:   90%;
    font-weight: bold;
}
div.sharing-sections .my-share-block ul {
    list-style: none;
    margin:     10px 0 0 0;
}
div.sharing-sections .my-share-block ul li span:last-child {
    float: right;
}
div.sharing-sections .shared-with-me-block {
    padding:       5px;
    margin:        0 0 7px 0;
    border:        1px solid #9cf;
    border-radius: 3px;
    width:         600px;
}
div.sharing-sections .shared-with-me-block .actions {
    float:      right;
    list-style: none;
}
div.sharing-sections .shared-with-me-block .actions a {
    display: list-item;
}
div.sharing-sections .shared-with-me-block .shared-by {
    font-size: 80%;
    padding:   3px 0 5px 0;
}
div.sharing-sections .shared-with-me-block .desc {
    font-size: 80%;
}
div.sharing-sections .shared-with-me-block table {
    width:      100%;
    margin:     9px 0 3px 0;
    border-top: 1px solid grey;
}
div.sharing-sections .shared-with-me-block table caption {
    text-align: left;
}
div.sharing-sections .shared-with-me-block table tr td:first-child {
    width: 100%;
}
/* */
ul.inline-sections {
    list-style: none;
}
ul.inline-sections li {
    display:     inline-block;
    padding: 5px 15px 5px 0;
    font-weight: bold;
    font-size:   90%;
}
ul.inline-sections li a {
    color: #36f;
}
ul.inline-sections li a:hover {
    color: blue;
}
ul.inline-sections li a.selected {
    color:       #f33;
    font-weight: bold;
}
.unit-rw-ro {
    font-weight: bold;
    font-size:   95%;
}
.unit-rw-ro .selected {
    color:       #f33;
    font-weight: bold;
}

.storage-nfs-mounts {
    margin: 15px 0 0 0;
    width: 650px;
}
.storage-sharings {
    margin: 15px 0 0 0;
    width:  650px;
}
.storage-sharing-dialog .labs-tbl tbody tr td {
    padding: 7px 0 7px 5px;
}
.storage-sharing-dialog .sharing-units p {
    font-size: 80%;
    font-weight: bold;
    padding: 5px 0 3px 0;
}
.storage-sharing-dialog .sharing-units p span {
    color: #f33;
}
.storage-sharing-dialog .sharing-units ul {
    list-style: none;
    margin: 0 0 5px 0;
}
.storage-sharing-dialog .sharing-units ul li {
    padding: 5px 5px 3px 5px;
    margin: 0 0 3px 0;
    border: 1px solid #ccf;
    border-radius: 3px;
}
.storage-sharing-dialog .sharing-units ul li input {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.storage-sharing-dialog .sharing-units ul li a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    padding: 0;
}
.storage-sharing-dialog .sharing-units ul li span {
    float: right;
}
.storage-sharing-dialog .sharing-units button {
    margin: 10px 0 10px 0;
    font-size: 80%;
}
table.mount-umount-storages {
    width:     100%;
    margin:    0 0 15px 0;
    font-size: 100%;
}
table.mount-umount-storages caption {
    font-weight: bold;
    padding:     0 0 5px 0;
}
table.mount-umount-storages tr {
    width:         100%;
    margin:        -2px 0 1px 0;
    border-top:    1px solid #ccf;
    border-bottom: 1px solid #ccf;
}
table.mount-umount-storages tr:hover {
    background-color: #ffc;
}
table.mount-umount-storages tr td {
    padding: 5px;
}
table.mount-umount-storages tr td:first-child {
    width: 25px;
}
table.mount-umount-storages tr td:first-child input {
    width: 15px;
}
table.mount-umount-storages tr td:last-child {
    text-align: right;
}

.cservers-side-block {
    margin: 0;
    padding: 0;
    width: 400px;
}
.cservers-side-block > h4 {
    padding: 0 0 10px 0;
}
.cservers-side-block > div {
    border: 1px solid #aaf;
    border-radius: 5px;
    margin: 0 0 5px 0;
    padding: 10px;
    cursor: pointer;
}
.cservers-side-block > div h3 {
    color: #36f;
    padding: 0 0 5px 0;
}
.cservers-side-block > div > ul {
    padding: 0 0 10px 15px;
}
.cservers-side-block > div.selected {
    background-color: #ff9;
    color: black;
    font-weight: normal;
}
.cservers-side-block > div.disabled {
    background-color: #ddd;
}

.nfs-mounted-to tr td:last-child {
    text-align: right;
}
.my-sharings tr td:last-child {
    text-align: right;
}

.help-sections {
    list-style: none;
    width: 150px;
    min-height: 300px;
    float: left;
    overflow: hidden;
    margin: 0 10px 0 0;
    padding: 0;
}
.help-sections li {
    padding: 3px 0 3px 0;
    border-bottom: 1px solid #ccf;
}
.help-sections li span {
    float: right;
    display: none;
}
.help-content {
    display: inline-block;
    border-left: 1px solid #ccf;
    padding: 0 0 0 15px;
    min-height: 300px;
}
.help-content-list {
    margin: 10px 0 15px 13px;
}
.help-block {
    margin: 0 0 15px 0;
}
.help-block h4 {
    padding: 0 0 5px 0;
}
.help-block ul {
    padding: 0 0 0 15px;
}
.help-block-img {
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #ccf;
    border-radius: 3px;
}
.help-block-img p {
    padding: 0 0 5px 0;
}
.help-block-img img {
    border: 1px solid #77f;
    border-radius: 3px;
    width: 500px;
}

.terms {
    margin: 20px 22px 0 25px;
}
.terms a {
    font-weight: bold;
}
.terms .terms-block {
    margin: 0 0 15px 0;
}
.terms .terms-block h2 {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid black;
}
.terms .terms-block p {
    margin: 5px 0 0 0;
}
.terms .terms-block ol {
    margin: 10px 0 10px 20px;
}

.contact-us a {
    font-weight: bold;
}
.contact-us .cu-block {
    margin: 10px 0 10px 0;
    padding: 10px 5px 10px 5px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 600px;
}
.contact-us .cu-block > p {
    margin: 0 0 3px 0;
    font-weight: bold;
}
.contact-us .cu-block div {
    margin: 10px 0 10px 0;
}

.team {
    margin: 0;
    width: 600px;
}
.team > div {
    min-height: 200px;
    padding: 5px;
}
.team > div img {
    width: 130px;
    height: 175px;
    float: left;
    margin: 0 15px 0 0;
    padding: 0 0 30px 0;
}
.team > div .n {
    display: none;
}
.team > div .url {
    font-weight: bold;
}
.team > div .role {
    text-decoration: underline;
}
.team > div .org {
    display: none;
}

.about h2 {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid black;
}
.about p {
    margin: 10px 0 15px 0;
}
.about a {
    font-weight: bold;
}

.help-plans h2 {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid black;
}
.help-plans .plans-table tr th {
    border-right: 1px solid #ccf;
    width: 300px;
}
.help-plans .plans-table tr td {
    border-right: 1px solid #ccf;
}
.plans-table tr td:nth-child(2) {
    background-color: #bf9;
}

.ds-view .attached-volumes {
    margin: 20px 0 0 0;
}
.ds-view .attached-volumes caption {
    font-size: 80%;
}
