ul {
    list-style: none;
    margin:     0 0 10px 0;
}
table {
    margin: 0;
}

div.content {
    margin:     15px 22px 30px 25px;
    min-height: 500px;
}
aside.menu {
    float:  left;
}
div.page-content {
    margin: 0 0 0 170px;
}

div.sum-block {
    padding:       5px;
    margin:        0 0 10px 0;
    border:        1px solid grey;
    border-radius: 5px;
    width:         300px;
}
div.sum-block h4 {
    text-align:       center;
    padding:          3px;
    background-color: #ccf;
}
div.sum-block dl {
    overflow: hidden;
    padding:  10px;
    margin:   0;
}
div.sum-block dl dt {
    float:       left;
    width:       140px;
    margin:      0;
    padding:     4px 0 0 0;
    font-weight: bold;
}
div.sum-block dl dd {
    text-align: right;
    padding:    4px 0 2px 0;
    margin:     4px 0 2px 0;
}

.left-months-bar {
    float        : left;
    width        : 100px;
    height       : 60%;
    border-right : 1px solid #f63;
    margin       : 0;
    padding      : 0;
}
.left-months-bar ul {
    list-style : none;
}
.left-months-bar ul li {
    padding : 5px;
}
.left-months-bar ul li a {
    color       : #333;
    font-weight : bold;
    font-size   : 85%;
    text-shadow : white 1px 1px 1px;
}
.left-months-bar ul .current {
    background-color : #ccf;
}
.left-months-bar ul .now {
    background-color : #f63;
}
.left-months-bar-content {
    border-left : 1px solid #f64;
    padding     : 0 0 0 10px;
    margin      : 0 0 0 100px;
}
.left-months-bar-content .current-month {
    border-bottom : 1px solid black;
    margin        : 0 0 10px 0;
}
.left-months-bar-content .current-month:first-letter {
    text-transform : uppercase;
}

.root-price-tbl {
    width : 300px;
    margin : 20px 0 20px 0;
}
.root-price-tbl caption {
    text-align  : left;
    font-weight : bold;
    padding     : 5px 0 5px 0;
}

.payments-content {
    border-left : 1px solid #f63;
    margin      : 0 0 0 100px;
    padding     : 0 0 0 10px;
}

.user-profile {
    margin : 0 0 10px 0;
}
.user-profile table tbody tr td:first-child {
    width : 250px;
    vertical-align : top;
}
.user-profile .tbl  {
    width : 400px;
}

.ul-tree {
    margin : 10px 0 0 20px;
}
.ul-tree .ul-tree-child {
    margin : 0 0 0 15px;
}
.ul-tree .ul-tree-child .frst {
    text-decoration : underline;
}

.total-prices {
    margin : 10px 0 30px 0;
}
.total-price {
    font-weight : bold;
}
.total-price span:first-child {
    float : left;
    width : 150px;
}

div.send-mail-content .neutral-message {
    width : 480px;
}
div.send-mail-content form input,
div.send-mail-content form textarea {
    width : 500px;
}
div.send-mail-content form textarea {
    height : 200px;
}
div.send-mail-content #mail-to {
    height : 70px;
}
form.edit-log select {
    width: 500px;
}
form.edit-log input[type="text"] {
    width: 500px;
}
form.edit-log textarea {
    height : 150px;
    width: 500px;
}
#crm-header h4 {
    margin-top: 20px;
}

.ds-view table {
    margin: 10px 0 0 0;
}
.ds-view table tbody tr td:first-child {
    width: 100px;
}
.ds-view .h-tbl {
    font-size: 85%;
}
.ds-view .h-tbl caption {
    text-align:  left;
    font-weight: bold;
    margin:      0 0 10px 0;
    padding:     0 0 0 1px;
}
.ds-view .h-tbl tbody tr td {
    padding:        4px 25px 5px 0;
    vertical-align: top;
}
.ds-view .h-tbl tbody tr td:first-child {
    font-weight: bold;
}
