.login-content {
    margin     : 3% 23% 0 23%;
    min-height : 520px;
}
.login-content .forget-password {
    font-size : 80%;
    margin    : 0 0 0 5px;
}

.signup-content {
    margin     : 3% 23% 0 23%;
    min-height : 350px;
}

div.restore-password-content {
    margin     : 3% 23% 0 23%;
    min-height : 520px;
}
div.restore-password-content form input {
    width : 420px;
}
div.renew-password-content {
    margin     : 3% 23% 0 23%;
    min-height : 520px;
}


#profile {
    margin : 3% 23% 10% 23%;
    width  : 500px;
}
#profile #gravatar {
    border-top : 1px solid black;
    padding    : 10px 100px 5px 0;
    margin     : 15px 0 70px 0;
}
#profile #gravatar img {
    border : 1px solid grey;
    float  : left;
    margin : 0 20px 10px 0;
}
#profile #gravatar p {
    font-weight: 600;
}
#profile #change-password {
    margin     : 20px 0 0 0;
    padding    : 20px 0 0 0;
    border-top : 1px solid black;
}
