{% if invoice %}
  <div>
    <h4>{{ lab.name }}</h4>
  </div>

  <form method="post">
    <div>
      <label for="server-cpu-price">SERVER CPU PRICE</label>
      <div><input id="server-cpu-price" name="server-cpu-price" type="text" value="{{ invoice.server_cpu_price }}" /></div>
    </div>
    <div>
      <label for="server-ram-price">SERVER RAM PRICE</label>
      <div><input id="server-ram-price" name="server-ram-price" type="text" value="{{ invoice.server_ram_price }}" /></div>
    </div>
    <div>
      <label for="server-size-price">SERVER SIZE PRICE</label>
      <div><input id="server-size-price" name="server-size-price" type="text" value="{{ invoice.server_size_price }}" /></div>
    </div>
    <div>
      <label for="disk-size-price">DISK SIZE PRICE</label>
      <div><input id="disk-size-price" name="disk-size-price" type="text" value="{{ invoice.disk_size_price }}" /></div>
    </div>
    <div>
      <div><label for="paid">Is paid</label></div>
      <div>
        <select id="paid" name="paid">
        {% for key, val in invoice.PAYMENTS.items() %}
          {% if val == invoice.paid %}
            <option selected="selected" value="{{ key }}">{{ key }}</option>
          {% else %}
          <option value="{{ key }}">{{ key }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
    </div>
    <div>
        <a class="to-button" href="#" onclick="updateInvoice({{ lab.id }}); return false">Update</a> or 
        <a href="#" onclick="loadInvoice({{ lab.id }}); return false;">Cancel</a>
    </div>
  </form>

{% endif %}
