{% if invoice %}
  <div>
    <a href="#" onclick="loadEditInvoice({{ lab.id }}); return false;">Edit</a>
  </div>

<div class="invoice-body">
  <div>
    <h4>{{ lab.name }}</h4>
    <div class="red bold">{{ invoice.paid_text }}</div>
  </div>

  <div class="prices">
    <h4>Prices</h4>
    <table>
      <tbody>
        <tr>
          <td>Server</td>
          <td>1 CPU core / hour</td>
          <td>&#36;{{ invoice.server_cpu_price }}</td>
        </tr>
        <tr>
          <td>Server</td>
          <td>1 GB RAM / hour</td>
          <td>&#36;{{ invoice.server_ram_price }}</td>
        </tr>
        <tr>
          <td>Server system disk</td>
          <td>1 GB / month</td>
          <td>&#36;{{ invoice.server_size_price }}</td>
        </tr>
        <tr>
          <td>Disk</td>
          <td>1 GB / month</td>
          <td>&#36;{{ invoice.disk_size_price }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% invoiceserverstable servers %}

  {% invoicediskstable disks %}

  {% if total %}
  <div class="invoice-tbl-total">
    <dl>
      <dt>Servers subtotal</dt>
      <dd>&#36;{{ "%0.2f"|format(servers_total) }}</dd>

      <dt>Disks subtotal</dt>
      <dd>&#36;{{ "%0.2f"|format(disks_total) }}</dd>

      <dt>Total</dt>
      <dd>&#36;{{ "%0.2f"|format(total) }}</dd>
    </dl>
  </div>
  {% endif %}

</div>
{% endif %}
