{% if future %}
  <div class="neutral-message">Future</div>
{% elif current %}
  <div class="neutral-message">Current month</div>
{% else %}
  {% if inv_not_paid or inv_paid %}
    <table class="tbl">
      <thead>
        <tr>
          <th>Lab name</th>
          <th>Price</th>
          <th>Is paid</th>
        </tr>
      </thead>
      <tbody>
        {% for lab, inv in inv_not_paid %}
          <tr>
            <td><a href="#" onclick="loadInvoice({{ lab.id }}); return false;">{{ lab.name }}</a></td>
            <td>{{ inv.price }}</td>
            <td>{{ inv.paid_text }}</td>
          </tr>
        {% endfor %}
        {% for lab, inv in inv_paid %}
          <tr>
            <td><a href="#" onclick="loadInvoice({{ lab.id }}); return false;">{{ lab.name }}</a></td>
            <td>{{ inv.price }}</td>
            <td>{{ inv.paid_text }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endif %}
