{% extends 'root/layout.html' %}

{% block title %} Edit user {% endblock %}

{% block content %}
<a href="/root/users/{{ xuser.id }}">&larr; Back to user info</a>

<h4>{{ xuser.full_name }}</h4>
<form method="post">
  <div>
    <div><label for="description">Description</label></div>
    <div>
      <textarea id="description" name="description">{{ xuser.description }}</textarea>
    </div>
  </div>
  <div>
    <button class="to-button">Update</button>
  </div>
</form>
{% endblock %}

