{% extends 'root/layout.html' %}

{% block title %} Dataset Volume | Edit {% endblock %}

{% block content %}
  <h4>Edit Dataset Volume</h4>
  <form method="post" class="edit-dataset">
    {{ log_message|messageformat }}
  <div>
      <div>{{ form.serial.label }}</div>
      <div>{{ form.serial(tabindex=1) }}</div>
      {{ form|formerror('serial') }}
  </div>
  <div>
      <div>{{ form.model.label }}</div>
      <div>{{ form.model(tabindex=2) }}</div>
  </div>
  <div>
      <div>{{ form.dataset_id.label }}</div>
      <div>{{ form.dataset_id(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.status.label }}</div>
      <div>{{ form.status(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.size.label }}</div>
      <div>{{ form.size(tabindex=4) }}</div>
  </div>
  <div>
      <div>{{ form.backup_id.label }}</div>
      <div>{{ form.backup_id(tabindex=5) }}</div>
  </div>
  <div>
      <div>{{ form.backup_type.label }}</div>
      <div>{{ form.backup_type(tabindex=6) }}</div>
  </div>
    <div>
      <button class="to-button">Update</button> or 
      <a href="/root/dataset/volume/{{ volume.id }}">Cancel</a>
    </div>
  </form>
{% endblock %}
