{% extends 'root/layout.html' %}

{% block title %} Edit lab cluster servers {% endblock %}

{% block content %}
<h4><a href="{{ lab.root_url }}">{{ lab.name }}</a></h4>
<form method="post">
    <table class="tbl">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for cserv, rel in lab_servers %}
            <tr>
                <td><input name="server_{{ cserv.id }}" type="checkbox" {% if rel %}checked{% endif %}></td>
                <td>{{ cserv.id }}</td>
                <td>{{ cserv.name }}</td>
                <td>
                    <select name="usage_type_{{ cserv.id }}">
                        {% for key, val in usage_types.items() %}
                        <option value="{{ val }}" {% if rel %}{% if val == rel.usage_type %}selected{% endif %}{% endif %}>{{ key }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="to-button">Update</button>
</form>
{% endblock %}
