{% extends 'root/layout.html' %}

{% block title %} Edit raid {% endblock %}

{% block content %}

<h4>Edit raid</h4>
<form method="post">
  {% for cdisk in cdisks %}
  <div>
    <input type="checkbox" id="{{ cdisk.id }}" name="{{ cdisk.id }}" checked="checked" />
    <label for="{{ cdisk.id }}">{{ cdisk.dev_path }}</label>
  </div>
  {% endfor %}
</form>
{% endblock %}
