{% extends "root/layout.html" %}

{% block title %} Disk &laquo;{{ storage.name }}&raquo;{% endblock %}

{% block init %}
setDescAutoResize('#description', '{{ dheight }}');
{% endblock %}

{% block content %}
<form method="post" id="edit-storage-form">
    <h4>Edit disk</h4>
    <div>
        <div><label for="name">Name</label></div>
        <div><input name="name" id="name" type="text" value="{{ storage.name }}" maxlength="30"></div>
    </div>
    <div>
        <div><label for="alias">Mount point name</label></div>
        <div>
        {% if can_edit %}
            <input name="alias" id="alias" type="text" value="{{ storage.alias }}" maxlength="30">
        {% else %}
            <input name="alias" id="alias" type="text" value="{{ storage.alias }}" maxlength="30" readonly="readonly">
            <span class="form-error">Already mounted</span>
        {% endif %}
        </div>
    </div>
    <div>
        <div><label for="description">Description</label></div>
        <div><textarea name="description" id="description" cols="10" rows="10">{{ storage.description }}</textarea></div>
    </div>
    <div>
        <div><label for="type">Type</label></div>
        <div>
        <select id="type" name="type" disabled>
            {% for type, id in storage.TYPES.items() %}
                {% if storage.type == id %}
                <option value="{{ id }}" selected>{{ type }}</option>
                {% else %}
                <option value="{{ id }}">{{ type }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
    </div>
    <div>
        <div><label for="project">Project</label></div>
        <div>
        <select id="project" name="project" disabled>
            {% for project in projects %}
                {% if project.id == storage.project_id %}
                <option selected="selected" value="{{ project.id }}">{{ project.name }}</option>
                {% else %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
    </div>
    <div>
        <div><label for="status">Status</label></div>
        <div>
        <select id="status" name="status">
            {% for key, val in storage.STATUS.items() %}
                {% if storage.status == val %}
                <option selected="selected" value="{{ val }}">{{ key|capitalize }}</option>
                {% else %}
                <option value="{{ val }}">{{ key|capitalize }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
    </div>
    <div>
        <button class="to-button">Update</button> or <a href="{{ storage.root_url }}">Cancel</a>
    </div>
</form>
{% endblock %}
