{% extends 'root/layout.html' %}

{% block title %} CRM - Edit Log {% endblock %}

{% block content %}
  <h4>Edit Communication Log</h4>
  <form method="post" class="edit-log">
    {{ log_message|messageformat }}
  <div>
      <div>{{ form.subject.label }}</div>
      <div>{{ form.subject(tabindex=1) }}</div>
      {{ form|formerror('subject') }}
  </div>
  <div>
      <div>{{ form.body.label }}</div>
      <div>{{ form.body(tabindex=2) }}</div>
  </div>
  <div>
      <div>{{ form.user_id.label }}</div>
      <div>{{ form.user_id(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.direction.label }}</div>
      <div>{{ form.direction(tabindex=4) }}</div>
  </div>
  <div>
      <div>{{ form.log_type.label }}</div>
      <div>{{ form.log_type(tabindex=5) }}</div>
  </div>
    <div>
      <button class="to-button">Update</button> or
      <a href="/root/crm">Cancel</a>
    </div>
  </form>
{% endblock %}
