{% extends 'root/layout.html' %}

{% block title %} Dataset Request | Edit {% endblock %}

{% block content %}
  <h4>Edit Dataset Request</h4>
  <form method="post" class="edit-dataset">
    {{ log_message|messageformat }}
  <div>
      <div>{{ form.status.label }}</div>
      <div>{{ form.status(tabindex=1)}}</div>
      {{ form|formerror('status') }}
  </div>
  <div>
      <div>{{ form.user_id.label }}</div>
      <div>{{ form.user_id(tabindex=2)}}</div>
  </div>
  <div>
      <div>{{ form.dataset_id.label }}</div>
      <div>{{ form.dataset_id(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.dataset_volume_id.label }}</div>
      <div>{{ form.dataset_volume_id(tabindex=4)}}</div>
  </div>
    <div>
      <button class="to-button">Update</button> or 
      <a href="/root/dataset/request/{{ request.id }}">Cancel</a>
    </div>
  </form>
{% endblock %}
