{% extends "root/layout.html" %}

{% block title %} Edit lab limits {% endblock %}

{% block content %}
{% if not plan.is_plan("Personal") %}
<div class="neutral-message">This is not "Personal" plan</div>
{% else %}
<form method="post">
    <h4>Edit lab limits</h4>
    <div>
        <div>{{ form.cpu_limit.label }}</div>
        <div>{{ form.cpu_limit }}</div>
        {{ form|formerror("cpu_limit") }}
    </div>
    <div>
        <div>{{ form.ram_limit.label }}</div>
        <div>{{ form.ram_limit }}</div>
        {{ form|formerror("ram_limit") }}
    </div>
    <div>
        <div>{{ form.storages_limit.label }}</div>
        <div>{{ form.storages_limit }}</div>
        {{ form|formerror("storages_limit") }}
    </div>
    <div>
        <button class="to-button">Update</button>
        or <a href="/root/labs/{{ lab.id }}">Cancel</a>
    </div>
</form>
{% endif %}
{% endblock %}
