{% extends 'root/layout.html' %}

{% block title %}Root{% endblock %}

{% block content %}
<div class="sum-block">
  <h4>Servers</h4>
  <dl>
    <dt>Running/All</dt>
    <dd>{{ run_servs|count }} / {{ all_servs|count }}</dd>
    <dt>CPU</dt>
    <dd>{{ cpu }}</dd>
    <dt>RAM</dt>
    <dd>{{ ram|sizeformat }} / {{ tot_ram|sizeformat }}</dd>
  </dl>
</div>

<div class="sum-block">
  <h4>Storages</h4>
  <dl>
    <dt>Count</dt>
    <dd>{{ storages|count }}</dd>
    <dt>Size</dt>
    <dd>{{ tot_sto_size|sizeformat }}</dd>
  </dl>
</div>
{% endblock %}
