<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8" />
  <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" >
  <title>{% block title %}{% endblock %} | {{ SITE_NAME }}</title>
  <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js?{{ TIMESTAMP }}"></script>
  <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="/static/js/jqgrid/i18n/grid.locale-en.js"></script>
  <script type="text/javascript" src="/static/js/jqgrid/jquery.jqGrid.min.js"></script>
  <script type="text/javascript" src="/static/js/common.js?{{ TIMESTAMP }}"></script>
  <script type="text/javascript" src="/static/js/root.js?{{ TIMESTAMP }}"></script>
  <script type="text/javascript" src="/static/js/autoresize.jquery.min.js?{{ TIMESTAMP }}"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.8.10.custom.css?{{ TIMESTAMP }}">
  <link rel="stylesheet" type="text/css" href="/static/css/ui.jqgrid.css?{{ TIMESTAMP }}">
  <link rel="stylesheet" href="/static/css/common.css?{{ TIMESTAMP }}" type="text/css">
  <link rel="stylesheet" href="/static/css/root.css?{{ TIMESTAMP }}" type="text/css">
  {% block head %}{% endblock %}
  <script type="text/javascript">
    $(function() {
      {% block init %}{% endblock %}
    });
  </script>
</head>

<body>
  <div id="userpane">
    <a href="/my" id="logo">{{ SITE_NAME }}</a>
    <ul id="top-navy-menu">
      <li id="username">
        <img src="{{ session.gravatar }}?size=30" alt="{{ session.username }}" title="{{ session.username }}">
        <a href="/profile">{{ session.username }}</a>
      </li>
      <li id="my" ><a href="/my">My Scale Genomics</a></li>
      <li class="selected"><a href="/root">Root</a></li>
      <li><a href="/my/help">Help</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>

  <div class="content">
    <aside class="menu">
      <ul>
        <li {% if section == "cservs" %}class="selected"{% endif %}><a href="/root/cluster/servers">Cluster servers</a></li>
        <li {% if section == "cdisks" %}class="selected"{% endif %}><a href="/root/cluster/disks">Cluster disks</a></li>
        <li {% if section == "labs" %}class="selected"{% endif %}><a href="/root/labs">Labs</a></li>
        <li {% if section == "resources" %}class="selected"{% endif %}><a href="/root/resources">Resources</a></li>
        <li {% if section == "limits" %}class="selected"{% endif %}><a href="/root/limits">Limits</a></li>
        <li {% if section == "users" %}class="selected"{% endif %}><a href="/root/users">Users</a></li>
        <li {% if section == "vpn" %}class="selected"{% endif %}><a href="/root/users/vpn">VPN users</a></li>
        <li {% if section == "vpn-conn" %}class="selected"{% endif %}><a href="/root/users/vpnconn">VPN connections</a></li>
        <li {% if section == "servs" %}class="selected"{% endif %}><a href="/root/servers/running">Servers</a></li>
        <li {% if section == "stors" %}class="selected"{% endif %}><a href="/root/storages/created">Disks</a></li>
        <li {% if section == "events" %}class="selected"{% endif %}><a href="/root/events">Last events</a></li>
        <li {% if section == "crm" %}class="selected"{% endif %}><a href="/root/crm">CRM Communication</a></li>
        <li {% if section == "dataset" %}class="selected"{% endif %}><a href="/root/datasets">Datasets</a></li>
        <li {% if section == "dataset_volumes" %}class="selected"{% endif %}><a href="/root/dataset/volumes">Dataset Volumes</a></li>
        <li {% if section == "dataset_requests" %}class="selected"{% endif %}><a href="/root/dataset/requests">Dataset Requests</a></li>
      </ul>
    </aside>
    <div class="page-content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <div id="footer">
    <div>
      &copy; 2010-&infin; {{ COPYRIGHT_NAME }} All Rights Reserved.
      <a href="http://scalegenomics.com/about/">About</a>
      <a href="http://scalegenomics.com/terms-of-service/">Terms of service</a>
      <a href="http://scalegenomics.com/team/">Contact us</a>
    </div>
  </div>
</body>
</html>
