{% extends 'root/layout.html' %}

{% block title %} Dataset | Create new {% endblock %}

{% block content %}
  <h4>Create new Dataset</h4>
  <form method="post" class="edit-dataset">
    {{ log_message|messageformat }}
  <div>
      <div>{{ form.title.label }}</div>
      <div>{{ form.title(tabindex=1) }}</div>
      {{ form|formerror('title') }}
  </div>
  <div>
      <div>{{ form.description.label }}</div>
      <div>{{ form.description(tabindex=2) }}</div>
  </div>
  <div>
      <div>{{ form.user_id.label }}</div>
      <div>{{ form.user_id(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.lab_id.label }}</div>
      <div>{{ form.lab_id(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.is_public.label }}</div>
      <div>{{ form.is_public(tabindex=4) }}</div>
  </div>
  <div>
      <div>{{ form.status.label }}</div>
      <div>{{ form.status(tabindex=5) }}</div>
  </div>
    <div>
      <button class="to-button">Create</button> or 
              <a href="/root/datasets">Cancel</a>
    </div>
  </form>
{% endblock %}
