{% extends "root/layout.html" %}

{% block title %} New cluster disk {% endblock %}

{% block content %}
<form method="post">
    <h4>New cluster disk</h4>
    <div>
        <div>{{ form.cserver.label }}</div>
        <div>{{ form.cserver(tabindex=1)}}</div>
    </div>
    <div>
        <div>{{ form.uuid.label }}</div>
        <div>{{ form.uuid(tabindex=2) }}</div>
    </div>
    <div>
        <div>{{ form.dev_path.label }}</div>
        <div>{{ form.dev_path(tabindex=3) }}</div>
        <div>{{ form|formerror("dev_path") }}</div>
    </div>
    <div>
        <div>{{ form.mount_id.label }}</div>
        <div>{{ form.mount_id(tabindex=4) }}</div>
        <div>{{ form|formerror("mount_id") }}</div>
    </div>
    <div>
        <div>{{ form.status.label }}</div>
        <div>{{ form.status(tabindex=5) }}</div>
        <div>{{ form|formerror("status") }}</div>
    </div>
    <div>
        <div>{{ form.free_size.label }}</div>
        <div>{{ form.free_size(tabindex=6) }}</div>
        <div>{{ form|formerror("free_size") }}</div>
    </div>
    <div>
        <div>{{ form.max_size.label }}</div>
        <div>{{ form.max_size(tabindex=7) }}</div>
        <div>{{ form|formerror("max_size") }}</div>
    </div>
    <div>
        <button class="to-button">Create</button> or
        <a href="/root/cluster/disks">Cancel</a>
    </div>
</form>
{% endblock %}
