{% extends 'root/layout.html' %}

{% block title %} Dataset Volume | Create new {% endblock %}

{% block content %}
{{ message|messageformat }}
{% if not datasets %}
<div class="neutral-message">Please create dataset first.</div>
{% else %}
<form method="post" class="edit-dataset">
  <h4>Create new Dataset Volume</h4>
  <div>
      <div>{{ form.serial.label }}</div>
      <div>{{ form.serial(tabindex=1) }}</div>
      {{ form|formerror('serial') }}
  </div>
  <div>
      <div>{{ form.model.label }}</div>
      <div>{{ form.model(tabindex=2) }}</div>
      {{ form|formerror('label') }}
  </div>
  <div>
      <div>{{ form.dataset_id.label }}</div>
      <div>{{ form.dataset_id(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.status.label }}</div>
      <div>{{ form.status(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.size.label }}</div>
      <div>{{ form.size(tabindex=4) }}</div>
  </div>
  <div>
      <div>{{ form.backup_id.label }}</div>
      <div>{{ form.backup_id(tabindex=5) }}</div>
  </div>
  <div>
      <div>{{ form.backup_type.label }}</div>
      <div>{{ form.backup_type(tabindex=6) }}</div>
  </div>
    <div>
      <button class="to-button">Create</button> or
              <a href="/root/dataset/volumes">Cancel</a>
    </div>
</form>
{% endif %}
{% endblock %}
