{% extends 'root/layout.html' %}

{% block title %} Dataset Request | Create new {% endblock %}
{% block head %}
<script type="text/javascript" src="/static/js/root_ds_request.js?{{ TIMESTAMP }}"></script>
{% endblock %}
{% block init %}
  bindUpdateVolumes() 
{% endblock %}
{% block content %}
{{ message|messageformat }}
{% if not datasets %}
<div class="neutral-message">Please create dataset first.</div>
{% else %}
<form method="post" class="edit-dataset">
  <h4>Create new Dataset Request</h4>
  <div>
      <div>{{ form.status.label }}</div>
      <div>{{ form.status(tabindex=1)}}</div>
      {{ form|formerror('status') }}
  </div>
  <div>
      <div>{{ form.user_id.label }}</div>
      <div>{{ form.user_id(tabindex=2)}}</div>
  </div>
  <div>
      <div>{{ form.dataset_id.label }}</div>
      <div>{{ form.dataset_id(tabindex=3)}}</div>
  </div>
  <div>
      <div>{{ form.dataset_volume_id.label }}</div>
      <div>{{ form.dataset_volume_id(tabindex=4)}}</div>
  </div>
    <div>
      <button class="to-button">Create</button> or
              <a href="/root/dataset/requests">Cancel</a>
    </div>
</form>
{% endif %}
{% endblock %}
