{% extends 'root/layout.html' %}

{% block title %} New raid {% endblock %}

{% block content %}

{{ message|messageformat }}

<form method="post">
  <div>
    {% for cserver, cdisks in cdisks %}
    <header>{{ cserver.name }}</header>
    {% for cdisk in cdisks %}
    <div>
      <input type="checkbox" id="{{ cdisk.id }}" name="{{ cdisk.id }}" />
      <label for="{{ cdisk.id }}">{{ cdisk.dev_path }} ( {{ cdisk.uuid }} )</label>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  <div>
    <button class="to-button">Create</button> or
    <a href="/root/cluster/raids">Cancel</a>
  </div>
</form>

{% endblock %}
