{% extends 'root/layout.html' %}

{% block content %}

<a href="{{ xuser.root_url }}">&larr; Back to user info</a>

<form method="post">
  <div>
    <div><label for="username">Username</label></div>
    <div><input id="username" name="username" type="text" {% if invited_by %}value="{{ invited_by.username }}"{% endif %}/></div>
  </div>
  <div>
    <button class="to-button">Update</button>
  </div>
</form>

{% endblock %}
