{% extends 'root/layout.html' %}

{% block title %} CRM - Log Communications {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/root_crm.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
showCRMCommunicationsTable();
{% endblock %}

{% block content %}
{% if user.staff_role == user.STAFF_ROLES["ADMIN"]
   or  user.staff_role == user.STAFF_ROLES["CRM"]%}
  <div class="block-button">
    <a class="to-button" href="/root/crm/log/new">New log</a>
  </div>
{% endif %}
    <table id="crm-logs-tbl"></table>
    <div id="crm-logs-pager"></div>
{% endblock %}