{% extends 'root/layout.html' %}

{% block title %} Disk &laquo;{{ storage.name }}&raquo;{% endblock %}

{% block content %}

<div id="show-storage">
    <h2><a href="{{ storage.url }}">{{ storage.name }}</a></h2>
    <div>Created by <a href="{{ owner.url }}">{{ owner.full_name }}</a></div>
    <div class="project-disk-description">{{ storage.ptag('description') }}</div>

    <dl class="unit-dl">
        <dt>Mount point</dt>
        <dd>{{ storage.alias }}</dd>

        <dt>Size</dt>
        <dd>{{ storage.size_str }}</dd>

        <dt>Status</dt>
        <dd class="storage-status">{{ storage.status_str }}</dd>

        <dt>Type</dt>
        <dd>{{ storage.type_str }}</dd>

        <dt>Project</dt>
        <dd><a href="{{ project.url }}">{{ project.name }}</a></dd>

        <dt>Created</dt>
        <dd>{{ storage.created|datetimeformat }}</dd>

        <dt>Updated</dt>
        <dd>{{ storage.updated|datetimeformat }}</dd>

        {% if storage.is_type("LOCAL") %}
        <dt>Mounted on</dt>
        <dd>
            {% if rel %}
            <a href="{{ rel[0].url }}">{{ rel[0].name }}</a>
            {% else %}
            &nbsp;
            {% endif %}
        </dd>
        {% endif %}
    </dl>

    {% if user.is_staff_role("ADMIN") %}
    <div class="storage-action-list">
        <a class="to-button" href="{{ storage.root_url }}/edit">Edit</a>
    </div>
    {% endif %}

</div>

{% endblock %}
