{% extends "root/layout.html" %}

{% block title %} Disks {% endblock %}

{% block content %}
<ul>
  <li {% if page == 'created' %} class="selected" {% endif %}>
    <a href="/root/storages/created">Created</a>
  </li>
  <li {% if page == 'lost' %} class="selected" {% endif %}>
    <a href="/root/storages/lost">Lost</a>
  </li>
</ul>
<table class="tbl">
  <thead>
    <tr>
      <th>Id</th>
      <th>Where</th>
      <th>Name</th>
      <th>User</th>
      <th>Size</th>
      <th>Type</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for user, storage, cserv, rel in storages %}
    <tr>
      <td>{{ storage.id}}</td>
      <td>{{ cserv.name }}</td>
      <td><a href="{{ storage.root_url }}">{{ storage.name }}</a></td>
      <td><a href="{{ user.root_url }}">{{ user.full_name }}</a></td>
      <td>{{ storage.size|sizeformat }}</td>
      <td>{{ storage.type_str }}</td>
      <td class="nobr">{{ storage.created|datetimeformat }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td>{{ storages|count }}</td>
        <td></td>
        <td>{{ total_size|sizeformat }}</td>
        <td></td>
        <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}
