{% extends 'root/layout.html' %}

{% block title %} Dataset Volume details {% endblock %}

{% block content %}
<div class="ds-view">
{% if user.staff_role == user.STAFF_ROLES["ADMIN"]%}
<a href="/root/dataset/volume/{{ volume.id }}/edit">Edit volume</a> or
<a href="/root/dataset/volume/new">new volume</a>
{% endif %}

<table class="h-tbl">
    <caption>Dataset Volume details</caption>
    <tbody>
    <tr>
        <td>DataSet</td>
        <td><a href="{{ dataset.root_url }}">{{ dataset.title }}</a></td>
    </tr>
    <tr>
        <td>Serial</td>
        <td>{{ volume.serial }}</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>{{ volume.model }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ volume.status_str }}</td>
    </tr>
    <tr>
        <td>Size</td>
        <td>{{ volume.size|sizeformat }}</td>
    </tr>
    <tr>
        <td>Backup</td>
        <td>{{ volume.backup_id }}</td>
    </tr>
    <tr>
        <td>Backup Type</td>
        <td>{{ volume.backup_type_str }}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{ volume.created|datetimeformat }}</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>{{ volume.updated|datetimeformat }}</td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}
