{% extends 'root/layout.html' %}

{% block title %} CRM - Log Communications {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/events.js"></script>
{% endblock %}

{% block init %}
levents = new LastEvents('/root/crm/get');
levents.update();
levents.bind_scroll();
{% endblock %}

{% block content %}
<p class="new-log">
    <a href="crm/log/new"> New Log </a>
</p>
<div class="events-block">  
  <table class="tbl events-tbl">
    <thead>
      <tr>
        <th>Date</th>
        <th>Communication Log</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}