{% extends 'root/layout.html' %}

{% block title %} Send mail {% endblock %}

{% block init %}
$('#mail-body').autoResize({animateDuration : 300, extraSpace : 20});
{% endblock %}

{% block head %}
<script type="text/javascript">
  function selectActiveUsers() {
  $('#mail-to').html("{{ users }}");
  }
</script>
{% endblock %}

{% block content %}
<div class="send-mail-content">
  <div class="neutral-message">
    <header>Send email from support@scalegenomics.com</header>
  </div>

  {{ message|messageformat }}

  <form method="post" class="send-mail">
    <div>
      <div>{{ form.mail_to.label }} (<a href="#" onclick="selectActiveUsers();return false;">active users</a>)</div>
      <div>{{ form.mail_to(tabindex=1) }}</div>
      {% if 'mail_to' in form.errors %}
      <span class="form-error">{{ form.errors['mail_to'][0] }}</span>
      {% endif %}
    </div>
    <div>
      <div>{{ form.subject.label }}</div>
      <div>{{ form.subject(tabindex=2) }}</div>
      {% if 'subject' in form.errors %}
      <span class="form-error">{{ form.errors['subject'][0] }}</span>
      {% endif %}
    </div>
    <div>
      <div>{{ form.body.label }}</div>
      <div>{{ form.body(tabindex=3) }}</div>
      {% if 'body' in form.errors %}
      <span class="form-error">{{ form.errors['body'][0] }}</span>
      {% endif %}
    </div>
    <div>
      <button class="to-button">Send</button> or
      <a href="/root">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
