{% extends 'root/layout.html' %}

{% block title %} VPN users {% endblock %}

{% block content %}
{{ message|messageformat }}
<a href="/root/regenppp">Regen PPP</a>
<table class="tbl">
  <thead>
    <tr>
      <th>Full name</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td><a href="{{ user.root_url }}">{{ user.full_name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
