{% extends 'root/layout.html' %}

{% block title %}Disks{% endblock %}

{% block content %}
{% if user.is_staff_role("ADMIN") %}
<p><a href="/root/cluster/disks/new">New</a></p>
<p><a href="/root/cluster/disks/update">Update</a></p>
{% endif %}
<table class="tbl">
    <thead>
        <tr>
            <th>Server</th>
            <th>Uuid</th>
            <th>Dev path</th>
            <th>Mount point</th>
            <th>Status</th>
            <th>Free size</th>
            <th>Max size</th>
        </tr>
    </thead>
    <tbody>
        {% for server, disk in disks %}
        <tr>
            <td>{{ server.name }}</td>
            <td><a href="{{ disk.url }}">{{ disk.uuid }}</a></td>
            <td>{{ disk.dev_path }}</td>
            <td>{{ disk.mount_id }}</td>
            <td>{{ disk.status_str }}</td>
            <td>{{ disk.free_size }}</td>
            <td>{{ disk.max_size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
