{% extends 'root/layout.html' %}

{% block title %} Servers {% endblock %}

{% block content %}
<ul>
  <li {% if page == 'running' %} class="selected" {% endif %}>
    <a href="/root/servers/running">Running</a>
  </li>
  <li {% if page == 'removed' %} class="selected" {% endif %}>
    <a href="/root/servers/removed">Removed</a>
  </li>
  <li {% if page == 'others' %} class="selected" {% endif %}>
    <a href="/root/servers/others">Others</a>
  </li>
</ul>

<table class="tbl">
  <thead>
    <tr>
      <th>Id</th>
      <th>Where</th>
      <th>Name</th>
      <th>User</th>
      <th>RAM</th>
      <th>Status</th>
      <th>Ip</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for user, server, cserv in servers %}
    <tr>
      <td>{{ server.id }}</td>
      <td>{{ cserv.name }}</td>
      <td>
        <a href="{{ server.root_url }}"> {{ server.name }}</a>
      </td>
      <td><a href="{{ user.root_url }}">{{ user.full_name }}</a></td>
      <td>{{ server.memory_str }}</td>
      <td>{{ server.status_str }}</td>
      <td>{{ server.ip }}</td>
      <td class="nobr">{{ server.created|datetimeformat }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Total</td>
      <td></td>
      <td>{{ len_servers }}</td>
      <td></td>
      <td>{{ total_ram|sizeformat }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}
