{% extends 'root/layout.html' %}

{% block title %} Servers and Storages {% endblock %}

{% block content %}
<div>
  <span>Disk : </span>
  <span>{{ disk.max_size }}</span>
</div>
<div>
  <span>Used : </span>
  <span>{{ total_used }}</span>
</div>
<div>
  <span>Free : </span>
  <span>{{ disk.free_size }}</span>
</div>


{% if servers %}
<table class="tbl">
    <caption>Servers</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {% for server in servers %}
        <tr>
            <td>{{ server.id }}</td>
            <td>{{ server.name }}</td>
            <td>{{ server.size_str }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{ servers_total }}</td>
        </tr>
    </tbody>
</table>
{% endif %}

{% if storages %}
<table class="tbl">
  <caption>Disks</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Size</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    {% for user, storage in storages %}
    <tr>
      <td>{{ storage.id }}</td>
      <td>{{ storage.name }}</td>
      <td>{{ storage.size_str }}</td>
      <td>{{ user.full_name }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Total</td>
      <td></td>
      <td>{{ storages_total }}</td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endif %}

{% endblock %}
