{% extends 'root/layout.html' %}

{% block title %} Dataset details {% endblock %}

{% block content %}
<div class="ds-view">
  {% if user.staff_role == user.STAFF_ROLES["ADMIN"]%}
  <a href="/root/dataset/{{ dataset.id }}/edit">Edit dataset</a> or
  <a href="/root/dataset/new">new dataset</a>
  {% endif %}
<table class="h-tbl">
    <caption>Dataset details</caption>
    <tbody>
      <tr>
        <td>Title</td>
        <td>{{ dataset.title }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ dataset.description }}</td>
      </tr>
      <tr>
        <td>Is Public</td>
        <td>{{ dataset.is_public }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ dataset.status_str }}</td>
      </tr>
      <tr>
        <td>Owner</td>
        <td><a href="{{ xuser.root_url }}">{{ xuser.full_name }}</a></td>
      </tr>
      <tr>
        <td>Lab</td>
        <td><a href="{{ lab.root_url }}">{{ lab.name }}</a></td>
      </tr>
    </tbody>
</table>
{% if dataset_volumes %}
<table class="tbl">
    <caption>Attached Volumes</caption>
    <thead>
    <tr>
        <th>Serial</th>
        <th>Model</th>
        <th>Status</th>
        <th>Size</th>
        <th>Backup</th>
        <th>Backup Type</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    {% for volume in dataset_volumes %}
    <tr>
        <td><a href="/root/dataset/volume/{{ volume.id }}">{{ volume.serial }}</a></td>
        <td>{{ volume.model }}</td>
        <td>{{ volume.status_str }}</td>
        <td>{{ volume.size|sizeformat }}</td>
        <td>{{ volume.backup_id }}</td>
        <td>{{ volume.backup_type_str }}</td>
        <td>{{ volume.created|datetimeformat }}</td>
        <td>{{ volume.updated|datetimeformat }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}
