{% extends 'root/layout.html' %}

{% block title %} Resources {% endblock %}

{% block content %}
<table class="tbl">
  <thead>
    <tr>
      <th>Lab</th>
      <th>Owner</th>
      <th>Servers count</th>
      <th>Servers size</th>
      <th>Storages count</th>
      <th>Storages size</th>
      <th>Total size</th>
    </tr>
  </thead>
  <tbody>
    {% for lab in labs %}
    <tr>
      <td>
        <a href="{{ lab['lab'].root_url }}">{{ lab['lab'].name }}</a>
      </td>
      <td>
        <a href="{{ lab['user'].root_url }}">{{ lab['user'].full_name }}</a>
      </td>
      <td>{{ lab['servers_count'] }}</td>
      <td>{{ lab['servers_size'] }}</td>
      <td>{{ lab['storages_count'] }}</td>
      <td>{{ lab['storages_size'] }}</td>
      <td>{{ lab['total_size'] }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td><b>Total</b></td>
      <td></td>
      <td>{{ total['servers_count'] }}</td>
      <td>{{ total['servers_size'] }}</td>
      <td>{{ total['storages_count'] }}</td>
      <td>{{ total['storages_size'] }}</td>
      <td>{{ total['total'] }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
