{% extends 'root/layout.html' %}

{% block title %} Dataset Requests {% endblock %}

{% block content %}
{% if user.is_staff_role("ADMIN") %}
  <div class="block-button">
    <a class="to-button" href="/root/dataset/request/new">New Request</a>
  </div>
{% endif %}
  <table class="tbl">  
  <thead>
    <tr>
      <th>Owner</th>
      <th>Lab</th>
      <th>Dataset</th>
      <th>Volume</th>
      <th>Status</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for xuser, ds, lab, request in requests %}
    <tr>
      <td>
        <a href="{{ xuser.root_url }}">{{ xuser.full_name }}</a>
      </td>
      <td>
        <a href="{{ lab.root_url }}">{{ lab.name }}</a>
      </td>
      <td>
      	<a href="/root/dataset/{{ ds.id }}">{{ ds.title }}</a>
      </td>
      {% if volumes.get(request.dataset_volume_id) %}
      <td>
      	<a href="/root/dataset/volume/{{ request.dataset_volume_id }}">
                                  {{ volumes[request.dataset_volume_id] }}</a>
      </td>
      {% else %}
      <td> ALL </td>
      {% endif %}
      <td>
        <a href="/root/dataset/request/{{ request.id }}">{{ request.status_str }}</a>
      </td>
      <td>{{ request.created|datetimeformat }}</td>
      <td>{{ request.updated|datetimeformat }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
