{% extends 'root/layout.html' %}

{% block title %} Events {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/events.js"></script>
{% endblock %}

{% block init %}
levents = new LastEvents('/root/events/get');
levents.update();
levents.bind_scroll();
{% endblock %}

{% block content %}
<div class="events-block">
  <table class="tbl events-tbl">
    <thead>
      <tr>
        <th>Date</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p class="events-update">
    <a href="#" onclick="levents.update();return false;">Update</a>
  </p>
</div>
{% endblock %}
