{% extends 'root/layout.html' %}

{% block title %} User info {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/root_crm.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
showCRMCommunicationsTable({{ xuser.id }});
{% endblock %}

{% block content %}
<div class="user-profile">
  <h4>User profile {% if not xuser.is_active %}<span class="red">( Not active )</span>{% endif %}</h4>
  <div>
    <img src="{{ xuser.gravatar }}?size=80" alt="{{ xuser.full_name }}" title="{{ xuser.full_name }}">
  </div>
  <table class="h-tbl">
    <tbody>
      <tr>
        <td>Full name</td>
        <td>{{ xuser.full_name }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ xuser.email }}</td>
      </tr>
      <tr>
        <td>Invited by</td>
        <td>{% if invited_by %}<a href="{{ invited_by.root_url }}">{{ invited_by.full_name }}</a>{% endif %}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ xuser.phone }}</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>{{ xuser.organization }}</td>
      </tr>
      <tr>
        <td>Department</td>
        <td>{{ xuser.department }}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{ xuser.title }}</td>
      </tr>
      <tr>
        <td>Registered</td>
        <td>{{ xuser.date_signup|datetimeformat }}</td>
      </tr>
      <tr>
        <td>Last login</td>
        <td>{{ xuser.last_login|datetimeformat }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td><pre>{{ xuser.description }}</pre></td>
      </tr>
      <tr>
        <td>How did you find out about SG</td>
        <td><pre>{{ xuser.how }}</pre></td>
      </tr>
      <tr>
        <td>Tell us something about your research</td>
        <td><pre>{{ xuser.tell_us }}</pre></td>
      </tr>
    </tbody>
  </table>

  {% if lab_rels %}
  <table class="tbl">
    <caption>User labs</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      {% for lab, rel in lab_rels %}
      <tr>
        <td><a href="{{ lab.root_url }}">{{ lab.name }}</a></td>
        <td>{{ rel.perms_str }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
{% if user.staff_role == user.STAFF_ROLES["ADMIN"] %}
<div>
  <div><a href="{{ xuser.root_url }}/edit">Edit description</a></div>
  <div><a href="{{ xuser.root_url }}/setinv">Set invited by</a></div>
</div>
{% endif %}
<div id="crm-header">
<h4>User Communications</h4>
</div>
<table id="crm-logs-tbl"></table>
<div id="crm-logs-pager"></div>
{% if user.staff_role == user.STAFF_ROLES["ADMIN"]
   or  user.staff_role == user.STAFF_ROLES["CRM"]%}
<p class="new-log">
    <a href="/root/crm/log/new/{{ xuser.id }}">New Log</a>
</p>
{% endif %}
{% endblock %}
