{% extends 'root/layout.html' %}

{% block title %}Datasets{% endblock %}

{% block content %}
{% if user.staff_role == user.STAFF_ROLES["ADMIN"] %}
<div class="block-button">
    <a href="/root/dataset/new" class="to-button">New Dataset</a>
</div>
{% endif %}
<table class="tbl">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Lab</th>
      <th>Title</th>
      <th>Description</th>
      <th>Public</th>
      <th>Status</th> 
    </tr>
  </thead>
  <tbody>
    {% for xuser, lab, dataset in datasets %}
    <tr>
      <td>
        <a href="{{ xuser.root_url }}">{{ xuser.full_name }}</a>
      </td>
      <td>
        <a href="{{ lab.root_url }}">{{ lab.name }}</a>
      </td>
      <td>
        <a href="/root/dataset/{{ dataset.id }}">{{ dataset.title }}</a>
      </td>
      <td>{{ dataset.description }}</td>
      <td>{{ dataset.is_public }}</td>
      <td>{{ dataset.status_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
