{% extends 'root/layout.html' %}

{% block title %} {{ server.name }} {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_server.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
server = new Server({{ lab.id }}, {{ server.project_id }}, {{ server.id }});
server.setStatus('{{ server.status_str }}');
server.loadMountList();
server.startStatusMonitor();
{% endblock %}


{% block content %}
<div id="show-server">
  <dl class="unit-dl">
    <dt>Name</dt>
    <dd>{{ server.name }}</dd>
    <dt>Description</dt>
    <dd>{{ server.description_ptag }}</dd>
    <dt>Status</dt>
    <dd class="server-status">{{ server.status_str }}</dd>
    <dt>Ip</dt>
    <dd>{{ server.ip_str }}</dd>
    <dt>Core</dt>
    <dd>{{ server.cpu }}</dd>
    <dt>RAM</dt>
    <dd>{{ server.memory_str }}</dd>
    <dt>Disk size</dt>
    <dd>{{ server.size_str }}</dd>
    <dt>Image</dt>
    <dd>{{ server.image_name }}</dd>
    <dt>Created</dt>
    <dd>{{ server.created|datetimeformat }}</dd>
    <dt>Updated</dt>
    <dd>{{ server.updated|datetimeformat }}</dd>
  </dl>
{% if user.staff_role == user.STAFF_ROLES["ADMIN"] %}
  <ul class="small-buttons-pane">
    <li class="disabled">Start</li>
    <li class="disabled">Stop</li>
    <li class="disabled">Restart</li>
</ul>
{% endif %}
  <div class="server-mounted-storages"></div>
</div>
{% endblock %}
