{% extends 'root/layout.html' %}

{% block title %} Dataset Request details {% endblock %}

{% block content %}
<div class="ds-view">
{% if user.is_staff_role("ADMIN") %}
<a href="/root/dataset/request/{{ request.id }}/edit">Edit request</a> or
<a href="/root/dataset/request/new">new request</a>
{% endif %}

<table class="h-tbl">
    <caption>Dataset Request details</caption>
    <tbody>
    <tr>
        <td>Owner</td>
        <td><a href="{{ xuser.root_url }}">{{ xuser.full_name }}</a></td>
    </tr>
    <tr>
        <td>Lab</td>
        <td><a href="{{ lab.root_url }}">{{ lab.name }}</a></td>
      </tr>
    <tr>
        <td>DataSet</td>
        <td><a href="{{ dataset.root_url }}">{{ dataset.title }}</a></td>
    </tr>
    <tr>
        <td>DataSet Volume</td>
        <td>
        {% if volume %}
        <a href="/root/dataset/volume/{{ volume.id }}">{{ volume.serial }}</a>
        {% else %}
         ALL
        {% endif %}
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ request.status_str }}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{ request.created|datetimeformat }}</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>{{ request.updated|datetimeformat }}</td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}
