{% extends 'root/layout.html' %}

{% block title %} Users {% endblock %}

{% block content %}

{% if not users %}
<div class="neutral-message">No users</div>

{% else %}
<a href="/root/users/tree">Tree</a>
<table class="tbl">
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th class="nobr">Invited by</th>
      <th>E-mail</th>
      <th>Full name</th>
      <th class="nobr">Date signup</th>
      <th>Last login</th>
      <th class="nobr">Is staff</th>
      <th>Staff role</th>
      {% if user.staff_role == user.STAFF_ROLES["ADMIN"] %}
      <th class="nobr">Is active</th>
      {% endif %}
      {% if user.staff_role == user.STAFF_ROLES["CRM"] %}
      <th>CRM Communication</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for usr, invited_by in users %}
    <tr {% if not usr.is_active %} class="hl-red-row" {% endif %}>
      <td>{{ usr.id }}</td>
      <td><a href="{{ usr.root_url }}">{{ usr.username }}</a></td>
      <td>
        {% if invited_by %}
        <a href="{{ invited_by.root_url }}">{{ invited_by.username }}</a>
        {% endif %}
      </td>
      <td>{{ usr.email }}</td>
      <td class="nobr">{{ usr.full_name }}</td>
      <td class="nobr">{{ usr.date_signup|datetimeformat }}</td>
      <td class="nobr">{{ usr.last_login|datetimeformat }}</td>
      <td>{{ usr.is_staff }}</td>
      {% if usr.is_staff %}
      <td>{{ usr.staff_role_lower }}</td>
      {% else %}
      <td></td>
      {% endif %}
      {% if user.staff_role == user.STAFF_ROLES["ADMIN"] %}
      <td id="is-active-{{ usr.id }}">
        {% if usr.is_active %}
        <a href="#" onclick="blockUser({{ usr.id }}); return false;">{{ usr.is_active }}</a>
        {% else %}
        <a href="#" onclick="activateUser({{ usr.id }}); return false;">{{ usr.is_active }}</a>
        {% endif %}
      </td>
      {% endif %}
      {% if user.staff_role == user.STAFF_ROLES["CRM"] %}
      <td>
        <a href="/root/crm/log/new/{{ usr.id }}">new log</a>
         [ <a href="/root/crm/user/{{ usr.id }}">history</a> ]
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
