{% extends 'root/layout.html' %}

{% block title %} Show lab {% endblock %}

{% block content %}

{% if not lab.is_status("active") %}
<div class="message">Lab is not active yet</div>
{% endif %}

{{ message|messageformat }}

<dl class="unit-dl">
  <dt>Name</dt>
  <dd>{{ lab.name }}</dd>
  <dt>Type</dt>
  <dd>{{ lab.type }}</dd>
  <dt>Owner</dt>
  <dd><a href="{{ owner.root_url }}">{{ owner.full_name }}</a></dd>
  <dt>Status</dt>
  <dd>
    {% if user.is_staff_role("ADMIN") %}
    <a href="#" onclick="changeLabStateOth({{ lab.id }}); return false;">{{ lab.status_str }}</a>
    {% else %}
    {{ lab.status_str }}
    {% endif %}
  </dd>
</dl>

<div class="plan">
  <h4>{{ lab_plan.name_str }}</h4>
  <ul>
    <li>{{ lab_plan.price_str }}</li>
    <li>{{ lab_plan.cores_str }}</li>
    <li>{{ lab_plan.ram_str }}</li>
    <li>{{ lab_plan.storage_str }}</li>
  </ul>
</div>

<table class="tbl">
    <caption>Cluster servers
        {% if user.is_staff_role("ADMIN") %}
        <a href="/root/labs/{{ lab.id }}/edit/servers">[ Edit ]</a>
        {% endif %}
    </caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for cserv, rel in lab_servers %}
        <tr>
            <td>{{ cserv.id }}</td>
            <td>{{ cserv.name }}</td>
            <td>{{ rel.usage_type_str }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="tbl">
    <caption>Lab limits
        {% if user.is_staff_role("ADMIN") %}
        <a href="/root/labs/{{ lab.id }}/edit/limits">[ Edit ]</a>
        {% endif %}
    </caption>
    <thead>
        <tr>
            <th>Param</th>
            <th>Used</th>
            <th>Total</th>
            <th>%</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CPU</td>
            <td>{{ lab.cpu_used }}</td>
            <td>{{ lab.cpu_limit }}</td>
            <td>{{ lab.cpu_used_proc }} %</td>
        </tr>
        <tr>
            <td>RAM</td>
            <td>{{ lab.ram_used|sizeformat }}</td>
            <td>{{ lab.ram_limit|sizeformat }}</td>
            <td>{{ lab.ram_used_proc }} %</td>
        </tr>
        <tr>
            <td>Storages</td>
            <td>{{ lab.storages_used|sizeformat }}</td>
            <td>{{ lab.storages_limit|sizeformat }}</td>
            <td>{{ lab.stor_used_proc }} %</td>
        </tr>
    </tbody>
</table>

{% if servers %}
<table class="tbl">
    <caption>Servers</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Server id</th>
            <th>Name</th>
            <th>User</th>
            <th>Status</th>
            <th>Ip</th>
            <th>Cpu</th>
            <th>RAM</th>
        </tr>
    </thead>
    <tbody>
        {% for user, server in servers %}
        <tr>
            <td>{{ server.id }}</td>
            <td>{{ server.server_id }}</td>
            <td><a href="{{ server.root_url }}">{{ server.name }}</a></td>
            <td><a href="{{ user.root_url }}">{{ user.full_name }}</a></td>
            <td>{{ server.status_str }}</td>
            <td>{{ server.ip_str }}</td>
            <td>{{ server.cpu }}</td>
            <td>{{ server.memory|sizeformat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if storages %}
<table class="tbl">
    <caption>Storages</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Server id</th>
            <th>Name</th>
            <th>User</th>
            <th>Size</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
    {% for user, storage, server in storages %}
    <tr>
        <td>{{ storage.id }}</td>
        <td>{{ storage.server_id }}</td>
        <td>{{ storage.name }}</td>
        <td><a href="{{ user.root_url }}">{{ user.full_name }}</a></td>
        <td>{{ storage.size|sizeformat }}</td>
        <td>{{ storage.type_str }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<table class="tbl">
  <caption>Members</caption>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    {% for member, rel in members %}
    <tr>
      <td><a href="{{ member.root_url }}">{{ member.full_name }}</a></td>
      <td>{{ rel.perms_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
