{% extends 'root/layout.html' %}

{% block title %} Dataset Volumes {% endblock %}

{% block content %}
{% if user.staff_role == user.STAFF_ROLES["ADMIN"]%}
  <div class="block-button">
    <a class="to-button" href="/root/dataset/volume/new">New Volume</a>
  </div>
{% endif %}
  <table class="tbl">
  <thead>
    <tr>
      <th>Dataset</th>
      <th>Serial</th>
      <th>Model</th>
      <th>Status</th>
      <th>Size</th>
      <th>Backup</th>
      <th>Backup Type</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for ds, volume in dataset_volumes %}
    <tr>
      <td>
      	<a href="/root/dataset/{{ ds.id }}">{{ ds.title }}</a>
      </td>
      <td>
      	<a href="/root/dataset/volume/{{ volume.id }}">{{ volume.serial }}</a>
      </td>
      <td>{{ volume.model }}</td>
      <td>{{ volume.status_str }}</td>
      <td>{{ volume.size|sizeformat }}</td>
      <td>{{ volume.backup_id }}</td>
      <td>{{ volume.backup_type_str }}</td>
      <td>{{ volume.created|datetimeformat }}</td>
      <td>{{ volume.updated|datetimeformat }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
