{% extends 'root/layout.html' %}

{% block title %} Raids {% endblock %}

{% block content %}
<table class="tbl">
  <thead>
    <tr>
      <th>Dev path</th>
      <th>Uuid</th>
      <th>Mount id</th>
      <th>Status</th>
      <th>Free size</th>
      <th>Max size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for raid in raids %}
    <tr>
      <td>{{ raid.dev_path }}</td>
      <td>{{ raid.uuid }}</td>
      <td>{{ raid.mount_id }}</td>
      <td>{{ raid.status }}</td>
      <td>{{ raid.free_size }}</td>
      <td>{{ raid.max_size }}</td>
      <td><a href="/root/cluster/raids/{{ raid.id }}/edit">edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
