{% extends 'root/layout.html' %}

{% block title %} VPN connections {% endblock %}

{% block content %}
{% if message %}
<div class="neutral-message">{{ message }}</div>
{% endif %}
{% if stats %}
<table class="tbl">
  <thead>
    <tr>
      <th>Common name</th>
      <th>Virtual address</th>
      <th>Real address</th>
      <th>Sent</th>
      <th>Received</th>
      <th>Connected since</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in stats %}
    <tr>
      {% if "user" in stat %}
      <td><a href="{{ stat["user"].root_url }}">{{ stat["user"].full_name }}</a></td>
      {% else %}
      <td>{{ stat["cn"] }}</td>
      {% endif %}
      <td>{{ stat["virt"] }}</td>
      <td>{{ stat["real"] }}</td>
      <td>{{ stat["recv"] }}</td>
      <td>{{ stat["sent"] }}</td>
      <td>{{ stat["since"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
