{% extends 'root/layout.html' %}

{% block title %} CRM - Communication details {% endblock %}

{% block content %}
<div class="log-details">
  {% if user.staff_role == user.STAFF_ROLES["ADMIN"]
   or  user.staff_role == user.STAFF_ROLES["CRM"]%}
  <a href="/root/crm/log/{{ communication.id }}/edit">Edit log</a> or
  <a href="/root/crm/log/new/{{ xuser.id }}">new log</a>
  {% endif %}
  <fieldset>
  <legend><h4>Client details {% if not xuser.is_active %}
    <span class="red">(Client Not active )</span>{% endif %}
  </h4></legend>
  <div>
    <img src="{{ xuser.gravatar }}?size=80" alt="{{ xuser.full_name }}"
         title="{{ xuser.full_name }}">
  </div>
  <table class="h-tbl">
    <tbody>
      <tr>
        <td>Full name</td>
        <td><a href="{{ xuser.root_url }}">{{ xuser.full_name }}</a></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ xuser.email }}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ xuser.phone }}</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>{{ xuser.organization }}</td>
      </tr>
      <tr>
        <td>Department</td>
        <td>{{ xuser.department }}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{ xuser.title }}</td>
      </tr>
      <tr>
        <td>Registered</td>
        <td>{{ xuser.date_signup|datetimeformat }}</td>
      </tr>
      <tr>
        <td>Last login</td>
        <td>{{ xuser.last_login|datetimeformat }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td><pre>{{ xuser.description }}</pre></td>
      </tr>
    </tbody>
  </table>
</fieldset>
<fieldset>
  <legend><h4>Communication details</h4></legend>
  <table class="h-tbl">
    <tbody>
      <tr>
        <td>Created</td>
        <td>{{ communication.created|datetimeformat}}</td>
      </tr>
      <tr>
        <td>Subject</td>
        <td><h4>{{ communication.subject }}</h4></td>
      </tr>
      <tr>
        <td>Log Type</td>
        <td>{{ communication.log_type_str }}</td>
      </tr>
      <tr>
        <td>Direction</td>
        <td>{{ communication.direction_str }}</td>
      </tr>
      <tr>
        <td>Body</td>
        <td>{{ communication.body }}</td>
      </tr>
    </tbody>
  </table>
  </fieldset>
</div>
{% endblock %}