{% extends 'root/layout.html' %}

{% block title %} Labs {% endblock %}

{% block content %}

{% if labs %}
<table class="tbl">
    <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Is active</th>
        </tr>
    </thead>
    <tbody>
    {% for usr, lab in labs %}
        <tr id="lab-{{ lab.id }}" {% if lab.status == lab.STATUS['verification'] %}class="hl-red-row"{% endif %}>
            <td><a href="{{ lab.root_url }}">{{ lab.name }}</a></td>
            <td><a href="{{ usr.root_url }}">{{ usr.full_name }}</a></td>
            <td>
            {% if user.is_staff_role("ADMIN") %}
            <a href="#" onclick="changeLabState({{ lab.id }}); return false;">
                {{ lab.status_str }}
            </a>
            {% else %}
            {{ lab.status_str }}
            {% endif %}
            </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="neutral-message">No labs</div>
{% endif %}

{% endblock %}
