{% extends 'root/layout.html' %}

{% block title %} Limits {% endblock %}

{% block content %}
<table class="tbl">
  <thead>
    <tr>
      <th>Lab</th>
      <th>Owner</th>
      <th>CPU usage</th>
      <th>RAM usage</th>
      <th>Storages usage</th>
    </tr>
  </thead>
  <tbody>
    {% for user, lab in labs %}
    <tr>
      <td><a href="{{ lab.root_url }}">{{ lab.name }}</a></td>
      <td><a href="{{ user.root_url }}">{{ user.full_name }}</a></td>
      <td>{{ lab.cpu_used_proc }} %</td>
      <td>{{ lab.ram_used_proc }} %</td>
      <td>{{ lab.stor_used_proc }} %</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
