{% extends 'root/layout.html' %}

{% block title %}Site invoices {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/root_invoices.js"></script>
{% endblock %}

{% block init %}
$('.left-months-bar ul li:nth-child({{ now.month }})').addClass('now');
loadMonthInvoices({{ selected_month }});
{% endblock %}

{% block content %}

    <div class="left-months-bar">
      <ul>
        <li><a href="#" onclick="loadMonthInvoices(1); return false;">January</a></li>
        <li><a href="#" onclick="loadMonthInvoices(2); return false;">February</a></li>
        <li><a href="#" onclick="loadMonthInvoices(3); return false;">March</a></li>
        <li><a href="#" onclick="loadMonthInvoices(4); return false;">April</a></li>
        <li><a href="#" onclick="loadMonthInvoices(5); return false;">May</a></li>
        <li><a href="#" onclick="loadMonthInvoices(6); return false;">June</a></li>
        <li><a href="#" onclick="loadMonthInvoices(7); return false;">July</a></li>
        <li><a href="#" onclick="loadMonthInvoices(8); return false;">August</a></li>
        <li><a href="#" onclick="loadMonthInvoices(9); return false;">September</a></li>
        <li><a href="#" onclick="loadMonthInvoices(10); return false;">October</a></li>
        <li><a href="#" onclick="loadMonthInvoices(11); return false;">November</a></li>
        <li><a href="#" onclick="loadMonthInvoices(12); return false;">December</a></li>
      </ul>
    </div>

    <div class="left-months-bar-content">
      <h3 class="current-month"></h3>
      <div class="monthly-content"></div>
    </div>

  </div>
{% endblock %}
