{% extends 'root/layout.html' %}

{% block title %}Servers{% endblock %}

{% block content %}
{% if user.staff_role == user.STAFF_ROLES["ADMIN"] %}
<a href="/root/cluster/servers/update">Update</a>
{% endif %}
<table class="tbl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpu</th>
      <th>Used RAM</th>
      <th>Total RAM</th>
      <th>Ip</th>
      <th>Port</th>
      <th>Cert</th>
      <th>Key</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for server in servers %}
    <tr>
      <td>{{ server.name }}</td>
      <td>{{ server.cpu }}</td>
      <td>{{ server.ram_used|sizeformat }}</td>
      <td>{{ server.ram_total|sizeformat }}</td>
      <td>{{ server.ip }}</td>
      <td>{{ server.port }}</td>
      <td>{{ server.ssl_cert }}</td>
      <td>{{ server.ssl_key }}</td>
      <td>{{ server.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
