<div id="delete-project">
    {% if not project %}
    <div class="message">Project not exists</div>
    {% endif %}
    {% if servers or storages %}
        <div class="neutral-message">Please release resources before deleting this project</div>
        {% if servers %}
        <div class="objs">
            <h4>Servers</h4>
            <ul>
            {% for server in servers %}
            <li>{{ server.project_onclick }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if storages %}
        <div class="objs">
            <h4>Storages</h4>
            <ul>
            {% for storage in storages %}
            <li>{{ storage.project_onclick }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% else %}
        <div id="action-pane">
        <a href="#" class="to-button" onclick="ppane.deleteProject({{ project.id }}); return false;">Delete</a> or
        <a href="#" onclick="ppane.showProject({{ project.id }}, 'servers'); return false;">Cancel</a>
        </div>
    {% endif %}
</div>
