{% if project %}
<script type="text/javascript">
    setDescAutoResize('#project-description', '{{ dheight }}');
</script>

<div class="project-form">
    <form method="post" id="edit-project-form" onsubmit="ppane.editProject({{ project.id }}); return false;">
    <h4>Edit project</h4>
    <div>
        <div><label for="project-name">Name</label></div>
        <div><input name="project-name" id="project-name" type="text" maxlength="20" value="{{ project.name }}"></div>
    </div>
    <div>
        <div><label for="project-description">Description</label></div>
        <div><textarea id="project-description" name="project-description" cols="10" rows="10">{{ project.description }}</textarea></div>
    </div>
    <div>
        <button class="to-button">Create</button> or
        <a href="#" onclick="ppane.showProject({{ project.id }}); return false;">Cancel</a>
    </div>
</form>
</div>
{% else %}
<div class="neutral-message">Unknown project</div>
{% endif %}
