{% if storage %}
<script type="text/javascript">
    setDescAutoResize('#storage-description');
</script>

<form method="post" onsubmit="ppane.updateStorage({{ storage.id }}, '{{ storage.alias }}'); return false;">
    <h4>Edit disk</h4>
    <div>
        <div><label for="storage-name">Name</label></div>
        <div><input type="text" id="storage-name" name="storage-name" maxlength="30" value="{{ storage.name }}" ></div>
    </div>
    <div>
        <div><label for="storage-alias">Mount point name</label></div>
        <div><input type="text" id="storage-alias" name="storage-alias" maxlength="30" value="{{ storage.alias }}" {% if not editable %}disabled{% endif %}></div>
    </div>
    <div>
        <div><label for="storage-description">Description</label></div>
        <div><textarea id="storage-description" name="storage-description" >{{ storage.description }}</textarea></div>
    </div>
    <div>
        <div><label for="storage-type">Type</label></div>
        <div>
        <select id="storage-type" name="storage-type" {% if not editable %}disabled{% endif %}>
            {% for type, id in storage.TYPES.items() %}
            {% if storage.type == id %}
            <option value="{{ id }}" selected>{{ type }}</option>
            {% else %}
            <option value="{{ id }}">{{ type }}</option>
            {% endif %}
            {% endfor %}
        </select>
        </div>
    </div>
    <div>
        <button class="to-button">Update</button> or
        <a href="#" onclick="ppane.showStorage({{ storage.id }}); return false;">Cancel</a>
    </div>
</form>
{% endif %}
