{% if server %}
<script type="text/javascript">
setDescAutoResize('#server-description');
{% if server.status == server.STATUS["STOPPED"] %}
$('#server-cpu-slider').slider({
    min:   {{ cpu_lim[0] }},
    max:   {{ cpu_lim[1] }},
    step:  1,
    value: {{ server.cpu }},
    slide: function(event, ui) {
        $('#server-cpu').val(ui.value);
    }
});
$('#server-cpu').val($("#server-cpu-slider").slider('value'));

$('#server-ram-slider').slider({
    min:   {{ mem_lim['min'] }},
    max:   {{ mem_lim['max'] }},
    step:  {{ mem_lim['step'] }},
    value: {{ server.memory }},
    slide: function(event, ui) {
        $('#server-ram').val(ui.value+' MB');
    }
});
$('#server-ram').val($("#server-ram-slider").slider('value')+' MB');
{% endif %}
</script>

{% if server.status != server.STATUS["STOPPED"] %}
<div>
  <div class="note">Stop server to change number of CPU or RAM size.</div>
</div>
{% endif %}

<form method="post" class="server-form" onsubmit="ppane.updateServer({{ server.id }}); return false;">
  <h4>Edit server</h4>
  <div>
    <div><label for="server-name">Name</label></div>
    <div><input type="text" id="server-name" name="server-name" value="{{ server.name }}" maxlength="30" ></div>
  </div>
  <div>
    <div><label for="server-description">Description</label></div>
    <div><textarea id="server-description" name="server-description">{{ server.description }}</textarea></div>
  </div>
  {% if server.status == server.STATUS["STOPPED"] %}
  <div>
    <div><label for="server-cpu">Core count</label></div>
    <div><input type="text" id="server-cpu" class="jui-slider-input" /></div>
    <div id="server-cpu-slider" class="jui-slider"></div>
  </div>
  <div>
    <div><label for="server-ram">RAM</label></div>
    <div><input type="text" id="server-ram" class="jui-slider-input" /></div>
    <div id="server-ram-slider" class="jui-slider"></div>
  </div>
  {% endif %}
  <div>
    <button class="to-button">Update</button> or
    <a href="#" onclick="ppane.showServer({{ server.id }}); return false;">Cancel</a>
  </div>
</form>

<div class="new-unit-aside-block">
    <div class="servers-lab-limits">
        <h4>Quota</h4>
        <div class="cpu-limits">
            <h4>CPU cores</h4>
            <dl class="base-dl">
            <dt>Free</dt>
            <dd class="bold">{{ lab.cpu_limit - lab.cpu_used }}</dd>
            <dt>Used</dt>
            <dd>{{ lab.cpu_used }}</dd>
            <dt>Total</dt>
            <dd>{{ lab.cpu_limit  }}</dd>
            </dl>
        </div>
        <div class="ram-limits">
            <h4>RAM</h4>
            <dl class="base-dl">
            <dt>Free</dt>
            <dd class="bold">{{ lab.ram_free|sizeformat }}</dd>
            <dt>Used</dt>
            <dd>{{ lab.ram_used|sizeformat }}</dd>
            <dt>Total</dt>
            <dd>{{ lab.ram_limit|sizeformat }}</dd>
            </dl>
        </div>
    </div>
</div>
{% endif %}
