<div class="openvpn-ins">

  <p><b>OpenVPN</b> - free and open source software application for creating secure VPN connection.</p>

  <div class="openvpn-os-list">
    <header>Select operating system</header>
    <ul>
      <li><a href="#vpn,mac">Mac OS</a></li>
      <li><a href="#vpn,linux">GNU/Linux</a></li>
    </ul>
  </div>

  <div class="openvpn-os">
    <header><a name="vpn,mac">Mac OS</a></header>

    <div class="openvpn-block">
      {% if not ucerts %}
      <header>Install and configure TunnelBlick</header>
      <ul class="tunnelblick">
        <li>Download and install TunnelBlick (<a href="http://code.google.com/p/tunnelblick/wiki/DownloadsEntry">link</a>)</li>
        <li>Download <strong>scalegenomics.zip</strong> (<a href="/my/scalegenomics.zip">link</a>)</li>
        <li>Unzip archive <strong>scalegenomics.zip</strong></li>
        <li>Double-click on <strong>scalegenomics.tblk</strong></li>
        <li>
          <p>Open TunnelBlick</p>
          <p>Click on the TunnelBlick icon and click on <strong>Connect user@scalegenomics.com</strong></p>
        </li>
      </ul>
      {% else %}
      <div class="neutral-message">You don't have access yet</div>
      {% endif %}
    </div>
    <div class="openvpn-block">
      <header>Next time just</header>
      <ul class="tunnelblick">
        <li>Open TunnelBlick</li>
        <li>Click on the TunnelBlick icon and click on <strong>Connect user@scalegenomics.com</strong></li>
      </ul>
    </div>
  </div>

  <div class="openvpn-os">
    <header><a name="vpn,linux">GNU/Linux</a></header>

    <div class="openvpn-block">
      <header>Install OpenVPN</header>
      <ul class="ins">
        <li>
          <p>Debian/Ubuntu</p>
          <code>sudo aptitude install openvpn</code>
        </li>
        <li>
          <p>Fedora</p>
          <code>sudo yum install openvpn</code>
        </li>
      </ul>
    </div>

    <div class="openvpn-block">
      <header>Download certificates</header>
      {% if ucert %}
      <ul class="ins">
        <li><a href="/my/ta.key">ta.key</a></li>
        <li><a href="/my/ca.crt">ca.crt</a></li>
        <li><a href="/my/client.crt">client.crt</a> (personal)</li>
        <li><a href="/my/client.key">client.key</a> (personal)</li>
      </ul>
      {% else %}
      <div class="neutral-message">You don't have access yet</div>
      {% endif %}
    </div>

    <div class="openvpn-block">
      <header>Configure and start OpenVPN</header>
      <div class="file">
        <header>Create new file &laquo;/etc/openvpn/client-sg.conf&raquo;</header>
<pre>
<code>remote scalegenomics.com</code>
<code>tls-client</code>
<code>proto tcp-client</code>
<code>dev tun</code>
<code>port 1194</code>
<code>pull</code>
<code>cipher DES-EDE3-CBC</code>
<code>comp-lzo</code>
<code>remote-cert-tls server</code>

<code>tls-auth /etc/openvpn/sgkeys/ta.key 1</code>
<code>ca /etc/openvpn/sgkeys/ca.crt</code>
<code>cert /etc/openvpn/sgkeys/client.crt</code>
<code>key /etc/openvpn/sgkeys/client.key</code>

<code>log-append /var/log/openvp-client-sg.log</code>
</pre>
    </div>

    <ul class="ins">
      <li>
        <p>Create new directory and move certificates to it</p>
<pre>
<code>sudo mkdir /etc/openvpn/sgkeys</code>
<code>sudo mv ta.key /etc/openvpn/sgkeys</code>
<code>sudo mv ca.crt /etc/openvpn/sgkeys</code>
<code>sudo mv client.crt /etc/openvpn/sgkeys</code>
<code>sudo mv client.key /etc/openvpn/sgkeys</code>
</pre>
      </li>
      <li>
        <p>Start OpenVPN</p>
        <code>sudo service openvpn start</code>
      </li>
      <li>
        <p>Enjoy!</p>
      </li>
    </ul>
  </div>
  </div>

</div>
