<div class="new-unit-aside-block">
    {% if cservs|count > 1 %}
    <div class="cservers-side-block">
        <h4>Select cluster</h4>
        {% for cserv, servers_count, storages_count, cdisk in cservs %}
        <div id="cserver-{{ cserv.id }}" onclick="selectCServerForServer({{ cserv.id }});" {% if cdisk.free_size == 0 %}class="disabled"{% endif %}>
            <h3>{{ cserv.name }}</h3>
            {% if not servers_count and not storages_count %}
            <p>The server does not contain your virtual servers or disks.</p>
            {% else %}
            <p>This server already contains:</p>
            <ul>
                {% if servers_count %}
                <li>{{ servers_count }} your servers</li>
                {% endif %}
                {% if storages_count %}
                <li>{{ storages_count }} your disks</li>
                {% endif %}
            </ul>
            {% endif %}
            {% if cdisk.free_size == 0 %}
                <h4>No free space</h4>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="servers-lab-limits">
        <h4>Quota</h4>
        <div class="cpu-limits">
            <h4>CPU cores</h4>
            <dl class="base-dl">
            <dt>Free</dt>
            <dd class="bold">{{ lab.cpu_limit - lab.cpu_used }}</dd>
            <dt>Used</dt>
            <dd>{{ lab.cpu_used }}</dd>
            <dt>Total</dt>
            <dd>{{ lab.cpu_limit  }}</dd>
            </dl>
        </div>
        <div class="ram-limits">
            <h4>RAM</h4>
            <dl class="base-dl">
            <dt>Free</dt>
            <dd class="bold">{{ lab.ram_free|sizeformat }}</dd>
            <dt>Used</dt>
            <dd>{{ lab.ram_used|sizeformat }}</dd>
            <dt>Total</dt>
            <dd>{{ lab.ram_limit|sizeformat }}</dd>
            </dl>
        </div>
    </div>
</div>

