{% if not cservs %}
<div class="neutral-message">The laboratory is not configured.</div>

{% elif not free_space %}
<div class="neutral-message">Sorry, no free space now.</div>

{% elif cpu_block %}
<div class="neutral-message">You have reached your lab's CPU limit.</div>

{% elif mem_block %}
<div class="neutral-message">You have reached your lab's RAM limit.</div>

{% else %}
<script type="text/javascript">
cservs_info = {{ cservs_info }};
{% if cservs %}
initServerCServer();
{% endif %}
setDescAutoResize('#description');
</script>

<form method="post" class="server-form" onsubmit="ppane.createNewServer({{ project.id }}); return false;">
  <h4>Create new server</h4>
  <div>
    <div>{{ form.name.label }}</div>
    <div>{{ form.name(tabindex=1) }}</div>
  </div>
  <div>
    <div>{{ form.description.label }}</div>
    <div>{{ form.description(tabindex=2) }}</div>
  </div>
  <div>
    <div><label for="server-size">System disk size</label></div>
    <div><input type="text" id="server-size" class="jui-slider-input" value="25 GB" disabled="disabled" /></div>
  </div>
  <div>
    <div>{{ form.cpu.label }}</div>
    <div>{{ form.cpu(tabindex=3, class="jui-slider-input", disabled="disabled") }}</div>
    <div id="server-cpu-slider" class="jui-slider"></div>
  </div>
  <div>
    <div>{{ form.ram.label }}</div>
    <div>{{ form.ram(tabindex=4, class="jui-slider-input", disabled="disabled") }}</div>
    <div id="server-ram-slider" class="jui-slider"></div>
  </div>
  <div>
    <div>{{ form.image.label }}</div>
    <div>{{ form.image }}</div>
    <small><a href="mailto:support@scalegenomics.com?subject=Custom%20Image">Contact us</a> if you need a custom image.</small>
  </div>
  <div>
    {% if lab.status == lab.STATUS['active'] %}
    <button class="to-button">Create</button>
    {% elif lab.status == lab.STATUS['trial block'] %}
    <span class="dev-button">Create
      <span class="tooltip">You cannot create virtual machines</span>
    </span>
    {% else %}
    <span class="dev-button">Create
      <span class="tooltip">You cannot create virtual machines until this lab has been verified</span>
    </span>
    {% endif %}
    or
    <a href="#" onclick="ppane.showServers(); return false">Cancel</a>
  </div>
</form>

{% include "my/_include_server_cservers.html" %}

{% endif %}
