{% if lab.storages_free_gb <= 0 %}
<div class="neutral-message">Reached the limit of the laboratory</div>

{% elif not cservs %}
<div class="neutral-message">The laboratory is not configured.</div>

{% elif not free_space %}
<div class="neutral-message">We are really sorry, but no free space right now.</div>

{% else %}
<script type="text/javascript">
    setDescAutoResize('#description');
    cservs_info = {{ cservs_info }};
    {% if cservs %}
    initStorageCServer();
    {% endif %}
</script>

<div>
    <form class="storage-form" method="post" onsubmit="ppane.createNewStorage(); return false;">
        <h4>Create new disk</h4>
        <div>
            <div>{{ form.name.label }}</div>
            <div>{{ form.name(tabindex=1, maxlength=30) }}</div>
        </div>
        <div>
            <div>{{ form.alias.label }} <span class="default-tooltip" data-tooltip="/mnt/(Mount point name)">(?)</span></div>
            <div>{{ form.alias(tabindex=2, maxlength=30) }}</div>
        </div>
        <div>
            <div>{{ form.description.label }}</div>
            <div>{{ form.description(tabindex=3) }}</div>
        </div>
        <div>
            <div>{{ form.size.label }}</div>
            <div>{{ form.size(tabindex=4) }}</div>
            <div id="storage-size-slider"></div>
        </div>
        <div>
            <div>{{ form.type.label }} <small><a href="/my/help#disks" target="_blank">read more</a></small></div>
            <div>{{ form.type(tabindex=5) }}</div>
        </div>
        <div>
        {% if lab.status == lab.STATUS['active'] %}
        <button class="to-button">Create</button>
        {% elif lab.status == lab.STATUS['trial block'] %}
        <span class="dev-button">Create
            <span class="tooltip">You cannot create disk</span>
        </span>
        {% else %}
        <span class="dev-button">Create
            <span class="tooltip">You cannot create disk until this lab has been verified</span>
        </span>
        {% endif %}
        or
        <a href="#" onclick="ppane.showStorages(); return false;">Cancel</a>
        </div>
    </form>
</div>

<div class="new-unit-aside-block">
    {% if cservs|count > 1 %}
    <div class="cservers-side-block">
        <h4>Select server</h4>
        {% for cserv, servers_count, storages_count, cdisk in cservs %}
        <div id="cserver-{{ cserv.id }}" onclick="selectCServerForStorage({{ cserv.id }});" {% if cdisk.free_size == 0 %}class="disabled"{% endif %}>
            <h3>{{ cserv.name }}</h3>
            {% if not servers_count and not storages_count %}
            <p>The server does not contain your virtual servers or disks.</p>
            {% else %}
            <p>This server already contains:</p>
            <ul>
                {% if servers_count %}
                <li>{{ servers_count }} your servers</li>
                {% endif %}
                {% if storages_count %}
                <li>{{ storages_count }} your disks</li>
                {% endif %}
            </ul>
            {% endif %}
            {% if cdisk.free_size == 0 %}
                <h4>No free space</h4>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="storages-lab-limits">
        <h4>Quota</h4>
        <dl class="base-dl">
            <dt>Free</dt>
            <dd class="free-size-dd">{{ lab.storages_free|sizeformat }}</dd>
            <dt>Used</dt>
            <dd>{{ lab.storages_used|sizeformat }}</dd>
            <dt>Total</dt>
            <dd>{{ lab.storages_limit|sizeformat }}</dd>
        </dl>
    </div>
</div>
{% endif %}
