<script type="text/javascript">
    setDescAutoResize('#project-description');
</script>

<div class="project-form">
    <form method="post" id="new-project-form" onsubmit="ppane.newProject(); return false;">
        <h4>Create new project</h4>
        <div>
            <div><label for="project-name">Name</label></div>
            <div><input name="project-name" id="project-name" type="text" maxlength="20" ></div>
        </div>
        <div>
            <div><label for="project-description">Description</label></div>
            <div><textarea id="project-description" name="project-description" cols="10" rows="10"></textarea></div>
        </div>
        <div>
            <button class="to-button">Create</button> or
            <a href="#" onclick="ppane.showMyProjects(); return false;">Cancel</a>
        </div>
    </form>
</div>
