{% if limit %}
<div class="neutral-message">Limit reached</div>
{% elif servers %}
<table class="tbl active-tbl">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for server in servers %}
        <tr onclick="sh.mount({{ server.id }}); return false;">
            <td><a href="{{ server.url }}">{{ server.name }}</a></td>
            <td>{{ server.status_str }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="neutral-message">No servers</div>
{% endif %}
