{% if not server %}
<div class="neutral-message">Server not exists</div>
{% else %}
{% if not disks %}
<div class="neutral-message">No storages to mount</div>
{% else %}
<table class="mount-tbl tbl">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    {% for disk, rel in disks %}
    <tr id="server-mounts-storage-{{ disk.id }}">
      {% if rel %}
      <td><input type="checkbox" name="{{ disk.id }}" checked="checked" /></td>
      {% else %}
      <td><input type="checkbox" name="{{ disk.id }}" /></td>
      {% endif %}
      <td><a href="{{ disk.url }}">{{ disk.name }}</a></td>
      <td>{{ disk.max_size_gb }} GB</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if disks %}
<a id="dialog-mount-button" class="to-button" href="#" onclick="project_server.mount(); return false;">Mount</a>
<div class="neutral-message">Note: unselect storage to unmount it</div>
{% endif %}
{% endif %}
