<script type="text/javascript">
    storage.setStorage({{ storage.id }});
    storage.setStatus('{{ storage.status_str }}');
    storage.startStatusMonitor();
    sh.loadSharings({{ storage.id }});
    {% if storage.is_type("NFS") %}
    sh.showMounts({{ storage.id }});
    {% endif %}
</script>

<div class="storage-info">
  <h2><a href="{{ storage.url }}">{{ storage.name }}</a></h2>
  <div class="storage-created-by">Created by <a href="{{ owner.url }}">{{ owner.full_name }}</a></div>
  <div class="storage-description">{{ storage.ptag('description') }}</div>
  <dl class="unit-dl">
    <dt>Mount point</dt>
    <dd>{{ storage.alias }}</dd>
    <dt>Size</dt>
    <dd>{{ storage.size_str }}</dd>
    <dt>Type</dt>
    <dd>{{ storage.type_str }}</dd>
    <dt>Status</dt>
    <dd class="storage-status">{{ storage.status_str }}</dd>
    <dt>Created</dt>
    <dd>{{ storage.created|datetimeformat }}</dd>
    <dt>Updated</dt>
    <dd>{{ storage.updated|datetimeformat }}</dd>
    {% if storage.type == storage.TYPES["LOCAL"] %}
    <dt>Mounted on</dt>
    <dd>
      {% if rel %}
      {{ rel[0].project_onclick }}
      {% else %}
      &nbsp;
      {% endif %}
      </dd>
    {% endif %}
  </dl>
  {% if storage_owner %}
  <div class="storage-action-list">
      <a class="to-button" href="#" onclick="ppane.showEditStorage({{ storage.id }}); return false;">Edit</a>
      {% if storage.is_type("NFS") %}
      <span class="to-button" onclick="sh.openSharingDialog({{ storage.id }}); return false;">Share</span>
      {% endif %}
      {% if storage.is_type("LOCAL") %}
      <span class="to-button red-button" onclick="storage.showDestroyBlock(); return false;">Destroy</span>
      {% else %}
      <span class="to-button red-button hidden" onclick="storage.showDestroyBlock(); return false;">Destroy</span>
      {% endif %}
  </div>
  <div class="destroy-block">
        {% if rel %}
        <span>Please unmount the disk from the <a href="{{ rel[0].url }}">{{ rel[0].name }}</a> server.</span>
        {% else %}
        <span>Destroy disk?</span>
        <div>
            <a href="#" class="to-button" onclick="storage.destroy(); return false;">Destroy</a> or
            <a href="#" onclick="storage.hideDestroyBlock(); return false;">Cancel</a>
        </div>
        {% endif %}
  </div>
  {% else %}
  <div class="note">You can't control disk because you are not the owner.</div>
  {% endif %}
  <div class="storage-nfs-mounts"></div>
  <div class="storage-sharings"></div>
</div>
