{% if lab_plans %}
<table class="tbl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Cores</th>
      <th>RAM</th>
      <th>Storage</th>
      <th>Created</th>
      <th>Deleted</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for plan, dt in lab_plans %}
    <tr>
      <td>{{ plan.name_str }}</td>
      <td>{{ plan.price_str }}</td>
      <td>{{ plan.cores }}</td>
      <td>{{ plan.ram }}</td>
      <td>{{ plan.storage }}</td>
      <td>{{ plan.created|datetimeformat }}</td>
      <td>{{ plan.deleted|datetimeformat }}</td>
      <td>{{ dt|timedeltaformat }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="neutral-message">No plans.</div>
{% endif %}
