<ul class="help-content-list">
    <li><a href="#disks,local">Local</a></li>
    <li><a href="#disks,nfs">NFS</a></li>
</ul>

<div class="help-block">
    <h4><a name="disks,local">Local disk</a></h4>
    <ul>
        <li>fast</li>
        <li>mount local disk to only one server</li>
        <li>mount local disk to the virtual server on the same cluster server</li>
    </ul>
</div>

<div class="help-block">
    <h4><a name="disks,nfs">NFS disk</a></h4>
    <ul>
        <li>slow</li>
        <li>mount NFS disk to all servers</li>
        <li>sharing</li>
    </ul>
</div>
