<div>
  {% if not users %}
    <div class="neutral-message">No users</div>
  {% else %}
    <table class="tbl user-tbl active-tbl">
      <thead>
        <tr>
          <th></th>
          <th>Full name</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr onclick="ppane.addUserToProject({{ user.id }}); return false;">
            <td>
              <a href="{{ user.url }}">
                <img src="{{ user.gravatar }}?size=30" alt="{{ user.full_name }}" title="{{ user.full_name }}">
              </a>
            </td>
            <td><a href="{{ user.url }}">{{ user.full_name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
