{% if future %}
  <div class="neutral-message">Future</div>
{% else %}

  {% if servers %}
   {% serverspaymentstable servers, servers_total %}
  {% endif %}
  {% if disks %}
    {% diskspaymentstable disks, disks_total %}
  {% endif %}
  {% if sum_price %}
  <div class="payments-tbl-total">
    <span>Total</span> <span>&#36;{{ "%0.2f"|format(sum_price) }}</span>
  </div>
  {% endif %}

{% endif %}
