<div class="project-body">
    {% if not project %}
    <div class="neutral-message">Project not exists</div>

    {% elif not u2proj %}
    <div class="neutral-message">You are not member of this project</div>
    <div class="join-pane">
        <a class="to-button" href="#" onclick="ppane.joinToProject({{ project.id }}); return false;">Join project</a> or
        <a href="#" onclick="ppane.showAllProjects(); return false;">Cancel</a>
    </div>

    {% elif u2proj.relation == u2proj.REL_TYPES['waiting'] %}
    <div class="neutral-message">Waiting to be approved in this project</div>
    <div class="unsubscribe-pane">
        <a class="to-button" href="#" onclick="ppane.unsubscribeProject({{ project.id }}); return false;">Unsubscribe</a>
    </div>

    {% else %}
    <ul class="action-list">
        {% if project.created_by == user.id %}
        <li><a href="#" onclick="ppane.showEditProject({{ project.id }}); return false;">edit</a></li>
        <li><a href="#" onclick="ppane.showDeleteProject({{ project.id }}); return false;">delete</a></li>
        {% endif %}
    </ul>
    <div class="project-header">
        <h3>{{ project.name }}</h3>
        <div>{{ project.ptag("description") }}</div>
    </div>
    <div class="project-content"></div>
    {% endif %}
</div>
