<a href="#" onclick="ppane.showServer({{ server_id }}); return false;">&larr; back to server</a>

{% if events %}
<table class="tbl events-tbl">
  <thead>
    <tr>
      <th>Events</th>
      <th></th>
    </tr>
  <tbody>
  {% for event in events %}
  <tr>
    <td>{{ event.created|datetimeformat }}</td>
    <td>{{ event.text_in_project }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
