{% if rels %}
<table class="tbl nfs-mounted-to active-tbl">
    <thead>
        <tr>
            <th>Mounted to</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for serv, rel in rels %}
        <tr id="nfs-storage-{{ rel.storage_id }}">
            <td><a href="{{ serv.url }}">{{ serv.name }}</a></td>
            <td>
                <a href="#" onclick="storage.unmount({{ serv.id }}, {{ rel.storage_id }}); return false;" {% if storage.user_id != user.id %}class="hidden"{% endif %}>unmount</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
