<div id="show-project-events">
  {% if not project %}
    <div class="neutral-message">Project not exists</div>
  {% else %}
    <table class="tbl events-tbl">
      <thead>
        <tr>
          <th>Events</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
          <tr>
            <td>{{ event.created|datetimeformat }}</td>
            <td>{{ event.text_in_project }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
