{% if disks %}
<table class="tbl" style="witdh: 100%;">
  <caption>Server mounts</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Mount point</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for disk, rel in disks %}
    <tr id="server-mounts-storage-{{ disk.id }}" onclick="showProjectDisk({{ lab.id }}, {{ project.id }}, {{ disk.id }}); return false;">
      <td><a href="#">{{ disk.name }}</a></td>
      <td>{{ disk.max_size_gb }} GB</td>
      <td>/mnt/{{ disk.alias }}</td>
      <td>{{ rel.status_text }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
