<div>
  <a href="#" class="small-button" onclick="ppane.showStorageNewForm(); return false;">New disk</a>

  {{ message|messageformat }}

  {% if not storages %}
    <div class="neutral-message">No disks yet</div>
  {% else %}
    <script type="text/javascript">
      initStoragesTable({{ lab.id }}, {{ project.id }});
    </script>
    <table id="storages-tbl"></table>
    <div id="storages-pager"></div>
  {% endif %}

</div>
