{% if my_rels %}
<table class="tbl my-disks-tbl">
    <caption>My disks</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>Mount path</th>
            <th>Status</th>
            {% if is_owner %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stor, rel, enable_umount in my_rels %}
        <tr id="server-mounts-storage-{{ stor.id }}">
            <td><a href="{{ stor.url }}">{{ stor.name }}</a></td>
            <td>{{ stor.size|sizeformat }}</td>
            <td>{{ stor.type_str }}</td>
            <td>
                {% if stor.is_type("LOCAL") %}
                {{ stor.show_alias("local") }}
                {% elif stor.is_type("NFS") %}
                {{ stor.show_alias("nfs") }}
                {% endif %}
            </td>
            <td>{{ rel.status_str }}</td>
            {% if is_owner %}
            <td>
            <a href="#" onclick="server.umount({{ stor.id }}, 'my-disks-tbl'); return false;" {% if not enable_umount %}class="hidden"{% endif %}>[ unmount ]</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if sh_rels %}
<table class="tbl my-shs-tbl">
    <caption>Shared with me</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Mount path</th>
            <th>Status</th>
            {% if is_owner %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stor, rel in sh_rels %}
        <tr id="server-mounts-storage-{{ stor.id }}">
            <td>{{ stor.name }}</td>
            <td>{{ stor.size|sizeformat }}</td>
            <td>{{ stor.show_alias("shared") }}</td>
            <td>{{ rel.status_str }}</td>
            {% if is_owner %}
            <td><a href="#" onclick="server.umount({{ stor.id }}, 'my-shs-tbl'); return false;">[ umount ]</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
