{% if not_paid %}
<table class="lab-invoices-tbl">
  <caption>Not paid</caption>
  <thead>
    <tr>
      <th>Month</th>
      <th>Price</th>
      <th>Is paid</th>
    </tr>
  </thead>
  <tbody>
    {% for inv in not_paid %}
    <tr onclick="lab_invoices.showInvoice({{ inv.id }}); return false;">
      <td>{{ inv.date.strftime("%B") }}</td>
      <td>&#36;{{ inv.price }}</td>
      <td>{{ inv.paid_text }}</td>
    </tr>
    {% endfor %}
  </tbody>
<table>
{% endif %}

{% if is_paid %}
<table class="lab-invoices-tbl">
  <caption>Paid</caption>
  <thead>
    <tr>
      <th>Month</th>
      <th>Price</th>
      <th>Is paid</th>
    </tr>
  </thead>
  <tbody>
    {% for inv in is_paid %}
    <tr onclick="lab_invoices.showInvoice({{ inv.id }}); return false;">
      <td>{{ inv.date.strftime("%B") }}</td>
      <td>&#36;{{ inv.price }}</td>
      <td>{{ inv.paid_text }}</td>
    </tr>
    {% endfor %}
  </tbody>
<table>
{% endif %}
