{% if sharings %}
<table class="tbl my-sharings active-tbl">
    <thead>
        <tr>
            <th>Shared with</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for name, url, sharing in sharings %}
        <tr id="sh-{{ sharing.id }}">
            <td><a href="{{ url }}">{{ name }}</a></td>
            <td>{% if sharing.is_deleting %}Deleting{% endif %}</td>
            <td>
            {% if storage.user_id == user.id and not sharing.is_deleting %}
            <a href="#" onclick="sh.deleteFromStorage({{ storage.id }}, {{ sharing.id }}); return false;">delete</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
