{% if not projects %}
<div class="neutral-message">Lab has no projects yet</div>
{% else %}
<div>
  {% for user, project in projects %}
  <div class="project" onclick="ppane.showProject({{ project.id }});">
    <div class="project-owner">
      <a href="/my/user/{{ user.id }}" title="{{ user.full_name }}">
        <img src="{{ user.gravatar }}?size=45" alt="{{ user.full_name }}">
      </a>
    </div>
    <h4>{{ project.name }}</h4>
    <div>{{ project.ptag('description') }}</div>
  </div>
  {% endfor %}
</div>
{% endif %}
