<div class="show-project-servers">

  <a href="#" class="small-button" onclick="ppane.showServerNewForm(); return false;">New server</a>

  {% if not servers %}
    <div class="neutral-message">No servers yet</div>
  {% else %}
    <script type="text/javascript">
      initServersTable({{ lab.id }}, {{ project.id }});
    </script>
    <table id="servers-tbl"></table>
    <div id="servers-pager"></div>
  {% endif %}

</div>
