{% if u2lab.perms == u2lab.PERMS['owner'] %}
<script type="text/javascript">
$('.project-databases').editable('/my/{{ lab.id }}/projects/{{ project.id }}/databases', {
    name      : 'databases',
    loadurl   : '/my/{{ lab.id }}/projects/{{ project.id }}/databases/param',
    type      : 'textarea',
    cancel    : 'Cancel',
    submit    : 'Ok',
    indicator : 'Saving...',
    tooltip   : 'Click to edit databases info...',
    width     : 800,
    height    : 300
});
</script>
{% endif %}

<div class="project-databases">
{% if project.databases_info %}
<pre>
{{ project.databases_info }}
</pre>
{% elif u2lab.perms == u2lab.PERMS['owner'] %}
Click to edit databases info...
{% endif %}
</div>
