<p><b>Sharing</b></p>

<ul class="help-content-list">
    <li><a href="#sharing,prepare">Prepare disk</a></li>
    <li><a href="#sharing,share">Share disk</a></li>
    <li><a href="#sharing,mount">Mount</a></li>
</ul>

<div class="help-block">
    <h4><a href="#sharing,prepare" name="sharing,prepare">Prepare disk</a></h4>
    <div class="help-block-img">
        <p>Create new NFS disk</p>
        <a href="/static/img/content/sharing/sharing-1.png" target="_blank"><img src="/static/img/content/sharing/sharing-1.png" alt=""></a>
    </div>
    <div class="help-block-img">
        <p>or update disk type</p>
        <a href="/static/img/content/sharing/sharing-2.png" target="_blank"><img src="/static/img/content/sharing/sharing-2.png" alt=""></a>
    </div>
</div>
<div class="help-block">
    <h4><a href="#sharing,share" name="sharing,share">Share disk</a></h4>
    <div class="help-block-img">
        <p>Click &ldquo;share&rdquo;</p>
        <a href="/static/img/content/sharing/sharing-3.png" target="_blank"><img src="/static/img/content/sharing/sharing-3.png" alt=""></a>
    </div>
    <div class="help-block-img">
        <p>Click &ldquo;share&rdquo;</p>
        <a href="/static/img/content/sharing/sharing-4.png" target="_blank"><img src="/static/img/content/sharing/sharing-4.png" alt=""></a>
    </div>
</div>
<div class="help-block">
    <h4><a href="#sharing,mount" name="sharing,mount">Mount shared disk</a></h4>
    <div class="help-block-img">
        <p>Select disk and click &ldquo;mount&rdquo;</p>
        <a href="/static/img/content/sharing/sharing-5.png" target="_blank"><img src="/static/img/content/sharing/sharing-5.png" alt=""></a>
    </div>
</div>
