{% if not projects %}
<div class="neutral-message">
  <p>You have no projects yet.</p>
  <p>Use projects to organize your servers, disks and to share them with your collaborators.</p>
</div>
{% else %}
<script type="text/javascript">
  ppane.updateMyProjects([
  {% for user, proj, u2proj in projects %}
  {id   : {{ proj.id }},
   name : "{{ proj.name }}" },
  {% endfor %}
  ]);
</script>
<div>
  {% for user, proj, u2proj in projects %}
  <div class="project" onclick="ppane.showProject({{ proj.id }}, 'servers');">
    <div class="project-owner">
      <a href="/my/user/{{ user.id }}" title="{{ user.full_name }}">
        <img src="{{ user.gravatar }}?size=45" alt="{{ user.full_name }}">
      </a>
    </div>
    <h4>{{ proj.name }}</h4>
    <div class="desc">{{ proj.description_ptag }}</div>
    <div class="rel">{{ u2proj.position_str }}</div>
  </div>
  {% endfor %}
</div>
{% endif %}
