<div>
<script type="text/javascript">
    server.enableMountButton();
    server.setServer({{ server.id }});
    server.setStatus('{{ server.status_str }}');
    server.loadMountList();
    server.startStatusMonitor();
  </script>
  {% if server_owner %}
  <div class="server-instruction {% if server.ip == server.NO_IP %}hidden{% endif %}">
    <h4>Start using this virtual machine</h4>
    <ol>
      <li>Connect to <a href="/my/help/openvpn">ScaleGenomics VPN</a></li>
      <li>Open terminal and use command:
        <p class="shell-cmd">ssh {{ server.username }}@<span class="server-ip">{{ server.ip_str }}</span></p>
        <a class="shell-cmd-a" href="ftp://{{ server.username }}@{{ server.ip_str }}">ftp://{{ server.username }}@<span class="server-ip">{{ server.ip_str }}</span></a>
      </li>
    </ol>
    <p class="email-us"><a href="mailto:support@scalegenomics.com?subject=Connection">Email us</a> if you have any difficulties.</p>
  </div>
  {% endif %}
  <div id="show-server">
    <h2><a href="{{ server.url }}">{{ server.name }}</a></h2>
    <div class="server-created-by">Created by <a href="{{ owner.url }}">{{ owner.full_name }}</a></div>
    <div class="server-description">
      {{ server.ptag('description') }}
    </div>
    <dl class="unit-dl">
      <dt>Status</dt>
      <dd class="server-status">{{ server.status_str }}</dd>
      <dt>Ip</dt>
      <dd class="server-ip">{{ server.ip_str }}</dd>
      <dt>Core</dt>
      <dd>{{ server.cpu }}</dd>
      <dt>RAM</dt>
      <dd>{{ server.memory_str }}</dd>
      <dt>System disk size</dt>
      <dd>{{ server.size_str }}</dd>
      <dt>Image</dt>
      <dd>{{ server.image_name }}</dd>
      <dt>Created</dt>
      <dd>{{ server.created|datetimeformat }}</dd>
      <dt>Updated</dt>
      <dd>{{ server.updated|datetimeformat }}</dd>
    </dl>
    {% if server_owner and not block_pane %}
    <ul class="small-buttons-pane">
      <li class="disabled">Start</li>
      <li class="disabled">Stop</li>
      <li class="disabled">Restart</li>
      <li class="disabled">Mount</li>
      <li onclick="ppane.showServerEditForm({{ server.id }}); return false;">Edit</li>
      <li onclick="ppane.showServerLog({{ server.id }}); return false;">Log</li>
    </ul>
    {% endif %}
    <div class="server-mounted-storages"></div>

    {% if server_owner and not block_destroy  %}
    <span class="dev-button">Create an image
      <span class="tooltip server-in-dev-tooltip">
        <p>This feature is in development.</p>
        <p>For now, if you need to create an image, please <a href="mailto:support@scalegenomics.com?subject=Custom%20Image>contact us">contact us</a></p>
      </span>
    </span>
    <span class="destroy-button" onclick="ppane.showServerDestroyBlock(); return false;">Destroy</span>
    <div class="destroy-block">
      <span>Destroy server?</span>
      <div>
      <a href="#" class="to-button" onclick="ppane.destroyServer({{ server.id }}); return false;">Destroy</a> or
      <a href="#" onclick="ppane.hideServerDestroyBlock(); return false;">Cancel</a>
      </div>
    </div>
    {% endif %}

    {% if not server_owner %}
    <div class="note">You can't control server because you are not the owner.</message>
    {% endif %}
</div>
</div>
