<script type="text/javascript">
  $(function() {
  var max_len = $('#show-project-dashboard-servers-widget').css('height');
  var sto_len = $('#show-project-dashboard-disks-widget').css('height');
  max_len = parseInt(max_len.substr(0, max_len.length-2));
  sto_len = parseInt(sto_len.substr(0, sto_len.length-2));
  if (max_len < sto_len) max_len = sto_len;
  $('#show-project-dashboard-servers-widget').css('height', max_len);
  $('#show-project-dashboard-disks-widget').css('height', max_len);
  });
</script>


<div id="show-project-dashboard">

  <div id="show-project-dashboard-servers-widget" class="widget">
    <h4>Servers
      <span>(<a href="#" onclick="showRelationMap({{ lab.id }}, {{ project.id }}); return false">map</a>)</span>
    </h4>
    <table>
      <tbody>
        {% if servers %}
          {% for server in servers %}
            <tr onclick="showProjectServer({{ lab.id }}, {{ project.id }}, {{ server.id }}); return false;">
              <td><a href="#">{{ server.name }}</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr><td><a href="#" onclick="server.showNewForm(); return false;">Create</a></td></tr>
        {% endif %}
        </tbody>
    </table>
  </div>

  <div id="show-project-dashboard-disks-widget" class="widget">
    <h4>Disks</h4>
    <table>
      <tbody>
        {% if disks %}
          {% for disk in disks %}
            <tr onclick="showProjectDisk({{lab.id }}, {{ project.id }}, {{ disk.id }}); return false;">
              <td><a href="#">{{ disk.name }}</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr><td><a href="#" onclick="storage.showNewForm(); return false;">Create</a></td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div id="show-project-dashboard-members-widget" class="widget">
    <h4>Members</h4>
    <table class="user-tbl">
      <tbody>
        {% for user, u2proj in user_u2proj %}
          {% if u2proj.relation == u2proj.REL_TYPES['waiting'] and project.created_by == session.user_id %}
            <tr id="show-project-members-user-{{ user.id }}" class="hl-row">
          {% else %}
            <tr id="show-project-members-user-{{ user.id }}">
          {% endif %}
          <td>
            <a href="{{ user.url }}"><img src="{{ user.gravatar }}?size=30" alt="{{ user.full_name }}" title="{{ user.full_name }}"></a>
          </td>
          <td><a href="{{ user.url }}">{{ user.full_name }}</a></td>
          {% if project.created_by == session.user_id %}
            {% if u2proj.relation == u2proj.REL_TYPES['waiting'] %}
              <td class="control">
                <a href="#" onclick="actionUserToProject('add-in-dashboard', {{ lab.id }}, {{ project.id }}, {{ user.id }}); return false;">Confirm</a> | 
                <a href="#" onclick="actionUserToProject('reject', {{ lab.id }}, {{ project.id }}, {{ user.id }}); return false;">Reject</a>
              </td>
            {% else %}
              <td></td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <table class="tbl events-tbl">
    <thead>
      <tr>
        <th>Last updates</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>{{ event.created }}</td>
        <td>{{ event.text_in_project }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
