{% if shs_with_me["users"] or shs_with_me["labs"] %}
<table class="tbl public-storages">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Disk</th>
            <th>Description</th>
            <th>Size</th>
            <th>Mounted to</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for sec in ["users", "labs"] %}
    {% for u, stor, sh, mounts in shs_with_me[sec] %}
    <tr id="sharing-{{ stor.id }}" >
        <td><img src="{{ u.gravatar }}?size=30" alt="{{ u.full_name }}" /></td>
        <td>{{ stor.name }}</td>
        <td>{{ stor.ptag("description") }}</td>
        <td>{{ stor.size|sizeformat }}</td>
        <td>
        {% if mounts %}
        <ul>
            {% for serv, rel in mounts %}
            <li id="rel-{{ rel.id }}">
                <a href="{{ serv.url }}">{{ serv.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </td>
        {% if sh.is_deleting %}
        <td></td>
        <td>Deleting</td>
        {% else %}
        <td><a href="#" onclick="sh.openMountDialog({{ stor.id }}, {{ sh.id }}); return false;">Mount</a></td>
        <td><a href="#" onclick="sh.deleteShared({{ stor.id }}, {{ sh.id }}); return false;">Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="neutral-message">No public data</div>
{% endif %}
