<div>
  {% if project.created_by == session.user_id %}
  <a class="to-button add-members-button" href="#" onclick="ppane.showAddMembersDialog(); return false;">Add member</a>
  {% endif %}

  <table class="tbl user-tbl members-tbl">
    <thead>
      <tr>
        <th></th>
        <th>Full name</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user, u2proj in members %}
        {% if u2proj.relation == u2proj.REL_TYPES['waiting'] and project.created_by == session.user_id %}
          <tr id="show-project-members-user-{{ user.id }}" class="hl-row">
        {% else %}
          <tr id="show-project-members-user-{{ user.id }}">
        {% endif %}
        <td>
          <a href="{{ user.url }}"><img src="{{ user.gravatar }}?size=30" alt="{{ user.full_name }}" title="{{ user.full_name }}"></a>
        </td>
        <td><a href="{{ user.url }}">{{ user.full_name }}</a></td>
        <td>{{ u2proj.position_str }}</td>
        {% if project.created_by == session.user_id %}
          {% if u2proj.relation == u2proj.REL_TYPES['waiting'] %}
            <td class="control">
              <a href="#" onclick="ppane.actionUserToProject('add-in-members', {{ user.id }}); return false;">Confirm</a> |
              <a href="#" onclick="ppane.actionUserToProject('reject', {{ user.id }}); return false;">Reject</a>
            </td>
          {% elif u2proj.relation == u2proj.REL_TYPES['member'] and u2proj.position != u2proj.POSITIONS['owner'] %}
            <td class="control"><a href="#" onclick="ppane.actionUserToProject('delete', {{ user.id }}); return false;">Delete</a></td>
          {% else %}
            <td></td>
          {% endif %}
        {% else %}
            <td></td>
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
