{% if future %}
  <div class="neutral-message">Future</div>
{% else %}
  <div class="payments-by-project">
    {% if invoice %}
      <div class="invoice-message">{{ invoice.paid_text }}</div>
    {% endif %}
    {% if projects or wprojects %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Servers price</th>
            <th>Disks price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for proj in projects %}
          <tr onclick="showProjectPayments({{ lab.id}}, {{ proj['project'].id  }}); return false;">
            <td>{{ proj['project'].name }}</td>
            <td>{{ "%0.2f"|format(proj['servers-price']) }}</td>
            <td>{{ "%0.2f"|format(proj['disks-price']) }}</td>
            <td>{{ "%0.2f"|format(proj['total-price']) }}</td>
          </tr>
          {% endfor %}
          {% if wprojects %}
          <tr onclick="showProjectPayments({{ lab.id}}, 'no'); return false;">
            <td>No project</td>
            <td>{{ "%0.2f"|format(wprojects['servers-price']) }}</td>
            <td>{{ "%0.2f"|format(wprojects['disks-price']) }}</td>
            <td>{{ "%0.2f"|format(wprojects['total-price']) }}</td>
          </tr>
          {% endif %}
          <tr>
            <td>Total</td>
            <td>{{ "%0.2f"|format(servers_total) }}</td>
            <td>{{ "%0.2f"|format(disks_total) }}</td>
            <td>&#36;{{ "%0.2f"|format(total) }}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    
  </div>
{% endif %}
