{% if storages %}
<table class="tbl tbl-cols nfs-storages">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Shared with</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for storage, shs in storages %}
        <tr>
            <td><a href="{{ storage.url }}">{{ storage.name }}</a></td>
            <td>{{ storage.size|sizeformat }}</td>
            <td>
                <ul>
                    {% for user, count, sh in shs["users"] %}
                    <li>
                        <a href="{{ user.url }}">{{ user.full_name }}</a>
                        <span>
                        {% if count > 0 %}
                        ({{ count }} mounts)
                        {% else %}
                        (not mounted)
                        {% endif %}
                        </span>
                    </li>
                    {% endfor %}
                    {% for lab, count, sh in shs["labs"] %}
                    <li>
                        <a href="{{ lab.url }}">{{ lab.name }}</a>
                        <span>
                        {% if count > 0 %}
                        ({{ count }} mounts)
                        {% else %}
                        (not mounted)
                        {% endif %}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td><a href="#" onclick="sh.openSharingDialog({{ storage.id }}); return false;">share / unshare</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="after-table-note">* Sharing is only avaible for NFS disks</p>
{% else %}
<div class="message-block">
    <h4>Sharing is only available to disks with NFS type of mounting</h4>
    <div>
        <ul>
            <li>NSF disks are slower than local</li>
            <li>we <b>don't recommend</b> NFS disk for long-term computations</li>
        </ul>
    </div>
</div>
{% endif %}
