{% if my_storages or oth_storages or nfs_storages or shs_storages %}
    {% if my_storages %}
    <table class="mount-umount-storages">
        <caption>My local disks</caption>
        {% for stor in my_storages %}
        <tr>
            <td><input type="checkbox" name="{{ stor.id }}" data="my-local"></td>
            <td><a href="{{ stor.url }}">{{ stor.name }}</a></td>
            <td>{{ stor.size | sizeformat }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if oth_storages %}
    <table class="mount-umount-storages">
        <caption>Other disks</caption>
        {% for stor in oth_storages %}
        <tr>
            <td><input type="checkbox" disabled></td>
            <td><a href="{{ stor.url }}">{{ stor.name }}</a></td>
            <td>{{ stor.size | sizeformat }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if nfs_storages %}
    <table class="mount-umount-storages">
        <caption>My NFS disks</caption>
        {% for stor in nfs_storages %}
        <tr>
            <td><input type="checkbox" name="{{ stor.id }}" data="my-nfs"></td>
            <td><a href="{{ stor.url }}">{{ stor.name }}</a></td>
            <td>{{ stor.size | sizeformat }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if shs_storages %}
    <table class="mount-umount-storages">
        <caption>Shared disks</caption>
        {% for stor in shs_storages %}
        <tr>
            <td><input type="checkbox" name="{{ stor.id }}" data="shared"></td>
            <td>{{ stor.name }}</td>
            <td>{{ stor.size | sizeformat }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <span id="dialog-mount-button" class="to-button" href="#" onclick="server.mount(); return false;">Mount</span>
{% else %}
    <div class="neutral-message">No disks to mount</div>
{% endif %}

