{% extends 'my/lab_layout.html' %}

{% block title %}Payments - Upgrade plan{% endblock %}

{% block labbody %}

{% if time_block %}
<div class="neutral-message">
  Sorry, you can change plans once per day only.
</div>
{% else %}

  {% if lab.cpu_used > plan.cores %}
  <div class="neutral-message">
    <p>CPU usage more than new cores limit.</p>
    <p>Please remove or change servers.</p>
  </div>
  {% endif %}

  {% if lab.ram_used > plan.ram_mb %}
  <div class="neutral-message">
    <p>RAM usage more than new RAM limit.</p>
    <p>Please remove or change servers.</p>
  </div>
  {% endif %}

  {% if lab.storages_used > plan.storage_mb %}
  <div class="neutral-message">
    <p>Storage usage more than new storage limit.</p>
    <p>Please remove disks.</p>
  </div>
  {% endif %}

  {% if not block_form %}
  <div class="neutral-message">Confirm new plan</div>
  <form class="upgrade-plan" method="post">
    <button class="to-button">Upgrade</button> or
    <a href="/my/{{ lab.id }}/payments/plans/upgrade">Cancel</a>
  </form>
  {% endif %}

{% endif %}

{% endblock %}
