{% extends 'my/lab_layout.html' %}

{% block title %}Disk - Edit{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_storage.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/autoresize.jquery.min.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
setDescAutoResize('#storage-description', '{{ dheight }}');
$('#edit-storage-form button').removeAttr('disabled');
{% endblock %}

{% block labbody %}
<form method="post" id="edit-storage-form" onsubmit="validateEditStorageForm({{ lab.id }}, {{ storage.id }}, '{{ storage.alias }}'); return false;">
  <h4>Edit disk</h4>
  <div>
    <div><label for="storage-name">Name</label></div>
    <div><input name="storage-name" id="storage-name" type="text" value="{{ storage.name }}" maxlength="30"></div>
  </div>
  <div>
    <div><label for="storage-alias">Mount point name</label></div>
    <div>
      {% if can_edit %}
      <input name="storage-alias" id="storage-alias" type="text" value="{{ storage.alias }}" maxlength="30">
      {% else %}
      <input name="storage-alias" id="storage-alias" type="text" value="{{ storage.alias }}" maxlength="30" readonly="readonly"> <span class="form-error">Already mounted</span>
      {% endif %}
    </div>
  </div>
  <div>
    <div><label for="storage-description">Description</label></div>
    <div><textarea name="storage-description" id="storage-description" cols="10" rows="10">{{ storage.description }}</textarea></div>
  </div>
  <div>
    <div><label for="storage-type">Type</label></div>
    <div>
      <select id="storage-type" name="storage-type" {% if not can_edit %} disabled {% endif %}>
          {% for type, id in storage.TYPES.items() %}
          {% if storage.type == id %}
          <option value="{{ id }}" selected>{{ type }}</option>
          {% else %}
          <option value="{{ id }}">{{ type }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div>
    <div><label for="storage-project">Project</label></div>
    <div>
      <select id="storage-project" name="storage-project" {% if not can_edit %}disabled{% endif %}>
        {% for project in projects %}
        {% if project.id == storage.project_id %}
        <option selected="selected" value="{{ project.id }}">{{ project.name }}</option>
        {% else %}
        <option value="{{ project.id }}">{{ project.name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div>
    <button class="to-button">Update</button> or <a href="/my/{{ lab.id }}/storage/{{ storage.id }}">Cancel</a>
  </div>
</form>
{% endblock %}
