{% extends 'my/layout.html' %}

{% block title %} Help {% endblock %}

{% block content %}
<div class="content">

  <div class="vpn-intro">
    <p><abbr title="Virtual Privite Network">VPN</abbr> - virtual private network.</p>
  </div>

  <div class="vpn-common">
    <h4><a href="#settings">ScaleGenomics VPN</a></h4>
    <ul>
      <li>VPN gateway: <em>scalegenomics.com</em></li>
      <li>Username and password from SG account</li>
      <li>Use 128-bit encryption (MPPE)</li>
    </ul>
  </div>

  <div class="vpn-os-list">
    <h4>Select operating system</h4>
    <ul>
      <li><a href="#mac">Mac OS</a></li>
      <li><a href="#win-7">Windows 7</a></li>
      <li><a href="#ubuntu-1110">Ubuntu 11.10 (Oneiric Ocelot)</a></li>
    </ul>
  </div>

  <div class="vpn-os">
    <div class="vpn-os-version">
      <h4><a name="mac">Mac OS</a></h4>
      <ul>
        <li>
          <p>Add new connection by pressing &laquo;&#43;&raquo; in the lower left corner</p>
          <p><img src="/static/img/content/vpn/mac.0.png" alt="Mac VPN" /></p>
        </li>
        <li>
          <ol>
            <li>Set &laquo;Interface&raquo; to <em>VPN</em></li>
            <li>&laquo;VPN&raquo; type to <em>PPTP</em></li>
            <li>&laquo;Service Name&raquo; to <em>Scale Genomics VPN</em></li>
            <li>Click &laquo;Apply&raquo;</li>
          </ol>
          <p><img src="/static/img/content/vpn/mac.1.png" alt="Mac VPN" /></p>
        </li>
        <li>
          <p>Click &laquo;Configuration&raquo; and click &laquo;Add Configuration&raquo;</p>
          <p><img src="/static/img/content/vpn/mac.2.png" alt="Mac VPN" /></p>
        </li>
        <li>
          <p>Type in <em>Scale Genomics</em> in Name</p>
          <p><img src="/static/img/content/vpn/mac.3.png" alt="Mac VPN" /></p>
        </li>
        <li>
          <ol>
            <li>Type in <em>scalegenomics.com</em> in &laquo;Server Address&raquo;</li>
            <li>Use your Scale Genomics username in &laquo;Account Name&raquo;</li>
            <li>Choose <em>Maximum (128 bit only)</em> in &laquo;Encryption&raquo;</li>
          </ol>
          <p><img src="/static/img/content/vpn/mac.4.png" alt="Mac VPN" /></p>
        </li>
        <li>
          <ol>
            <li>Click &laquo;Authentication Settings&raquo;</li>
            <li>Choose &laquo;Password&raquo;</li>
            <li>Type in your Scale Genomics account password</li>
            <li>Click &laquo;OK&raquo;</li>
          </ol>
          <p><img src="/static/img/content/vpn/mac.5.png" alt="Mac VPN" /></p>
        </li>
        <li>
          <p>Click &laquo;Connect&raquo;</p>
          <p><img src="/static/img/content/vpn/mac.6.png" alt="Mac VPN" /></p>
        </li>
      </ul>
      <h4>Enjoy!</h4>
    </div>
  </div>

  <div class="vpn-os">
    <div class="vpn-os-version">
      <h4><a name="win-7">Windows 7</a></h4>
      <ul>
        <li>
          <p>Find VPN</p>
          <p><img src="/static/img/content/vpn/win7.0.png" alt="Windows VPN" /></p>
        </li>
        <li>
          <p>Configure VPN address</p>
          <p><img src="/static/img/content/vpn/win7.1.png" alt="Windows VPN" /></p>
        </li>
        <li>
          <p>Use your Scale Genomics username and password</p>
          <p><img src="/static/img/content/vpn/win7.2.png" alt="Windows VPN" /></p>
        </li>
        <li>
          <p>Configure VPN settings</p>
          <p><img src="/static/img/content/vpn/win7.3.png" alt="Windows VPN" /></p>
        </li>
      </ul>
      <h4>Enjoy!</h4>
    </div>
  </div>

  <div class="vpn-os">
    <div class="vpn-os-version">
      <h4><a name="ubuntu-1110">Ubuntu 11.10 (Oneiric Ocelot)</a></h4>
      <ul>
        <li>
          <p>Configure VPN</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.0.png" alt="Ubuntu VPN" /></p>
        </li>
        <li>
          <p>Add new connection</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.1.png" alt="Ubuntu VPN" /></p>
        </li>
        <li>
          <p>Select PPTP</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.2.png" alt="Ubuntu VPN" /></p>
        </li>
        <li>
          <p>Input data</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.3.png" alt="Ubuntu VPN" /></p>
        </li>
        <li>
          <p>Advanced settings</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.4.png" alt="Ubuntu VPN" /></p>
        </li>
        <li>
          <p>Save and exit</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.5.png" alt="Ubuntu VPN" /></p>
        </li>
        <li>
          <p>Try to connect</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.6.png" alt="Ubuntu VPN" /></p>
        </li>
        <li>
          <p>Have fun!</p>
          <p><img src="/static/img/content/vpn/ubuntu.11.10.7.png" alt="Have fun!" /></p>
        </li>
      </ul>
    </div>
  </div>

</div>
{% endblock %}
