{% extends "my/layout.html" %}

{% block title %} Help {% endblock %}

{% block head %}
<script src="/static/js/help.js"></script>
{% endblock %}

{% block init %}
help = new Help();
help.readHash();
{% endblock %}

{% block content %}
<div class="content">
    <ul class="help-sections">
        <li><a href="#" onclick="help.showSection('main'); return false;">Main</a><span>&rarr;</span></li>
        <li><a href="#" onclick="help.showSection('vpn'); return false;">VPN</a><span>&rarr;</span></li>
        <li><a href="#" onclick="help.showSection('disks'); return false;">Disks</a><span>&rarr;</span></li>
    </ul>
    <div class="help-content"></div>
</div>
{% endblock %}
