{% extends 'my/layout.html' %}

{% block title %} My {% endblock %}

{% block content %}
<div id="index" class="content">
    <h4>Welcome to Scale Genomics! What would you like to do?</h4>

    <ul id="index-action-list">
        <li onclick="window.location='/my/new'"><a href="/my/new">Create new lab</a></li>
        <li onclick="window.location='/my/join'"><a href="/my/join">Join existing lab</a></li>
        <li onclick="window.location='/my/users'"><a href="/my/users">Browse People</a></li>
        <li onclick="window.location='/my/help'"><a href="/my/help">Help</a></li>
    </ul>

    {% if pairs %}
    <div id="my-lab-short-info">
        {% for lab, rel, owner in pairs %}
        <div>
            <h4>
                {% if rel.is_relation("owner") or rel.is_relation("member") %}
                <a href="/my/{{ lab.id }}">{{ lab.name }}</a>
                {% else %}
                {{ lab.name }} <span>({{ rel.relation_str }})</span>
                {% endif %}
            </h4>
            <div>
                <img src="{{ owner.gravatar }}?size=50" alt="{{ owner.full_name }}" title="{{ owner.full_name }}">
                <a href="{{ owner.url }}">{{ owner.full_name }}</a>
            </div>
        </div>
        {% else %}
        <div>
            <div class="no-labs">
                <h4><a href="/my/join">Join</a> existing lab</h4>
                <h4><a href="/my/new">Create</a> new lab</h4>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
