{% extends 'my/layout.html' %}


{% block title %} Join to lab {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_join.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
showAllProjectsByType('All', 1);
{% endblock %}

{% block content %}
<div class="content">
  <ul class="lab-types">
    <li><a href="#" onclick="showAllProjectsByType('All', 1); return false;">All</a></li>
    {% for i, type in lab_types %}
    <li><a href="#" onclick="showAllProjectsByType('{{ type}}', {{ i+2 }}); return false;">{{ type }}</a></li>
    {% endfor %}
  </ul>
  <div class="all-labs"></div>
</div>
{% endblock %}
