{% extends 'my/lab_layout.html' %}

{% block title %}Lab - Invoices{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_lab_payments_invoices.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
lab_invoices = new LabInvoices({{ lab.id }});
lab_invoices.parseHash();
{% endblock %}

{% block labbody %}

{% if invoices %}
  <div class="left-bar">
    <ul>
      <li class="border"><a href="#" onclick="lab_invoices.showAll(); return false;">All</a></li>
      {% for inv in invoices %}
      <li id="invoice-{{ inv.id }}"><a href="#" onclick="lab_invoices.showInvoice({{ inv.id }}); return false;">{{ inv.date.strftime("%B") }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="left-bar-content"></div>
{% else %}
  <div class="neutral-message">No invoices</div>
{% endif %}

{% endblock %}
