{% extends 'my/layout.html' %}

{% block content %}
<div class="content">
  <div id="lab-header">
    <h2>{{ lab.name }}</h2>
    <div class="lab-limit">
      <h4>Current usage</h4>
      <p class="cpu-bar"><span style="width: {% if lab.cpu_used_proc > 100 %}100{% elif lab.cpu_used_proc < 0 %}0{% else %}{{ lab.cpu_used_proc }}{% endif %}%"></span></p>
      <p class="ram-bar"><span style="width: {% if lab.ram_used_proc > 100 %}100{% elif lab.ram_used_proc < 0%}0{% else %}{{ lab.ram_used_proc }}{% endif %}%"></span></p>
      <p class="sto-bar"><span style="width: {% if lab.stor_used_proc > 100 %}100{% elif lab.stor_used_proc < 0 %}0{% else %}{{ lab.stor_used_proc }}{% endif %}%"></span></p>
      <div class="info">
        <dl>
          <dt>Cores</dt>
          <dd>{{ lab.cpu_used }} / {{ lab.cpu_limit }}</dd>
          <dt>RAM</dt>
          <dd>{{ lab.ram_used_gb_str }} / {{ lab.ram_limit_gb }} GB</dd>
          <dt>Storage</dt>
          <dd>{{ lab.storages_used_tb_str }} / {{ lab.storages_limit_tb }} TB</dd>
        </dl>
      </div>
    </div>
    {% if c_plan.name == c_plan.PLANS['Trial'] and lab.status == lab.STATUS['active'] %}
      <div class="days-remained-info">{{ c_plan.days_remain }} {% if c_plan.days_remain == 1 %}day{% else %}days{% endif %} remain in the Free Trial</div>
    {% elif lab.status == lab.STATUS['trial block'] %}
      <div class="days-remained-warning">You {{ c_plan.TRIAL_DAYS_LIMIT }} day Free Trial plan has finished.
        {% if u2lab.perms == u2lab.PERMS['owner'] %}
        To continue using Scale Genomics please <a href="{{ lab.url }}/payments/plans/upgrade">upgrade</a> your lab plan.
        {% endif %}
      </div>
    {% endif %}
    {% if lab.status == lab.STATUS['not verified'] or lab.status == lab.STATUS['verification'] %}
    <div class="verify-block">
      {% if lab.status == lab.STATUS['not verified'] %}
      <div class="not-verified">
        This lab has not been verified yet.
      </div>
        {% if u2lab.perms == u2lab.PERMS['owner'] %}
          <button class="small-button" onclick="requestLabValidation({{ lab.id }}); return false;">Request verification</button>
        {% endif %}
      {% endif %}
      <div class="verification" {% if lab.status != lab.STATUS['verification'] %}style="display: none"{% endif %}>
        Verification pending.
      </div>
    </div>
    {% endif %}
    <ul>
        <li {% if labpage == 'dashboard' %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}">Projects</a>
        </li>
        {% if 'members' == labpage %}
        <li class="selected"><a href="/my/{{ lab.id }}/members">Members</a></li>
        {% else %}
        <li {% if 'members' == labpage %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}/members">Members {% if lab.wait_to_approve > 0 %}<span id="waiting-to-be-approved">{{ lab.wait_to_approve }}</span>{% endif %}</a>
        </li>
        {% endif %}
        <li {% if 'servers' == labpage %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}/servers">Servers</a>
        </li>
        <li {% if 'disks' == labpage %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}/storage">Disks</a>
        </li>
        {#
        <li {% if 'databases' == labpage %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}/databases">Databases</a>
        </li>
        #}
        <li {% if 'sharings' == labpage %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}/sharing">Sharing</a>
        </li>
        {% if lab.is_ds_visible %}
        <li {% if 'datasets' == labpage %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}/datasets">Datasets</a>
        </li>
        {% endif %}
        <li {% if 'updates' == labpage %}class="selected"{% endif %}>
            <a href="/my/{{ lab.id }}/updates">Updates</a>
        </li>
        {% if 'payments' == labpage %}
            <li class="selected"><a href="/my/{{ lab.id }}/payments">Payments</a></li>
        {% elif u2lab.perms == u2lab.PERMS['owner'] %}
            <li><a href="/my/{{ lab.id }}/payments">Payments</a></li>
        {% endif %}
        {% if u2lab.perms == u2lab.PERMS['owner'] %}
            <li {% if 'settings' == labpage %}class="selected"{% endif %}><a href="/my/{{ lab.id }}/settings">Settings</a></li>
        {% endif %}
    </ul>
  </div>

  {% block labbody %}{% endblock %}

</div>
{% endblock %}
