<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="description" content="Scale Genomics is a cloud-based data storage, computation, and collaboration platform for Next Generation Sequencing." />

  <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" >
  <title>{% block title %}{% endblock %} | {{ SITE_NAME }}</title>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19269044-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.jeditable.mini.js"></script>
  <script type="text/javascript" src="/static/js/jqgrid/i18n/grid.locale-en.js"></script>
  <script type="text/javascript" src="/static/js/jqgrid/jquery.jqGrid.min.js"></script>
  <script type="text/javascript" src="/static/js/common.js?{{ TIMESTAMP }}"></script>
  <script type="text/javascript" src="/static/js/my.js?{{ TIMESTAMP }}"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/common.css?{{ TIMESTAMP }}">
  <link rel="stylesheet" type="text/css" href="/static/css/my.css?{{ TIMESTAMP }}">
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.8.10.custom.css?{{ TIMESTAMP }}">
  <link rel="stylesheet" type="text/css" href="/static/css/ui.jqgrid.css?{{ TIMESTAMP }}">
  {% block head %}{% endblock %}
  <script type="text/javascript">
    $(function() {
      {% if 'labs' in session and session.labs|count > 1 %}
      initDropMenu();
      {% endif %}
      {% block init %}{% endblock %}
    });
  </script>
</head>

<body>
  <div id="userpane">
    <a href="/my" id="logo">{{ SITE_NAME }} <span>private beta</span></a>
    <ul id="top-navy-menu">
    {% if 'username' in session %}
      {% if cpage == 'profile' %}
        <li id="username">
          <img src="{{ user.gravatar }}?size=30" alt="{{ user.username }}" title="{{ user.username }}">
          <a href="/profile" class="selected">{{ user.username }}</a>
        </li>
      {% else %}
        <li id="username">
          <img src="{{ user.gravatar }}?size=30" alt="{{ user.username }}" title="{{ user.username }}">
          <a href="/profile">{{ user.username }}</a>
        </li>
      {% endif %}
      {% if 'labs' in session and session.labs|count > 1 %}
        <li {% if cpage == 'mylabs' %}class="selected"{% endif %}>
          <a href="/my">My labs</a>
          <ul class="dropmenu">
          {% for lab_id, lab_name in session.labs %}
            <li><a href="/my/{{ lab_id }}">{{ lab_name }}</a></li>
          {% endfor %}
          </ul>
        </li>
      {% endif %}
      {% if cpage == 'mylabs' and 'labs' in session and session.labs|count == 1 %}
        <li id="my" class="selected"><a href="/my">My Scale Genomics</a></li>
      {% elif cpage == 'mylabs' and 'labs' in session and session.labs|count == 0 %}
        <li id="my" class="selected"><a href="/my">My Scale Genomics</a></li>
      {% else %}
        <li id="my"><a href="/my">My Scale Genomics</a></li>
      {% endif %}
      {% if user.is_staff %}
        <li><a href="/root">Root</a></li>
      {% endif %}
      {% if cpage == 'help' %}
        <li class="selected"><a href="/my/help">Help</a></li>
      {% else %}
        <li><a href="/my/help">Help</a></li>
      {% endif %}
      <li><a href="/logout">Logout</a></li>

    {% else %}
      {% if cpage == 'signup' %}
        <li class="selected"><a href="/signup">Sign Up</a></li>
      {% else %}
        <li><a href="/signup">Sign Up</a></li>
      {% endif %}
      {% if cpage == 'login' %}
        <li class="selected"><a href="/">Login</a></li>
      {% else %}
        <li><a href="/">Login</a></li>
      {% endif %}
    {% endif %}
    </ul>
  </div>

  <noscript><p>Please enable JavaScript</p></noscript>
  {#
  <div class="global-message">
    <p>The <b>Scale Genomics Service</b> will undergo brief maintenance on <b>23.01.2012</b>.</p>
    <p>During this time you will not be able to access your data.</p>
    <p>Please let us know if this presents a problem. Service will resume on <b>24.01.2012</b>.</p>
  </div>
  #}
  {% block content %}{% endblock %}

  <div id="footer">
    <div>
      &copy; 2010-&infin; {{ COPYRIGHT_NAME }} All Rights Reserved.
      <a href="/about/">About</a>
      <a href="/terms-of-service">Terms of service</a>
      <a href="/subscription-plans/">Plans</a>
      <a href="/team">Team</a>
      <a href="/contact-us">Contact us</a>
    </div>
  </div>
</body>
</html>
