{% extends "my/lab_layout.html" %}

{% block title %} Dataset Request | Create new {% endblock %}

{% block labbody %}
{{ message|messageformat }}
{% if not dataset %}
<div class="neutral-message">Please create dataset first.</div>
{% else %}
<form method="post" class="edit-dataset">
    <h4>New Request</h4>
    <div>
        <table class="h-tbl">
            <tbody>
            <tr>
                <td>Title</td>
                <td>{{ dataset.title }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ dataset.description }}</td>
            </tr>
            <tr>
                <td>Public</td>
                <td>{{ dataset.is_public_str }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ dataset.status_str }}</td>
            </tr>
            <tr>
                <td>Owner</td>
                <td><a href="{{ owner.url }}">{{ owner.full_name }}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div>{{ form.dataset_volume_id.label }}</div>
        <div>{{ form.dataset_volume_id(tabindex=1)}}</div>
    </div>
    <div>
        <button class="to-button">Request</button> or
        <a href="/my/{{ lab.id }}/datasets">Cancel</a>
    </div>
</form>
{% endif %}
{% endblock %}
