{% extends 'my/layout.html' %}

{% block title %} Lab - Create new lab - Select plan{% endblock %}

{% block content %}
<div class="content">

{% if rels|count >= 5 %}
<div class="neutral-message">Reached lab limit.</div>
{% else %}
<h4>Create new lab</h4>

<div class="plans">
  {% for plan in plans %}
  <div class="plan">
    <h4>{{ plan.name_str }}</h4>
    <ul>
      <li>{{ plan.price_str }}</li>
      <li>{{ plan.cores_str }}</li>
      <li>{{ plan.ram_str }}</li>
      <li>{{ plan.storage_str }}</li>
    </ul>
    <a href="/my/new/{{ plan.id }}">Choose plan</a>
  </div>
  {% endfor %}
  <div class="personal-plan">
    <a href="mailto:support@scalegenomics.com">Contact us</a> if you need a personal plan.
  </div>
</div>
{% endif %}
</div>
{% endblock %}

