{% extends 'my/layout.html' %}

{% block title %} Lab - Create new lab {% endblock %}

{% block content %}
<div class="content">
  <h4>Create new lab</h4>
  {{ message|messageformat }}
  <form method="post" class="new-lab">
    {% if plan.name == plan.PLANS['Trial'] %}
    <div class="trial-info">
      <h4>Trial plan info</h4>
      <p>After <b>{{ plan.TRIAL_DAYS_LIMIT }} days</b> your servers will be stopped and can be restarted by signing up for one of the paid plans.
    </div>
    {% endif %}
	<div>
      <div>{{ form.name.label }}</div>
      <div>{{ form.name(tabindex=1)}}</div>
      {% if 'name' in form.errors %}
        <span class="form-error">{{ form.errors['name'][0] }}</span>
      {% endif %}
    </div>
	<div>
      <div>{{ form.type.label }}</div>
      <div>{{ form.type(tabindex=2) }}</div>
      {% if 'type' in form.errors %}
        <span class="form-error">{{ form.errors['type'][0] }}</span>
      {% endif %}
	</div>
    <div>
      <button class="to-button">Create</button> or <a href="/my">Cancel</a>
    </div>
  </form>
  <div class="plan left">
    <h4>{{ plan.name_str }}</h4>
    <ul>
      <li>{{ plan.price_str }}</li>
      <li>{{ plan.cores_str }}</li>
      <li>{{ plan.ram_str }}</li>
      <li>{{ plan.storage_str }}</li>
    </ul>
    <a href="/my/new">Change plan</a>
  </div>
</div>
{% endblock %}
