{% extends 'my/lab_layout.html' %}

{% block title %}Lab - New Server{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_server.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/autoresize.jquery.min.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
cservs_info = {{ cservs_info }};
{% if cservs %}
initServerCServer();
{% endif %}
setDescAutoResize('#description');
{% endblock %}

{% block labbody %}

{% if not projects %}
<div class="neutral-message">
    No projects. <a href="/my/{{ lab.id }}#new">Create</a> or <a href="/my/{{ lab.id }}/projects">Join</a>
</div>

{% elif not cservs %}
<div class="neutral-message">The laboratory is not configured.</div>

{% elif not free_space %}
<div class="neutral-message">We are really sorry, but no free space right now.</div>

{% elif cpu_block %}
<div class="neutral-message">You have reached your lab's CPU limit.</div>

{% elif mem_block %}
<div class="neutral-message">You have reached your lab's RAM limit.</div>

{% else %}
<form method="post" class="server-form" onsubmit="validateNewServerForm({{ lab.id }}); return false;">
  <h4>Create new server</h4>
  <div>
    <div>{{ form.name.label }}</div>
    <div>{{ form.name(tabindex=1) }}</div>
  </div>
  <div>
    <div>{{ form.description.label }}</div>
    <div>{{ form.description(tabindex=2) }}</div>
  </div>
  <div>
    <div><label for="server-size">System disk size</label></div>
    <div><input type="text" id="server-size" class="jui-slider-input" value="25 GB" disabled="disabled" /></div>
  </div>
  <div>
    <div>{{ form.cpu.label }}</div>
    <div>{{ form.cpu(tabindex=3, class="jui-slider-input", disabled="disabled") }}</div>
    <div id="server-cpu-slider" class="jui-slider"></div>
  </div>
  <div>
    <div>{{ form.ram.label }}</div>
    <div>{{ form.ram(tabindex=4, class="jui-slider-input", disabled="disabled") }}</div>
    <div id="server-ram-slider" class="jui-slider"></div>
  </div>
  <div>
    <div>{{ form.image.label }}</div>
    <div>{{ form.image }}</div>
    <small><a href="mailto:support@scalegenomics.com?subject=Custom%20Image">Contact us</a> if you need a custom image.</small>
  </div>
  <div>
    <div>{{ form.project.label }}</div>
    <div>{{ form.project }}</div>
  </div>
  <div>
    {% if lab.status == lab.STATUS['active'] %}
    <button class="to-button">Create</button>
    {% elif lab.status == lab.STATUS['trial block'] %}
    <span class="dev-button">Create
      <span class="tooltip">You cannot create virtual machines</span>
    </span>
    {% else %}
    <span class="dev-button">Create
      <span class="tooltip">You cannot create virtual machines until this lab has been verified</span>
    </span>
    {% endif %}
    or
    <a href="/my/{{ lab.id }}/servers">Cancel</a>
  </div>
</form>

{% include "my/_include_server_cservers.html" %}

{% endif %}
{% endblock %}
