{% extends 'my/layout.html' %}

{% block title %} 404 - Page not found {% endblock %}

{% block content %}
<div class="notfound">
    <h3>404 : Page not found</h3>
    <div>
        <p>Sorry, but the page you are looking for has not been found.</p>
        <p>Try checking the URL for errors, then hit the refresh button on your browser.</p>
    </div>
    <div>
        <a href="/">Return to home page</a>
    </div>
</div>
{% endblock %}
