{% extends 'my/layout.html' %}

{% block title %} Redirect to{% endblock %}

{% block content %}
<div class="content">

<div class="redirect-to-block">
  <div class="note">Go to <b>{{ user.personal_site }}</b>?</div>
  <div>
    <a class="to-button" href="{{ user.personal_site }}">Yes</a> or
    <a href="{{ back_link }}">Cancel</a>
  </div>
</div>

</div>
{% endblock %}
