{% extends "my/lab_layout.html" %}

{% block title %} Dataset Requests {% endblock %}

{% block labbody %}
{% if not requests %}
<div class="neutral-message">No Dataset Requests so far.</div>
{% else %}
<div class="sharing-sections">
    <ul>
        <li><a href="datasets">Datasets</a></li>
        <li class="selected"><a href="requests" >Requests</a></li>
    </ul>
</div>
  <table class="tbl">  
  <thead>
    <tr>
      <th>Owner</th>
      <th>Dataset</th>
      <th>Volume</th>
      <th>Status</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for xuser, ds, request in requests %}
    <tr>
      <td>
        <a href="/my/user/{{ xuser.id }}">{{ xuser.full_name }}</a>
      </td>
      <td>
        <a href="/my/{{ lab.id }}/dataset/{{ ds.id }}">{{ ds.title }}</a>
      </td>
      {% if volumes.get(request.dataset_volume_id) %}
      <td>
        <a href="/my/{{ lab.id }}/volume/{{ request.dataset_volume_id }}">
                                  {{ volumes[request.dataset_volume_id] }}</a>
      </td>
      {% else %}
      <td> ALL </td>
      {% endif %}
      <td>{{ request.status_str }}</td>
      <td>{{ request.created|datetimeformat }}</td>
      <td>{{ request.updated|datetimeformat }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
