{% extends 'my/lab_layout.html' %}

{% block title %} Dashboard {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_projects.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/my_server.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/my_storage.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/my_sharing.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/autoresize.jquery.min.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
ppane = new ProjectsPane({{ lab.id }});
server = new Server({{ lab.id }});
server.initMountDialog();
storage = new Storage({{ lab.id }});
ppane.initProjectDialog();
ppane.parseHash();
sh = new Sharing({{ lab.id }});
sh.initSharingDialog();
{% endblock %}

{% block labbody %}
<div class="projects-pane">
    <div class="projects-aside">
        <ul>
            <li><a href="#" onclick="ppane.showAllProjects(); return false;">All projects</a></li>
            <li><a href="#" onclick="ppane.showNewForm(); return false;">New project</a></li>
        </ul>
        <div class="my-projects-pane p-pane">
            <h4><a href="#" onclick="ppane.showMyProjects(); return false;">My projects</a></h4>
            <ul></ul>
        </div>
  </div>
  <div class="pane-content"></div>
</div>

<div id="show-project-dialog"></div>
{% endblock %}
