{% extends 'my/lab_layout.html' %}

{% block title %}Lab - Servers{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_server.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
{% if servers %}
setInterval('updateLabServersStatus({{ lab.id }})', 15000);
initServersTable();
{% endif %}
{% endblock %}

{% block labbody %}
<div id="lab-servers">

  <p class="block-button">
    <a class="to-button" href="/my/{{ lab.id }}/servers/new">New server</a>
  </p>

  {{ message|messageformat }}

  {% if not servers %}
    <div class="neutral-message">No servers yet</div>
  {% else %}
    <table id="servers-tbl"></table>
    <div id="servers-pager"></div>
  {% endif %}

</div>
{% endblock %}
