{% extends 'my/lab_layout.html' %}

{% block title %} Lab - Settings {% endblock %}

{% block labbody %}

{{ message|messageformat }}

<form method="post">
  <div>
    <div>{{ form.name.label }}</div>
    <div>{{ form.name(tabindex=1)}}</div>
    {% if 'name' in form.errors %}
    <span class="form-error">{{ form.errors['name'][0] }}</span>
    {% endif %}
  </div>
  <div>
    <div>{{ form.type.label }}</div>
    <div>{{ form.type(tabindex=2) }}</div>
    {% if 'type' in form.errors %}
    <span class="form-error">{{ form.errors['type'][0] }}</span>
    {% endif %}
  </div>
  <div>
    <button class="to-button">Create</button> or
    <a href="/my/{{ lab.id }}">Cancel</a>
  </div>
</form>
{% endblock %}
