{% extends "my/lab_layout.html" %}

{% block title %} Datasets {% endblock %}

{% block labbody %}
{% if not datasets %}
<div class="neutral-message">No Datasets available so far.</div>
{% else %}
<div class="sharing-sections">
    <ul>
        <li class="selected"><a href="datasets" >Datasets</a></li>
        <li><a href="requests" >Requests</a></li>
    </ul>
</div>
<table class="tbl">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Title</th>
      <th>Description</th>
      <th>Public</th>
      <th>Status</th>
      <th>Request</th>
    </tr>
  </thead>
  <tbody>
    {% for dataset, xuser in datasets %}
    <tr>
      <td>
        <a href="/my/user/{{ xuser.id }}">{{ xuser.full_name }}</a>
      </td>
      <td>
        <a href="/my/{{ lab.id }}/dataset/{{ dataset.id }}">{{ dataset.title }}</a>
      </td>
      <td>{{ dataset.description }}</td>
      <td>{{ dataset.is_public_str }}</td>
      <td>{{ dataset.status_str }}</td>
      <td>
        <a href="/my/{{ lab.id }}/request/{{ dataset.id }}/new">New</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
