{% extends 'my/lab_layout.html' %}

{% block title %}Lab - Disks{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_storage.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
{% if storages %}
setInterval('updateLabStoragesStatus({{ lab.id }})', 15000);
initStoragesTable();
{% endif %}
{% endblock %}

{% block labbody %}

  <div class="block-button">
    <a class="to-button" href="/my/{{ lab.id }}/storage/new">New disk</a>
  </div>

  {{ message|messageformat }}

  {% if not storages %}
    <div class="neutral-message">No disks yet</div>
  {% else %}
    <table id="storages-tbl"></table>
    <div id="storages-pager"></div>
  {% endif %}

{% endblock %}
