{% extends 'my/lab_layout.html' %}

{% block title %}Plans{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_lab_payments.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
    labP = new LabPayments({{ lab.id }}, {{ now.year }}, {{ now.month }});
{% endblock %}

{% block labbody %}

<div class="lab-payments">
  <div class="years">
    <ul>
      {% for year in years %}
      <li value="{{ year }}">
        <a href="#" onclick="labP.setYear({{ year }}); return false;">{{ year }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="months">
    <ul>
      <li><a href="#" onclick="labP.setMonth(1);  return false;">January</a></li>
      <li><a href="#" onclick="labP.setMonth(2);  return false;">February</a></li>
      <li><a href="#" onclick="labP.setMonth(3);  return false;">March</a></li>
      <li><a href="#" onclick="labP.setMonth(4);  return false;">April</a></li>
      <li><a href="#" onclick="labP.setMonth(5);  return false;">May</a></li>
      <li><a href="#" onclick="labP.setMonth(6);  return false;">June</a></li>
      <li><a href="#" onclick="labP.setMonth(7);  return false;">July</a></li>
      <li><a href="#" onclick="labP.setMonth(8);  return false;">August</a></li>
      <li><a href="#" onclick="labP.setMonth(9);  return false;">September</a></li>
      <li><a href="#" onclick="labP.setMonth(10); return false;">October</a></li>
      <li><a href="#" onclick="labP.setMonth(11); return false;">November</a></li>
      <li><a href="#" onclick="labP.setMonth(12); return false;">December</a></li>
    </ul>
  </div>
  <div class="plans"></div>
</div>

{% endblock %}
