{% extends 'my/lab_layout.html' %}

{% block title %}Lab - Payments{% endblock %}

{% block labbody %}

{{ message|messageformat(5000) }}

<h4 class="current-plan">Current plan</h4>
<div class="plan left">
  <h4>{{ lab_plan.name_str }}</h4>
  <ul>
    <li>{{ lab_plan.price_str }}</li>
    <li>{{ lab_plan.cores_str }}</li>
    <li>{{ lab_plan.ram_str }}</li>
    <li>{{ lab_plan.storage_str }}</li>
  </ul>
  <a href="/my/{{ lab.id }}/payments/plans">Plan history</a>
  <a href="/my/{{ lab.id }}/payments/plans/upgrade">Change plan</a>
</div>

  <div class="dl-list-block">
    <h4>Balance for {{ now|datetimeformat }}</h4>
    <div class="block">
      <dl>
        <dt>Invoices</dt>
        <dd>&#36;{{ "%0.2f"|format(inv_total) }}</dd>

        <dt>This month</dt>
        <dd>&#36;{{ "%0.2f"|format(last_month_price) }}</dd>

        <dt>Total</dt>
        <dd class="dd-total">&#36;{{ "%0.2f"|format(price_total) }}</dd>
      </dl>
    </div>
  </div>

  {% if invoices %}
  <div class="dl-list-block">
    <h4>Unpaid bills</h4>
    <div class="block">
      <dl class="dl-active">
        {% for inv in invoices %}
        <dt onclick="window.location='{{ inv.url }}';">{{ inv.date.strftime('%B') }}</dt>
        <dd onclick="window.location='{{ inv.url }}';">&#36;{{ inv.price }}</dd>
        {% endfor %}
      </dl>
    </div>
    <div class="foot-links">
      <a href="/my/{{ lab.id }}/payments/invoices">All invoices</a>
    </div>
  </div>
  {% endif %}

{% endblock %}
