{% extends 'my/lab_layout.html' %}

{% block title %}Lab - Updates{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/events.js"></script>
{% endblock %}

{% block init %}
levents = new LastEvents('/my/{{ lab.id}}/updates/get');
levents.update();
levents.bind_scroll();
{% endblock %}

{% block labbody %}
  <table class="tbl events-tbl">
    <thead>
	  <tr>
            <th>Date</th>
	    <th>Event</th>
	  </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}
