{% extends "my/lab_layout.html" %}

{% block title %} Dataset Volume details {% endblock %}

{% block labbody %}
<div class="ds-view">
<table class="h-tbl">
    <caption>Dataset Volume details</caption>
    <tbody>
    <tr>
        <td>DataSet</td>
        <td>
            <a href="/my/{{lab.id}}/dataset/{{dataset.id}}">{{dataset.title}}</a>
        </td>
    </tr>
    <tr>
        <td>Serial</td>
        <td>{{ volume.serial }}</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>{{ volume.model }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ volume.status_str }}</td>
    </tr>
    <tr>
        <td>Size</td>
        <td>{{ volume.size|sizeformat }}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{ volume.created|datetimeformat }}</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>{{ volume.updated|datetimeformat }}</td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}
