{% extends 'my/layout.html' %}

{% block title %} {{ xuser.full_name }} {% endblock %}

{% block content %}
<div id="show-user" class="content">
    <div id="user-profile">
        <h4>User profile</h4>
        <div>
            <img src="{{ xuser.gravatar }}?size=80" alt="{{ xuser.full_name }}" title="{{ xuser.full_name }}">
        </div>
        <table class="h-tbl">
            <tbody>
                <tr>
                    <td>Full name</td>
                    <td>{{ xuser.full_name }}</td>
                </tr>
                <tr>
                    <td>Organization</td>
                    <td>{{ xuser.organization }}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{ xuser.department }}</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{{ xuser.title }}</td>
                </tr>
                <tr>
                    <td>Registered</td>
                    <td>{{ xuser.date_signup|datetimeformat }}</td>
                </tr>
                <tr>
                    <td>Last login</td>
                    <td>{{ xuser.last_login|datetimeformat }}</td>
                </tr>
            </tbody>
        </table>
        {% if xuser.personal_site %}
        <a href="/my/user/{{ xuser.id }}/goto">Pesonal site</a>
        {% endif %}
    </div>

    <div id="user-labs">
    {% if users %}
    <table class="tbl">
        <caption>User labs</caption>
        <thead>
            <tr>
            <th>Name</th>
            <th>Position</th>
            </tr>
        </thead>
        <tbody>
        {% for lab, rel in users %}
        <tr>
            <td>{{ lab.name }}</td>
            <td>{{ rel.perms_str }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
</div>
{% endblock %}
