{% extends "my/lab_layout.html" %}

{% block title %} Dataset details {% endblock %}

{% block labbody %}
<div class="ds-view">
<table class="h-tbl">
    <caption>Dataset details</caption>
    <tbody>
      <tr>
        <td>Title</td>
        <td>{{ dataset.title }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ dataset.description }}</td>
      </tr>
      <tr>
        <td>Public</td>
        <td>{{ dataset.is_public_str }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ dataset.status_str }}</td>
      </tr>
      <tr>
        <td>Owner</td>
        <td><a href="/my/user/{{ xuser.id }}">{{ xuser.full_name }}</a></td>
      </tr>
    </tbody>
</table>
{% if dataset_volumes %}
<table class="tbl attached-volumes">
    <caption>Attached Volumes</caption>
    <thead>
    <tr>
        <th>Serial</th>
        <th>Status</th>
        <th>Size</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    {% for volume in dataset_volumes %}
    <tr>
        <td>
          <a href="/my/{{ lab.id }}/volume/{{ volume.id }}">{{ volume.serial }}
          </a>
        </td>
        <td>{{ volume.status_str }}</td>
        <td>{{ volume.size|sizeformat }}</td>
        <td>{{ volume.created|datetimeformat }}</td>
        <td>{{ volume.updated|datetimeformat }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}
