{% extends 'my/lab_layout.html' %}

{% block title %}Lab - Databases{% endblock %}

{% block init %}
{% if u2lab.perms == u2lab.PERMS['owner'] %}
$('.lab-databases').editable('/my/{{ lab.id }}/databases', {
    name      : 'databases',
    loadurl   : '/my/{{ lab.id }}/databases/param',
    type      : 'textarea',
    cancel    : 'Cancel',
    submit    : 'Ok',
    indicator : 'Saving...',
    tooltip   : 'Click to edit databases info...',
    width     : 800,
    height    : 300
});
{% endif %}
{% endblock %}

{% block labbody %}
<div class="lab-databases">
{% if lab.databases_info %}
<pre>
{{ lab.databases_info }}
</pre>
{% elif u2lab.perms == u2lab.PERMS['owner'] %}
Click to edit databases info...
{% endif %}
</div>
{% endblock %}
