{% extends 'my/layout.html' %}

{% block title %} Browse people {% endblock %}

{% block content %}
<div id="show-users" class="content">

  <h3>People List</h3>

  <div id="people-list">
    {% for line in users %}
    <div class="row">
      {% for user in line %}
      <div class="user">
        <div class="user-pic">
          <img src="{{ user.gravatar }}?size=50" alt="{{ user.full_name }}" title=" {{ user.full_name }}">
        </div>
        <div class="user-info">
          <h4><a href="{{ user.url }}">{{ user.full_name }}</a></h4>
          <h5>{{ user.position_str }}</h5>
          <dl>
            {% if user.organization or user.department or user.title %}
            <dt>Organization</dt>
            <dd>{% if user.organization %}{{ user.organization }}{% else %}&nbsp;{% endif %}</dd>
            <dt>Department</dt>
            <dd>{% if user.department %}{{ user.department }}{% else %}&nbsp;{% endif %}</dd>
            <dt>Title</dt>
            <dd>{% if user.title %}{{ user.title }}{% else %}&nbsp;{% endif %}</dd>
            {% endif %}
          </dl>
          {% if user.personal_site %}
          <a href="/my/user/{{ user.id }}/goto">Personal site</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
