{% extends "my/lab_layout.html" %}

{% block title %} Sharings {% endblock %}

{% block head %}
<script src="/static/js/my_sharing.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
sh = new Sharing({{ lab.id }});
sh.initMountDialog();
sh.initSharingDialog();
sh.showDisks();
{% endblock %}

{% block labbody %}
<div class="sharing-sections">
    <ul>
        <li><a href="#" onclick="sh.showDisks(); return false;">My</a></li>
        <li><a href="#" onclick="sh.showWithMe(); return false;">Public</a></li>
    </ul>
    <div class="sharing-body"></div>
</div>

{% endblock %}
