{% if labs %}
<table class="tbl">
  <thead>
    <tr>
      <th>Lab name</th>
      <th>Owner</th>
      <th>Positions</th>
    </tr>
  </thead>
  <tbody>
  {% for lab, u2lab, owner, rel in labs %}
  <tr>
    <td>{{ lab.name }}</td>
    <td><a href="{{ owner.url }}">{{ owner.full_name }}</a></td>
    <td class="position-{{ lab.id }}">
      {% if rel %}
      {{ rel.perms_str }}
      {% else %}
      <a href="#" onclick="joinToLab({{ lab.id }}); return false;">join</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="neutral-message">Not labs</div>
{% endif %}
