{% extends 'my/lab_layout.html' %}

{% block title %}Members{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_lab_members.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
{% if is_owner %}
lab_members = new LabMembers({{ lab.id }});
{% endif %}
{% endblock %}

{% block labbody %}
<div id="lab-members">
    {% if is_owner %}
    <p class="block-button">
        <a class="to-button" href="#" onclick="lab_members.showForm(); return false;">Invite member</a>
    </p>
    <form class="add-new-lab-member-form" method="post">
        <div>
            <div><label for="email">E-mail</label></div>
            <div><input id="email" name="email" type="text" /></div>
        </div>
        <button class="to-button" onclick="lab_members.addMember(); return false;">Add</button> or
        <a href="#" onclick="lab_members.hideForm(); return false;">Cancel</a>
        </form>
    {% endif %}
    <table class="tbl user-tbl">
        <thead>
        <tr>
            <th></th>
            <th>Full name</th>
            <th>E-mail</th>
            <th>Position</th>
            {% if is_owner %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user, rel in users %}
            <tr id="user-{{ user.id }}" {% if rel.perms == rel.PERMS['waiting to be approved'] %}class="hl-row"{% endif %}>
            <td><a href="{{ user.url }}"><img src="{{ user.gravatar }}?size=30" title="{{ user.full_name }}"></a></td>
            <td><a href="{{ user.url }}">{{ user.full_name }}</a></td>
            <td>{{ user.email }}</td>
            <td class="relation">{{ rel.perms_str }}</td>
            {% if is_owner %}
            <td class="control">
            {% if rel.perms == rel.PERMS['waiting to be approved'] %}
            <a href="#" onclick="lab_members.confirmUser({{ user.id }}); return false;">Confirm</a> |
            <a href="#" onclick="lab_members.deleteUser({{ user.id }}, true); return false;">Reject</a>
            {% elif rel.perms == rel.PERMS['member'] %}
            <a href="#" onclick="lab_members.deleteUser({{ user.id }}, false); return false;">Delete</a>
            {% elif rel.perms == rel.PERMS['owner'] %}
            &nbsp;
            {% endif %}
            </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
