{% extends 'my/lab_layout.html' %}

{% block title %}Lab - Server{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_server.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
server = new Server({{ lab.id }}, {{ server.project_id }}, {{ server.id }});
server.initMountDialog();
server.enableMountButton();
server.setStatus('{{ server.status_str }}');
server.loadMountList();
server.startStatusMonitor();
{% if server_owner %}
server.enableEditButton();
{% endif %}
{% endblock %}

{% block labbody %}
<div id="show-server">

  {% if server_owner %}
  <div class="server-instruction {% if server.ip == server.NO_IP %}hidden{% endif %}">
    <h4>Start using this virtual machine</h4>
    <ol>
      <li>Connect to <a href="/my/help/openvpn">ScaleGenomics VPN</a></li>
      <li>Open terminal and use command:
        <p class="shell-cmd">ssh {{ server.username }}@<span class="server-ip">{{ server.ip_str }}</span></p>
        <a class="shell-cmd-a" href="ftp://{{ server.username }}@{{ server.ip_str }}">ftp://{{ server.username }}@<span class="server-ip">{{ server.ip_str }}</span></a>
      </li>
    </ol>
    <p class="email-us"><a href="mailto:support@scalegenomics.com?subject=Connection">Email us</a> if you have any difficulties.</p>
  </div>
  {% endif %}

  {{ message|messageformat }}

  <dl class="unit-dl">
    <dt>Name</dt>
    <dd>{{ server.name }}</dd>
    <dt>Description</dt>
    <dd>{{ server.ptag('description') }}</dd>
    <dt>Status</dt>
    <dd class="server-status">{{ server.status_str }}</dd>
    <dt>Ip</dt>
    <dd class="server-ip">{{ server.ip_str }}</dd>
    <dt>Core</dt>
    <dd>{{ server.cpu }}</dd>
    <dt>RAM</dt>
    <dd>{{ server.memory_str }}</dd>
    <dt>System disk size</dt>
    <dd>{{ server.size_str }}</dd>
    <dt>Image</dt>
    <dd>{{ server.image_name }}</dd>
    <dt>Created</dt>
    <dd>{{ server.created|datetimeformat }}</dd>
    <dt>Updated</dt>
    <dd>{{ server.updated|datetimeformat }}</dd>
    <dt>Created by</dt>
    <dd><a href="{{ owner.url }}">{{ owner.full_name }}</a></dd>
    <dt>Project</dt>
    <dd><a href="{{ project.url }}">{{ project.name }}</a></dd>
  </dl>

  {% if server_owner and not block_pane %}
  <ul class="small-buttons-pane">
    <li class="disabled">Start</li>
    <li class="disabled">Stop</li>
    <li class="disabled">Restart</li>
    <li class="disabled">Mount</li>
    <li class="disabled">Edit</li>
  </ul>
  {% endif %}
  <div class="server-mounted-storages"></div>

  {% if server_owner and not block_destroy %}
  <span class="dev-button">Create an image
    <span class="tooltip">
      <span>This feature is in development.</span>
      <span>For now, if you need to create an image, please <a href="mailto:support@scalegenomics.com?subject=Custom%20Image">contact us</a>.</span>
    </span>
  </span>
  <span class="destroy-button" onclick="server.showDestroyBlock(); return false;">Destroy</span>
  <div class="destroy-block">
      <span>Destroy server?</span>
      <div>
      <a href="#" class="to-button" onclick="server.destroy(); return false;">Destroy</a> or
      <a href="#" onclick="server.hideDestroyBlock(); return false;">Cancel</a>
      </div>
  </div>
  {% endif %}

  {% if not server_owner %}
  <div class="note">You can't control the server because you are not its owner.</div>
  {% endif %}

</div>
{% endblock %}
