{% extends 'my/lab_layout.html' %}

{% block title %} Disk {{ storage.name }} {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_storage.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/my_sharing.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
storage = new Storage({{ lab.id }}, {{ storage.id }}, {% if storage_owner %} true {% else %} false {% endif %});
storage.setStatus('{{ storage.status_str }}');
storage.startStatusMonitor();
{% if storage.is_type("NFS") %}
    sh = new Sharing({{ lab.id }});
    sh.loadSharings({{ storage.id }});
    {% if storage_owner and lab.status == lab.STATUS['active'] %}
    sh.initSharingDialog();
    {% endif %}
    {% if storage.is_type("NFS") %}
    sh.showMounts({{ storage.id }});
    {% endif %}
{% endif %}
{% endblock %}

{% block labbody %}
<div id="show-storage">
    {{ message|messageformat }}
    <h2><a href="{{ storage.url }}">{{ storage.name }}</a></h2>
    <div>Created by <a href="{{ owner.url }}">{{ owner.full_name }}</a></div>
    <div class="project-disk-description">{{ storage.ptag('description') }}</div>

    <dl class="unit-dl">
      <dt>Mount point</dt>
      <dd>{{ storage.alias }}</dd>

      <dt>Size</dt>
      <dd>{{ storage.size_str }}</dd>

      <dt>Status</dt>
      <dd class="storage-status">&nbsp;</dd>

      <dt>Type</dt>
      <dd>{{ storage.type_str }}</dd>

      <dt>Project</dt>
      <dd><a href="{{ project.url }}">{{ project.name }}</a></dd>

      <dt>Created</dt>
      <dd>{{ storage.created|datetimeformat }}</dd>

      <dt>Updated</dt>
      <dd>{{ storage.updated|datetimeformat }}</dd>

      {% if storage.is_type("LOCAL") %}
      <dt>Mounted on</dt>
      <dd>
        {% if rel %}
        <a href="{{ rel[0].url }}">{{ rel[0].name }}</a>
        {% else %}
        &nbsp;
        {% endif %}
      </dd>
      {% endif %}
    </dl>

    {% if storage_owner %}
    <div class="storage-action-list">
        <a class="to-button" href="{{ storage.url }}/edit">Edit</a>
        {% if storage.is_type("NFS") %}
        <span class="to-button" onclick="sh.openSharingDialog({{ storage.id }}); return false;">Share</span>
        {% endif %}
        {% if storage.is_type("LOCAL") %}
        <span class="to-button red-button" onclick="storage.showDestroyBlock(); return false;">Destroy</span>
        {% else %}
        <span class="to-button red-button hidden" onclick="storage.showDestroyBlock(); return false;">Destroy</span>
        {% endif %}
    </div>
    <div class="destroy-block">
        {% if rel %}
        <span>Please unmount the disk from the <a href="{{ rel[0].url }}">{{ rel[0].name }}</a> server.</span>
        {% else %}
        <span>Destroy disk?</span>
        <div>
            <a href="#" class="to-button" onclick="storage.destroy(); return false;">Destroy</a> or
            <a href="#" onclick="storage.hideDestroyBlock(); return false;">Cancel</a>
        </div>
        {% endif %}
    </div>
    {% elif lab.is_status('active') %}
    <div class="note">You can't control disk because you are not the owner.</div>
    {% endif %}

    <div class="storage-nfs-mounts"></div>
    <div class="storage-sharings"></div>
</div>
{% endblock %}
