{% extends 'my/layout.html' %}

{% block title %} My labs {% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/my_my_labs.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block content %}
<div id="my-labs" class="content">
  <h3>My labs</h3>
  <div id="labs">
    {% if labs %}
    {% for user, lab, u2l in labs %}
    <div id="lab-{{ lab.id }}" class="short-lab-info">
      {% if u2l.perms in [u2l.PERMS['member'], u2l.PERMS['owner']] %}
      <h3><a href="/my/{{ lab.id }}">{{ lab.name }}</a></h3>
      {% else %}
      <h3>{{ lab.name }}</h3>
      {% endif %}
      <div class="info">
        {% if user == 'self' %}
        <img src="{{ session.gravatar }}?size=80" alt="Lab owner avatar">
        <span>{{ session.full_name }}</span>
        {% else %}
        <img src="{{ user.gravatar }}?size=80" alt="Lab owner avatar">
        <span>{{ user.full_name }}</span>
        {% endif %}
        <p>Type: {{ lab.type }}</p>
        <p>Position: {{ u2l.perms_str }}</p>
      </div>
      {% if u2l.perms != u2l.PERMS['owner'] %}
      <ul class="action-list">
        <li><a href="#" onclick="leaveLab({{ lab.id }}); return false;">leave</a></li>
      </ul>
      {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div class="neutral-message">You don't have any labs yet.</div>
    {% endif %}
  </div>
</div>
{% endblock %}
