{% extends 'my/lab_layout.html' %}

{% block title %}Update plan{% endblock %}

{% block labbody %}
<h4>Change plan</h4>

<div class="plans">
  {% for plan in plans %}
  {% if plan.name == plan.PLANS['Trial'] %}
      {% if lab_plan.name == lab_plan.PLANS['Trial'] %}
      <div class="plan">
        <h4>{{ plan.name_str }}</h4>
        <ul>
          <li>{{ plan.price_str }}</li>
          <li>{{ plan.cores_str }}</li>
          <li>{{ plan.ram_str }}</li>
          <li>{{ plan.storage_str }}</li>
        </ul>
        {% if lab_plan.plan_id != plan.id %}
          <a href="/my/{{ lab.id }}/payments/plans/upgrade/{{ plan.id }}">Upgrade</a>
        {% else %}
          <span>Now</span>
        {% endif %}
      </div>
      {% endif %}
    {% else %}
      <div class="plan">
        <h4>{{ plan.name_str }}</h4>
        <ul>
          <li>{{ plan.price_str }}</li>
          <li>{{ plan.cores_str }}</li>
          <li>{{ plan.ram_str }}</li>
          <li>{{ plan.storage_str }}</li>
        </ul>
        {% if lab_plan.plan_id < plan.id or lab_plan.plan_id > plan.id%}
          <a href="/my/{{ lab.id }}/payments/plans/upgrade/{{ plan.id }}">Choose</a>
        {% else %}
          <span>Now</span>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}

  {% if lab_plan.name == lab_plan.PLANS['Personal'] %}
  <div class="plan">
    <h4>{{ lab_plan.name_str }}</h4>
    <ul>
      <li>{{ lab_plan.price_str }}</li>
      <li>{{ lab_plan.cores_str }}</li>
      <li>{{ lab_plan.ram_str }}</li>
      <li>{{ lab_plan.storage_str }}</li>
    </ul>
    <span>Now</span>
  </div>
  {% endif %}
  <div class="personal-plan">
    <a href="mailto:support@scalegenomics.com">Contact us</a> if you need a personal plan.
  </div>
</div>

{% endblock %}
