{% extends "my/layout.html" %}

{% block title %} About {% endblock %}

{% block content %}
<div class="content">
    <div class="about">
        <h2>About Scale Genomics</h2>
        <p><b>Scale Genomics</b> is a cloud-based data storage, computation, and collaboration platform for Next Generation Sequencing. The platform is built on the very robust data storage foundation that has been holding more than a petabyte of data and over 2 billion files for the past 10 years without a loss. The storage solution is used by several million people and such companies as Sears, Telecom Italia and many others. We now bring our storage prowess to the problems of the 21st century biology data management.</p>

        <p>Put all of the primary data in the <b>Scale Genomics Cloud</b>. Keep your data on our cloud taking advantage of low storage rates and automatic backups. Run scripts on your data and use our service to collaborate with colleagues worldwide by sharing your data and virtual machines with all the programs already installed and take advantage of the access to large public datasets.</p>

        <p>Run analyses in Scale Genomics Cloud using any software or your own scripts. SG Cloud is uniquely built to accommodate any third-party software and scripts, and any environment requirements. We do not impose use of any software, but rather provide a great platform for fast, convenient, time- and money-saving research. SG cloud provides both a menu of powerful solutions, as well as a platform/environment for running scripts in Perl, Python, mySQL, R and other languages. You are the root user with all the resulting flexibility.</p>

        <p>Outsource technology management to top professionals. Focus on the intellectual, deep, scientific part of your work, and leave technology issues to us – we have managed billions of files and built systems trusted by millions of clients, we know how to run the tech side - so that you can run the scientific side.</p>

        <p>Collaborate with your colleagues worldwide. Wherever your colleagues are, and wherever you and your colleagues travel, you can always access data and programs in our cloud, cooperate with others, easily share your data and/or research results with colleagues, and enjoy the truly 21st century environment for scientific discoveries.</p>

        <p>Save time and money. Forget any issues related to storing, backing up, managing your data, running analytical software, collaborating with remotely located colleagues. Scale Genomics cloud will take care of it all, and will save you significant time and money. Start with a free trial and then proceed to a very affordable, <a href="/subscription-plans/">$99 a month plan</a> in you have access to 8 cores, 12GB RAM, and 4TB of storage that you can use in any combination when you create virtual machines. You can upgrade to more powerful solutions whenever you have a need and then go back to a <a href="/subscription-plans/">$99 plan</a> whenever you want.</p>
    </div>
</div>
{% endblock %}
