{% extends "my/layout.html" %}

{% block title %} Contact Us {% endblock %}

{% block content %}
<div class="content">

    <div class="contact-us">
        <h2>Contact Us</h2>

        <div class="cu-block">For any question or request, email us at <a href="mailto:support@scalegenomics.com">support@ScaleGenomics.com</a>.</div>

        <div class="cu-block"><p>Our fax:</p> +1-866-253-4142</div>

        <div class="cu-block">
            <p>Our addresses:</p>
            <div>
                <p>Scale Genomics, Inc.</p>
                <p>555 Bryant St. #321</p>
                <p>Palo Alto, CA 94301</p>
                <p>USA</p>
            </div>
            <div>
                <p>Scale Genomics, Inc.</p>
                <p>2932 Cliffrose Crescent</p>
                <p>Coquitlam, BC V3E 2T2</p>
                <p>Canada</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
