{% extends 'my/layout.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/sso.css" type="text/css">
{% endblock %}

{% block content %}
<div class="login-content">

    {% if enable_login and not enable_login.yesno %}
    <div class="neutral-message">
        {{ enable_login.ptag("value") }}
    </div>
    {% else %}
    <form method="post">
        {% if message %}<p class="message">{{ message }}</p>{% endif %}
        <div>
            <div>{{ form.username.label }}</div>
            <div>{{ form.username(tabindex=1) }}</div>
            {{ form|formerror('username') }}
        </div>
        <div>
            <div>{{ form.password.label }}</div>
            <div>{{ form.password(tabindex=2) }}
                <a href="/restore" class="forget-password">Forgot it?</a>
            </div>
            {{ form|formerror('password') }}
        </div>
        <button class="to-button" tabindex="3">Login</button>
    </form>
    {% endif %}
</div>
{% endblock %}
