{% extends "my/layout.html" %}

{% block title %} Subscription Plans {% endblock %}

{% block content %}
<div class="content">
    <div class="help-plans">
        <h2>Subscription Plans</h2>
        <table class="tbl plans-table">
            <thead>
                <tr>
                    {% for plan in plans %}
                    <th>{{ plan.name_str }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for plan in plans %}
                    <td>{{ plan.cores_str }}</td>
                {% endfor %}
                </tr>
                <tr>
                {% for plan in plans %}
                    <td>{{ plan.ram_str }}</td>
                {% endfor %}
                </tr>
                <tr>
                {% for plan in plans %}
                    <td>{{ plan.storage_str }}</td>
                {% endfor %}
                </tr>
                <tr>
                {% for plan in plans %}
                    <td>{{ plan.price_str }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
