{% extends 'my/layout.html' %}

{% block title %}Profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/sso.css" type="text/css">
{% endblock %}


{% block content %}
<div id="profile">

  <form id="user_data" method="post">

    {{ profile_message|messageformat }}

    <div>
      <div><label for="username">Username</label></div>
      <div><input value="{{ user.username }}" name="username" id="username" type="text" readonly="readonly" ></div>
    </div>
    <div>
      <div><label for="email">E-mail</label></div>
      <div><input value="{{ user.email }}" name="email" id="email" type="text" readonly="readonly" ></div>
    </div>
    <div>
      <div><label for="first-name">First name</label></div>
      <div><input value="{{ user.first_name }}" name="first-name" id="first-name" type="text" tabindex="1"></div>
    </div>
    <div>
      <div><label for="last-name">Last name</label></div>
      <div><input value="{{ user.last_name }}" name="last-name" id="last-name" type="text" tabindex="2"></div>
    </div>

    <div>
      <div><label for="organization">Organization</label></div>
      <div><input value="{{ user.organization }}" name="organization" id="organization" type="text" tabindex="3"></div>
    </div>

    <div>
      <div><label for="department">Department</label></div>
      <div><input value="{{ user.department }}" name="department" id="department" type="text" tabindex="4"></div>
    </div>

    <div>
      <div><label for="title">Title</label></div>
      <div><input value="{{ user.title }}" name="title" id="title" type="text" tabindex="5"></div>
    </div>

    <div>
      <div><label for="phone">Phone</label></div>
      <div><input value="{{ user.phone }}" name="phone" id="phone" type="text" tabindex="6"></div>
    </div>

    <div>
      <div><label for="personal-site">Personal site</label></div>
      <div><input value="{{ user.personal_site }}" type="text" name="personal-site" id="personal-site" tabindex="7"></div>
    </div>

    <div><button class="to-button" tabindex="8">Save</button></div>
  </form>

  <div id="gravatar">
    <img src="{{ session.gravatar }}?size=80" alt="{{ session.full_name }}">
    <p>Change your avatar at <a href="http://gravatar.com/" target="_blank">gravatar.com</a><p>
  </div>

  <form id="change-password" method="post">
    {% if password_message %}
    <p class="message">{{ password_message }}</p>
    {% endif %}
    <div>
      <div><label for="old-password">Old password</label></div>
      <div><input name="old-password" id="old-password" type="password" tabindex="10"></div>
    </div>
    <div>
      <div><label for="new-password">New password</label></div>
      <div><input name="new-password" id="new-password" type="password" tabindex="11"></div>
    </div>
    <div>
      <div><label for="confirm-new-password">Confirm new password</label></div>
      <div><input name="confirm-new-password" id="confirm-new-password" type="password" tabindex="12"></div>
    </div>

    <div><button class="to-button" tabindex="13">Change password</button></div>

  </form>

</div>
{% endblock %}
