{% extends 'my/layout.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/sso.css" type="text/css">
{% endblock %}

{% block content %}
<div class="restore-password-content">

{{ message|messageformat }}

<form method="post">
  <div>
    <div>{{ form.email.label }}</div>
    <div>{{ form.email(tabindex=1) }}</div>
    {% if 'email' in form.errors %}
    <span class="form-error">{{ form.errors['email'][0] }}</span>
    {% endif %}
  </div>
  <div>
    <button class="to-button">Restore</button>
  </div>
</form>

</div>
{% endblock %}
