{% extends 'my/layout.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/sso.css" type="text/css">
{% endblock %}

{% block content %}
<div class="renew-password-content">

  <form method="post">
    <div>
      <div>{{ form.new_password.label }}</div>
      <div>{{ form.new_password(tabindex=1) }}</div>
      {% if 'new_password' in form.errors %}
      <span class="form-error">{{ form.errors['new_password'][0] }}</span>
      {% endif %}
    </div>
    <div>
      <div>{{ form.confirm_password.label }}</div>
      <div>{{ form.confirm_password(tabindex=2) }}</div>
      {% if 'confirm_password' in form.errors %}
      <span class="form-error">{{ form.errors['confirm_password'][0] }}</span>
      {% endif %}
    </div>
    <div>
      <button class="to-button">Update</button>
    </div>
  </form>

</div>
{% endblock %}
