{% extends 'my/layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/sso.css" type="text/css">
<script type="text/javascript" src="/static/js/form_handler.js?{{ TIMESTAMP }}"></script>
<script type="text/javascript" src="/static/js/sso_signup.js?{{ TIMESTAMP }}"></script>
{% endblock %}

{% block init %}
initSignupForm();
{% endblock %}

{% block content %}
<div class="signup-content">
  {% if message %}
  <p class="message">{{ message }}</p>
  {% endif %}

  <form method="post" onsubmit="validSignupForm(); return false;">
    <div>
      <div><label for="username">Username</label></div>
      <div><input name="username" id="username" type="text" tabindex="1"></div>
    </div>
    <div>
      <div><label for="email">E-mail</label></div>
      <div><input name="email" id="email" type="text" tabindex="2"></div>
    </div>
    <div>
      <div><label for="first_name">First name</label></div>
      <div><input name="first_name" id="first_name" type="text" tabindex="3"></div>
    </div>
    <div>
      <div><label for="last_name">Last name</label></div>
      <div><input name="last_name" id="last_name" type="text" tabindex="4"></div>
    </div>
    <div>
      <div><label for="password">Password</label></div>
      <div><input name="password" id="password" type="password" tabindex="5"></div>
    </div>
    <div>
      <div><label for="confirm_password">Confirm password</label></div>
      <div><input name="confirm_password" id="confirm_password" type="password" tabindex="6"></div>
    </div>
    <fieldset>
      <div>
        <div><label for="organization_name">Organization name</label></div>
        <div><input name="organization_name" id="organization_name" type="text" tabindex="7"></div>
      </div>
      <div>
        <div><label for="department">Department</label></div>
        <div><input name="department" id="department" type="text" tabindex="8"></div>
      </div>
      <div>
        <div><label for="title">Title</label></div>
        <div><input name="title" id="title" type="text" tabindex="9"></div>
      </div>
    </fieldset>
    <div>
      <div><label for="phone">Phone</label></div>
      <div><input name="phone" id="phone" type="text" tabindex="10"></div>
    </div>
    <div>
      <div><label for="how_how">How did you find out about SG</label></div>
      <div><textarea name="how_how" id="how_how" cols="40" rows="10" tabindex="11"></textarea></div>
    </div>
    <div>
      <div><label for="tell_us">Tell us something about your research</label></div>
      <div><textarea name="tell_us" id="tell_us" cols="40" rows="10" tabindex="12"></textarea></div>
    </div>
    <div>
      <button class="to-button" tabindex="13">Sign Up</button>
    </div>
  </form>
</div>
{% endblock %}
