{% extends "my/layout.html" %}

{% block title %} Team {% endblock %}

{% block content %}
<div class="content">

    <div class="team">
        <div id="dpetrov" class="vcard">
            <img class="photo" src="/static/content/authors/DP.jpg" alt="Dmitri Petrov">
            <p><a href="/team" class="fn url">Dmitri Petrov</a>, <span class="role">Co-Founder</span>. Ph.D., J.F. in Biology from <a href="http://www.harvard.edu/">Harvard University</a>, currently Professor of Biology at <a href="http://www.stanford.edu/">Stanford University</a>. <a href="http://petrov.stanford.edu/">The Petrov Lab</a> focuses on genetics, genomics, computational biology and applications of the next generation sequencing technology. Author of 70+ articles in genetics and evolution, editor of PLoS Genetics, Journal of Molecular Evolution, Mobile DNA, Genome Biology and Evolution.</p>
            <span class="org">Scale Genomics</span>
        </div>

        <div id="ddon" class="vcard">
            <img class="photo" src="/static/content/authors/DD.jpg" alt="Dmitri Don">
            <p><a href="/team" class="fn url">Dmitri Don</a>, <span class="role">Co-Founder</span> and CTO. Previously: Fotki.com, About.com, New York Public Library, Warner Brothers, Olympus, Smithsonian, RCN.com and MasterCard. Developed one of the leading PR portals of the Dotcom Era, Courtney Pulitzer’s Cocktails with Courtney.</p>
            <span class="org">Scale Genomics</span>
        </div>

        <div id="ahirsh" class="vcard">
            <img class="photo" src="/static/content/authors/AEH2.jpg" alt="Aaron E. Hirsh">
            <p><a href="/team" class="fn url">Aaron E. Hirsh</a><span class="n"><span class="given-name">Aaron E.</span> <span class="family-name">Hirsh</span></span>, <span class="role">Advisor</span>. Ph.D. in Biology from Stanford University, B.A. in Biology from Princeton University. Dr. Hirsh’s scientific publications are in three main areas: the population genetics of infectious disease; the evolution of genomes; and theoretical models of evolution. He was a founder of the biotechnology company Intercell, and currently serves on the boards of Roberts and Co. Scientific Publishing and The Vermilion Sea Institute. Over the past five years, he has turned his attention to writing about biology for a broader audience, and his work has been published in the New York Times, The International Herald Tribune, and The Best American Nature and Science Writing. His first book will be published next  year by Farrar, Straus and Giroux.</p>
            <span class="org">Scale Genomics</span>
        </div>
    </div>
</div>
{% endblock %}
