{% extends "my/layout.html" %}

{% block title %} Term of service {% endblock %}

{% block content %}
<div class="terms">

    <div class="terms-block">
        <h2>Terms of Service</h2>
        <p>Scale Genomics has a number of regulations by which its members are expected to abide. Please familiarize yourself with our Terms of Service policy before you open your Scale Genomics account. Check the checkbox in the &ldquo;Terms of Service&rdquo; section by clicking in it only if you understand and agree to observe our rules. If you attempt to submit this form without checking this box, you will be returned to the form and prompted to check it.</p>
    </div>

    <div class="terms-block">
        <h4>Terms of Service</h4>
        <p>Scale Genomics is the owner and operator of <a href="//scalegenomics.com">ScaleGenomics.com</a>. Registered members of <a href="//scalegenomics.com">ScaleGenomics.com</a> can upload genomic data for storage and computational analysis.</p>
    </div>

    <div class="terms-block">
        <h4>Modifications</h4>
        <p>Scale Genomics reserves the right to modify any part of this Agreement at any time in its sole discretion, this includes but is not limited to any storage and computational terms, and any functionality. Any modification is effective immediately upon posting on this page. If any modification to this Agreement is unacceptable to you, you may immediately terminate the Services by closing your account. However, if you do not terminate the Services, or continue to use the Services following modification to this Agreement, your continued use will mean that you have accepted that modification. We will notify about any changes by sending an email to the address with you registered with us.<p>
    </div>

    <div class="terms-block">
        <h4>Acceptable Use</h4>
        <p>Your use of the services provided by Scale Genomics is subject to the following agreement. Violations of this agreement may result in termination of your account with or without notice. Scale Genomics recommends that members maintain their own backups of any &lsquo;irreplaceable&rsquo; data.</p>
    </div>

    <div class="terms-block">
        <h4>Membership</h4>
        <p>Membership is available to anyone who provides all required information including your name, and an accurate and legitimate email address.</p>
    </div>

    <div class="terms-block">
        <h4>Fees</h4>
        <p>By providing Scale Genomics with your payment information, you warrant that all the information that you submit is true and accurate, including your credit card number and expiration date, and you agree to pay the fees as explained on Scale Genomics Website. We accept major credit cards, PayPal, money orders and checks payable in US dollars. Contact us if you have any questions. <b>Your membership is personal to you and or your lab, company or research group, and you can not transfer or give your login and password to others.</b> Your fees are non-refundable and we do not refund charges for unused services. By acquiring Scale Genomics Membership you agree to recurring billing: As a convenience to you, we can automatically renew your fees, unless you cancel your account. You will be able to cancel the recurrent billing any time by contacting our Customer Service at  <a href="mailto:support@scalegenomics.com">support@ScaleGenomics.com</a>. (Scale Genomics would appreciate your feedback and hearing the reasons why you are canceling – any criticism is welcome.)</p>
    </div>

    <div class="terms-block">
        <h4>Prohibited Use</h4>
        <p>You may not use Scale Genomics (1) in any manner that violates any law, regulation, treaty or tariff or infringes on the legal rights of any third party, (2) in any manner which is defamatory, fraudulent, indecent, offensive or deceptive, (3) to threaten, harass, abuse or intimidate others, (4) to damage the name or reputation of Scale Genomics, its affiliates, or subsidiaries, (5) to break security on any computer network, or to access an account that does not belong to you, and (6) in any manner that interferes with other customers use and enjoyment of the services provided by Scale Genomics.</p>
    </div>

    <div class="terms-block">
        <h4>Prohibited Content</h4>
        <p>As used herein, &ldquo;content&rdquo; shall mean all data: binaries, text, graphics (including avatars, if applicable), photographs, pictures, drawings, animation, audio, video, and any other material submitted, posted, viewed, transmitted, reproduced and/or distributed by any person or entity in connection with Scale Genomics.</p>
        <p>You are prohibited from storing, posting, distributing or transmitting any unlawful content at Scale Genomics.</p>
    </div>

    <div class="terms-block">
        <h4>Protection of Intellectual Property</h4>
        <p>Scale Genomics complies with <a href="http://www.copyright.gov/legislation/dmca.pdf">The Digital Millennium Copyright Act (&ldquo;DMCA&ldquo;)</a>, respects the intellectual property rights and requires that all users respected DMCA and intellectual property rights of others. By using Scale Genomics services you certify that your use does not infringe upon anybody’s intellectual property. Scale Genomics has been and will continue to vigorously enforce DMCA and to respond quickly to any allegations of intellectual property infringement.</p>
        <p>Scale Genomics does not allow any copyright infringement and will, if notified properly and if not satisfied with a response by an accused party, remove or disable access to such content. Scale Genomics reserves the right to remove or disable access to content without prior notice as well as to terminate accounts and/or Scale Genomics membership of users whom Scale Genomics determines to be repeat infringers and/or violators of any other clauses of Scale Genomics Terms of Service.</p>
        <p>Scale Genomics may be required to disclose information to individuals asserting rights under the DMCA. By using Scale Genomics you authorize Scale Genomics to release information about you if required by law or subpoena, without any notice to you. By using Scale Genomics, you agree that you, and not Scale Genomics, are responsible for any violations of any intellectual property rights in any content that you upload to Scale Genomics.</p>
        <p>If you believe that you are the owner of intellectual property which was copied in such a way by someone on Scale Genomics site that such copying represents violation of your intellectual property rights, please email <a href="mailto:support@scalegenomics.com">support@ScaleGenomics.com</a> with the following information included in your Claim Letter (please note that ALL information listed below is required from you in order for us to act upon your complaint):</p>

        <ol>
            <li>Your/your company/organization name and contact information and a description of your rights including a signature of the owner of the claimed rights or a party duly authorized to act on behalf of the owner</li>
            <li>A description of the property in question which you claim to be yours including the URL (location) of the media on Scale Genomics Website, if applicable, or a screenshot (image), if applicable, and a statement that you have a good faith belief that the use of said material has not been authorized by the copyright owner, its agent, or the Law</li>
            <li>A statement by you (the owner or representative), made under penalty of perjury, that the above information in your Claim Letter is accurate and that you are either the owner of copyright or intellectual property or authorized to act on behalf of the owner.</li>
        </ol>

        <p>Upon receipt of a proper notice as described above, Scale Genomics will confirm the existence of the alleged infringing content on Scale Genomics site, notify the user(-s) who posted the alleged infringing content, and take whatever action, in its sole discretion, it deems appropriate, including removal of the alleged infringing content from Scale Genomics site if Scale Genomics, at its sole discretion, deems evidence submitted in the claim sufficient and/or infringement obvious. A user who posted an alleged infringing content may respond to Scale Genomics notice by showing that either: (1) the infringing content has been removed or (2) the he/she has a an appropriate trademark registration or an appropriate valid license covering the use of the content or (3) that posting of the content does not, in fact, infringe upon the alleging party’s rights. If Scale Genomics determines, at its own full discretion, that the user who had posted content allegedly violating someone’s intellectual property rights, does not, in fact, infringe upon the alleging party’s rights and does not violate DMCA, then Scale Genomics will not remove, or will restore, the content in question.</p>

        <p>Notwithstanding the foregoing, Scale Genomics will promptly comply with the terms of any court order relating to alleged trademark infringement by any user of Scale Genomics.</p>
    </div>

    <div class="terms-block">
        <h4>Sales Taxes</h4>
        <p>Scale Genomics.com shall automatically charge applicable sales tax for orders to be delivered to addresses within California.</p>
    </div>

    <div class="terms-block">
        <h4>Termination</h4>
        <p>Scale Genomics may terminate any membership and delete any and all information, communications and data at any time, without notice, for conduct violating this Agreement or other policies or guidelines set forth by SCALE GENOMICS and elsewhere on the Scale Genomics web site.</p>
    </div>

    <div class="terms-block">
        <h4>Arbitration Clause</h4>
        <p>In the event a dispute shall arise between the parties to this agreement, it is hereby agreed that the dispute shall be referred to a United States Arbitration and Mediation (USA&amp;M) office to be designated by USA&amp;M National Headquarters for arbitration in accordance with the applicable USA&amp;M Rules of Arbitration. The arbitrator’s decision shall be final and legally binding and judgment may be entered thereon. Each party shall be responsible for its share of the arbitration fees in accordance with the applicable Rules of Arbitration. In the event a party fails to proceed with arbitration, unsuccessfully challenges the arbitrator’s award, or fails to comply with the arbitrator’s award, the other party is entitled to costs of suit, including a reasonable attorney’s fee for having to compel arbitration or defend or enforce the award.</p>
    </div>

    <div class="terms-block">
        <h4>Force Majeure</h4>
        <p>Scale Genomics shall not be liable for any failure or delay in performance under this Agreement to the extent said failures or delays are proximately caused by causes beyond that party’s reasonable control and occurring without its fault or negligence, including, without limitation, failure of suppliers, subcontractors, and carriers, or party to substantially meet its performance obligations under this Agreement, provided that, as a condition to the claim of non-liability, the party experiencing the difficulty shall give the other prompt written notice, with full details following the occurrence of the cause relied upon. Dates by which performance obligations are scheduled to be met will be extended for a period of time equal to the time lost due to any delay so caused.</p>
    </div>

    <div class="terms-block">
        <h4>LIMITATION OF LIABILITY</h4>
        <p>UNDER NO CIRCUMSTANCES, INCLUDING BUT NOT LIMITED TO NEGLIGENCE, SHALL Scale Genomics, ITS AFFILIATES AND ANY OF THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AGENTS OR OTHER REPRESENTATIVES BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR AGGRAVATED DAMAGES (INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF DATA, NEGLIGENCE OR FAILURE TO MONITOR CONTENT OF THE WEBSITE, LOSS OF INCOME OR PROFIT, LOSS OF OR DAMAGE TO PROPERTY AND THIRD PARTY CLAIMS) ARISING OUT OF YOUR USE OR INABILITY TO USE SCALE GENOMICS.COM OR INABILITY TO USE SCALE GENOMICS.COM PROPERLY OR TO YOUR FULL SATISFACTION, ANY OF SCALE GENOMICS.COM’S CONTENT, SERVICES, PRODUCTS AND/OR ANY RELATED SOFTWARE, EVEN IF SCALE GENOMICS.COM OR AN AUTHORIZED SCALE GENOMICS.COM REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT SHALL SCALE GENOMICS’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT, NEGLIGENCE, OR OTHERWISE) EXCEED THE AMOUNT PAID BY YOU, IF ANY, FOR ACCESSING THE SCALE GENOMICS.COM WEB SITE.</p>
        <p>In recognition of the relative risks and benefits of Internet business to Scale Genomics, Inc., the risks have been allocated such that you agree, to the fullest extent permitted by law, to limit the liability Scale Genomics for any and all claims, losses, costs, damages of any nature whatsoever or claims expenses from any cause or causes, including attorneys’ fees and costs and expert witness fees and costs, so that the total aggregate liability of Scale Genomics shall not exceed $100, or your total fees and costs, whichever is smaller. It is intended that this limitation apply to any and all liability or cause of action however alleged or arising, unless otherwise prohibited by law.</p>
        <p>PROVISIONS OF THIS CHAPTER (“LIMITATION OF LIABILITY”) SHALL SURVIVE THE TERMINATION OF YOUR RIGHT TO USE THIS SITE.</p>
        <p>YOU ACKNOWLEDGE THAT YOU WILL BE FULLY LIABLE FOR ALL DAMAGES RESULTING DIRECTLY OR INDIRECTLY FROM YOUR USE OF THIS SITE.</p>
    </div>

    <div class="terms-block">
        <h4>Privacy</h4>
        <p>Scale Genomics will not release any details regarding the member to any third party, except as required by law. Scale Genomics understands and respects your desire for privacy. Scale Genomics will not disclose any content posted by you unless required to do so by law or in the good-faith belief that such action is necessary to: (1) comply with the law or comply with a legal process served on Scale Genomics, (2) protect and defend the rights of Scale Genomics and SCALE GENOMICS, INC., or (3) act in an emergency to protect the personal safety of our guests or the public. Read our Privacy Policy here.</p>
    </div>

    <div class="terms-block">
        <h4>Copyright and Trademark</h4>
        <p>It is the obligation of the individual members to ensure that the posting of their data is not violating any copyright. Members are solely responsible for their data. If you feel a member is violating your copyright, please contact that member first to amicably resolve the issue.

        <p>Scale Genomics and SCALE GENOMICS, INC. claim no ownership rights in the content you place on your Scale Genomics albums. We will not use Member’s data for marketing purposes or any other purposes without obtaining the Member’s express permission.</p>

        <p>All images, text and any other content on this site are protected by copyright, trademark, patent or other proprietary rights and laws. Scale Genomics reserves its rights in and to all other content contained in the web site. Unless otherwise noted, all content, other than that Member’s data uploaded and stored at Scale Genomics site, is copyrighted by Scale Genomics: &copy; SCALE GENOMICS. All Rights Reserved.</p>
    </div>
</div>
{% endblock %}
